

$primary:             #3c7ded !default;//4745d2;
//$secondary:           #1d34a8 ;//1d34a8;
$success:             #0ecf97;
$warning:             #efbd46;
$danger:              #ef5f5e;
$info:                #39afd1;
$body-bg:             #f3f3f5;
$bg-gray:             #6c757d;
$bg-dark:             #111726;
// social media color
$youtube:             #ff0002;
$facebook:            #1877F2;
$google:              #DB4437;
$linkedin:            #007bb6;
$twitter:             #1dcaff;
$whatsapp:            #25D366;
$instagram:           #405DE6;
$github:              #6e5494;
$pinterest:           #e62523;

$base-bg: rgb(255, 255, 255);

$enable-blue-mode: true;
$enable-sea-mode: true;




