<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Accordions & Collapse</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Base UI</a></li>
                    <li class="breadcrumb-item active">Accordions & Collapse</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Basic Accordion</h5>
            </div>
            <div class="card-body">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is shown by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default,
                                until the collapse plugin adds the appropriate classes that we use to style each
                                element. These classes control the overall appearance, as well as the showing and hiding
                                via CSS transitions. You can modify any of this with custom CSS or overriding our
                                default variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Flush Accordion</h5>
            </div>
            <div class="card-body">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion
                                body.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse show"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
                                body. Let's imagine this being filled with some actual content.</div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Placeholder content for this accordion, which is intended to
                                demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
                                body. Nothing more exciting happening here in terms of content, but just filling up the
                                space to make it look, at least at first glance, a bit more representative of how this
                                would look in a real-world application.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Color content Accordion</h5>
            </div>
            <div class="card-body">
                <div class="accordion" id="accordion-5" role="tablist">
                    <div class="card ">
                        <div class="card-header p-3" role="tab" id="heading-1">
                            <h6 class="mb-0">
                                <a data-bs-toggle="collapse" href="#collapse-1" aria-expanded="true"
                                    aria-controls="collapse-1" class="">
                                    What is Lorem Ipsum?
                                </a>
                            </h6>
                        </div>
                        <div id="collapse-1" class="collapse show" role="tabpanel" aria-labelledby="heading-1"
                            data-bs-parent="#accordion-5">
                            <div class="card-body bg-info text-white">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="/img/dog-001.jpg" class="mw-100" alt="image">
                                    </div>
                                    <div class="col-9">
                                        <p class="mb-0">You can pay for the product you have purchased using credit
                                            cards, debit cards, or via online banking.
                                            We also on-delivery services.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-3" role="tab" id="heading-2">
                            <h6 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-2" aria-expanded="false"
                                    aria-controls="collapse-2">
                                    Where does it come from?
                                </a>
                            </h6>
                        </div>
                        <div id="collapse-2" class="collapse" role="tabpanel" aria-labelledby="heading-2"
                            data-bs-parent="#accordion-5">
                            <div class="card-body">
                                <p>If while signing in to your account you see an error message, you can do the
                                    following</p>
                                <ol class="ps-3 mt-4">
                                    <li>Check your network connection and try again</li>
                                    <li>Make sure your account credentials are correct while signing in</li>
                                    <li>Check whether your account is accessible in your region</li>
                                </ol>
                                <br>
                                <p class="text-danger">
                                    <i class="ti-alert-octagon me-2"></i>If the problem persists, you can contact our
                                    support.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header p-3" role="tab" id="heading-3">
                            <h6 class="mb-0">
                                <a class="collapsed" data-bs-toggle="collapse" href="#collapse-3" aria-expanded="false"
                                    aria-controls="collapse-3">
                                    Why do we use it?
                                </a>
                            </h6>
                        </div>
                        <div id="collapse-3" class="collapse" role="tabpanel" aria-labelledby="heading-3"
                            data-bs-parent="#accordion-5">
                            <div class="card-body">
                                <p class="mb-0">You can add money to the wallet for any future transaction from your
                                    bank account using net-banking, or credit/debit card transaction. The money in the
                                    wallet can be used for an easier and faster transaction.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Multiple Color Accordion</h5>
            </div>
            <div class="card-body">
                <div class="accordion" id="accordion-2" role="tablist">
                    <div class="card bg-secondary text-white">
                        <div class="card-header p-4" role="tab" id="heading-01">
                            <h6 class="mb-0">
                                <a data-bs-toggle="collapse" href="#collapse-01" aria-expanded="true"
                                    aria-controls="collapse-01" class="text-white">
                                    What is Lorem Ipsum?
                                </a>
                            </h6>
                        </div>
                        <div id="collapse-01" class="collapse show" role="tabpanel" aria-labelledby="heading-01"
                            data-bs-parent="#accordion-2">
                            <div class="card-body text-white">
                                <div class="row">
                                    <div class="col-3">
                                        <img src="/img/dog-001.jpg" class="mw-100" alt="image">
                                    </div>
                                    <div class="col-9">
                                        <p class="mb-0">You can pay for the product you have purchased using credit
                                            cards, debit cards, or via online banking.
                                            We also on-delivery services.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-warning text-dark">
                        <div class="card-header p-4" role="tab" id="heading-02">
                            <h6 class="mb-0">
                                <a class="collapsed text-dark" data-bs-toggle="collapse" href="#collapse-02"
                                    aria-expanded="false" aria-controls="collapse-02">
                                    Where does it come from?
                                </a>
                            </h6>
                        </div>
                        <div id="collapse-02" class="collapse" role="tabpanel" aria-labelledby="heading-02"
                            data-bs-parent="#accordion-2">
                            <div class="card-body">
                                <p>If while signing in to your account you see an error message, you can do the
                                    following</p>
                                <ol class="ps-3 mt-4">
                                    <li>Check your network connection and try again</li>
                                    <li>Make sure your account credentials are correct while signing in</li>
                                    <li>Check whether your account is accessible in your region</li>
                                </ol>
                                <br>
                                <p class="text-danger">
                                    <i class="ti-alert-octagon me-2"></i>If the problem persists, you can contact our
                                    support.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-danger text-white">
                        <div class="card-header p-4" role="tab" id="heading-03">
                            <h6 class="mb-0">
                                <a class="collapsed text-white" data-bs-toggle="collapse" href="#collapse-03"
                                    aria-expanded="false" aria-controls="collapse-03">
                                    Why do we use it?
                                </a>
                            </h6>
                        </div>
                        <div id="collapse-03" class="collapse" role="tabpanel" aria-labelledby="heading-03"
                            data-bs-parent="#accordion-2">
                            <div class="card-body">
                                <p class="mb-0">You can add money to the wallet for any future transaction from your
                                    bank account using net-banking, or credit/debit card transaction. The money in the
                                    wallet can be used for an easier and faster transaction.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->

</div>
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Basic Collapse</h5>
            </div>
            <div class="card-body">
                <p>
                    <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        Link with href
                    </a>
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Button with data-bs-target
                    </button>
                </p>
                <div class="collapse show" id="collapseExample">
                    <div class="card card-body">
                        Some placeholder content for the collapse component. This panel is hidden by default but
                        revealed when the user activates the relevant trigger.
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Toggle Collapse</h5>
            </div>
            <div class="card-body">
                <p>
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseWidthExample" aria-expanded="false"
                        aria-controls="collapseWidthExample">
                        Toggle width collapse
                    </button>
                </p>
                <div style="min-height: 120px;">
                    <div class="collapse collapse-horizontal" id="collapseWidthExample">
                        <div class="card card-body" style="width: 400px;">
                            This is some placeholder content for a horizontal collapse. It's hidden by default and shown
                            when triggered.
                            <p>
                                It is a long established fact that a reader will be.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Multiple Collapse</h5>
            </div>
            <div class="card-body">
                <p class="text-center">
                    <a class="btn btn-outline-primary" data-bs-toggle="collapse" href="#multiCollapseExample1"
                        role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Toggle first
                        element</a>
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#multiCollapseExample2" aria-expanded="false"
                        aria-controls="multiCollapseExample2">Toggle second element</button>
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target=".multi-collapse" aria-expanded="false"
                        aria-controls="multiCollapseExample1 multiCollapseExample2">Toggle both elements</button>
                </p>
                <div class="row">
                    <div class="col">
                        <div class="collapse multi-collapse show" id="multiCollapseExample1">
                            <div class="card card-body">
                                Some placeholder content for the first collapse component of this multi-collapse
                                example. This panel is hidden by default but revealed when the user activates the
                                relevant trigger.
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="collapse multi-collapse show" id="multiCollapseExample2">
                            <div class="card card-body">
                                Some placeholder content for the second collapse component of this multi-collapse
                                example. This panel is hidden by default but revealed when the user activates the
                                relevant trigger.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div>