<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-sm-0">Line & Area Charts</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Amcharts </a></li>
                    <li class="breadcrumb-item active">Line & Area</li>
                </ol>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Line Chart Adding Data Every Second
                </h5>
            </div>
            <div class="card-body">
                <div id="live-line-chart-data" class="amchart"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Line Graph
                </h5>
            </div>
            <div class="card-body">
                <div id="line-graph-chart" class="amchart"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Line Duration Value Axis 
                </h5>
            </div>
            <div class="card-body">
                <div id="line-duration-value" class="amchart"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Area with Time Based Data</h5>
            </div>
            <div class="card-body">
                <div id="area-time-chart" class="amchart"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Chart with Gaps in Data</h5>
            </div>
            <div class="card-body">
                <div id="chart-gap-data" class="amchart"></div>
            </div>
        </div>
    </div><!-- end col -->
    
    


</div><!-- end row -->