<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-sm-0">Column & Bars Charts</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Amcharts </a></li>
                    <li class="breadcrumb-item active">Column & Bars</li>
                </ol>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Bar Chart Race
                </h5>
            </div>
            <div class="card-body">
                <div id="bar-chart-race" class="amchart"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Simple column 
                </h5>
            </div>
            <div class="card-body">
                <div id="simple-column-amchart" class="amchart"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Column Moving Bullets</h5>
            </div>
            <div class="card-body">
                <div id="cmb" class="amchart"></div>
            </div>
        </div>
    </div><!-- end col -->
    
    


</div><!-- end row -->