<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Animations</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Advanced UI</a></li>
                    <li class="breadcrumb-item active">Animations</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Fade</h4>
                <p> Use <code> data-aos="fade-up" </code> </p>
                <img data-aos="fade-up" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Fade</h4>
                <p> Use <code> data-aos="fade-down" </code></p>
                <img data-aos="fade-down" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Fade</h4>
                <p> Use <code> data-aos="fade-left" </code></p>
                <img data-aos="fade-left" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Fade</h4>
                <p> Use <code> data-aos="fade-right" </code></p>
                <img data-aos="fade-right" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Fade</h4>
                <p> Use <code> data-aos="fade-up-right" </code></p>
                <img data-aos="fade-up-right" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Fade</h4>
                <p> Use <code> data-aos="fade-up-left" </code></p>
                <img data-aos="fade-up-left" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Fade</h4>
                <p> Use <code> data-aos="fade-down-right" </code></p>
                <img data-aos="fade-down-right" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Fade</h4>
                <p> Use <code> data-aos="fade-down-left" </code></p>
                <img data-aos="fade-down-left" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <!-- flip -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Flip</h4>
                <p> Use <code> data-aos="flip-left" </code></p>
                <img data-aos="flip-left" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Flip</h4>
                <p> Use <code> data-aos="flip-right" </code></p>
                <img data-aos="flip-right" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Flip</h4>
                <p> Use <code> data-aos="flip-up" </code></p>
                <img data-aos="flip-up" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Flip</h4>
                <p> Use <code> data-aos="flip-down" </code></p>
                <img data-aos="flip-down" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <!-- zoom -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Zoom</h4>
                <p> Use <code> data-aos="zoom-in" </code></p>
                <img data-aos="zoom-in" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Zoom</h4>
                <p> Use <code> data-aos="zoom-in-up" </code></p>
                <img data-aos="zoom-in-up" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Zoom</h4>
                <p> Use <code> data-aos="zoom-in-down" </code></p>
                <img data-aos="zoom-in-down" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Zoom</h4>
                <p> Use <code> data-aos="zoom-in-left" </code></p>
                <img data-aos="zoom-in-left" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Zoom</h4>
                <p> Use <code> data-aos="zoom-in-right" </code></p>
                <img data-aos="zoom-in-right" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <!-- zoom out -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Zoom</h4>
                <p> Use <code> data-aos="zoom-out" </code></p>
                <img data-aos="zoom-out" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Zoom</h4>
                <p> Use <code> data-aos="zoom-out-up" </code></p>
                <img data-aos="zoom-out-up" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Zoom</h4>
                <p> Use <code> data-aos="zoom-out-down" </code></p>
                <img data-aos="zoom-out-down" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Zoom</h4>
                <p> Use <code> data-aos="zoom-out-right" </code></p>
                <img data-aos="zoom-out-right" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Zoom</h4>
                <p> Use <code> data-aos="zoom-out-left" </code></p>
                <img data-aos="zoom-out-left" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <!-- DIFFERENT SETTINGS EXAMPLES -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>"easing: linear"</h4>
                <p> Use <code> data-aos-duration="3000" </code></p>
                <img data-aos="fade-up" data-aos-duration="3000" class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>Animation Duration</h4>
                <p> Use <code> data-aos-duration="3000"  </code>
                    and
                    <code>data-aos-easing="linear"</code>
                </p>
                <img data-aos="fade-down" data-aos-duration="1500" data-aos-easing="linear" class="w-50 mx-auto d-block"
                    src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>"ease-in-sine"</h4>
                <p> Use <code> data-aos-easing="ease-in-sine"   </code>
                    and
                    <code>data-aos-offset="300"</code>
                </p>
                <img data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine"
                    class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>"#example-anchor"</h4>
                <p> Use <code> data-aos-anchor="#example-anchor" data-aos-offset="500"   </code>
                    and
                    <code>data-aos-duration="500"</code>
                </p>
                <img data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="500"
                    class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>"ease-out-cubic"</h4>
                <p> Use <code> data-aos-easing="ease-out-cubic" data-aos-duration="2000"   </code>

                </p>
                <img data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000"
                    class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body text-center">
                <h4>"ease-in-back"</h4>
                <p> Use <code> data-aos-easing="ease-in-back"
                                    data-aos-delay="300"
                                    data-aos-offset="0"  </code>

                </p>
                <img data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0"
                    class="w-50 mx-auto d-block" src="/img/macbook.png" />
            </div>
        </div>
    </div><!-- end col -->


</div>