<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-sm-0">Bubble Charts</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Apexcharts </a></li>
                    <li class="breadcrumb-item active">Bubble Charts</li>
                </ol>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Sipmle Bubble chart</h5>
            </div>
            <div class="card-body">
                <div id="bubble-simple"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    3D Bubble chart
                </h5>
            </div>
            <div class="card-body">
                <div id="bubble-3d"></div>
            </div>
        </div>
    </div><!-- end col -->


</div><!-- end row -->