<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-sm-0">Line Charts</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Apexcharts </a></li>
                    <li class="breadcrumb-item active">Line Charts</li>
                </ol>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Basic Heatmap in single color </h5>
            </div>
            <div class="card-body">
                <div id="heatmap-basic"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Color Range Heatmap cahrts</h5>
            </div>
            <div class="card-body">
                <div id="heatmap-color-range"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Heatmap in multiple color</h5>
            </div>
            <div class="card-body">
                <div id="heatmap-multi-color"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Scale Flipped Heatmap</h5>
            </div>
            <div class="card-body">
                <div id="heatmap-flipped"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Rounded Heatmap</h5>
            </div>
            <div class="card-body">
                <div id="heatmap-rounded"></div>
            </div>
        </div>
    </div><!-- end col -->

</div><!-- end row -->