<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-sm-0">Pie Charts</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Apexcharts </a></li>
                    <li class="breadcrumb-item active">Pie Charts</li>
                </ol>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Simple</h5>
            </div>
            <div class="card-body">
                <div id="pie-basic"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Simple Donut
                </h5>
            </div>
            <div class="card-body">
                <div id="pie-donut"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Pie with Images
                </h5>
            </div>
            <div class="card-body">
                <div id="pie-img"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Monochrome Pie
                </h5>
            </div>
            <div class="card-body">

                <div id="pie-monochrome"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Donut Gradient
                </h5>
            </div>
            <div class="card-body">
                <div id="donut-gradient"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Semi Donut
                </h5>
            </div>
            <div class="card-body">

                <div id="donut-semi"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Update Donut with Add & Remove Buttons
                </h5>
            </div>
            <div class="card-body">
                <div id="donut-update"></div>
                <div class="actions">
                    <button id="add" class="btn btn-sm btn-rgba-success"> + ADD</button>
                    <button id="remove" class="btn btn-sm btn-rgba-danger"> - REMOVE</button>
                    <button id="randomize" class="btn btn-sm btn-rgba-info">RANDOMIZE</button>
                    <button id="reset" class="btn btn-sm btn-rgba-warning">RESET</button>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Pattern Donut
                </h5>
            </div>
            <div class="card-body">
                <div id="donut-pattern"></div>
            </div>
        </div>
    </div><!-- end col -->

</div><!-- end row -->