<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-sm-0">Column Charts</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Apexcharts </a></li>
                    <li class="breadcrumb-item active">Column Charts</li>
                </ol>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Basic Chart</h5>
            </div>
            <div class="card-body">
                <div id="chart-basic"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Column with data
                </h5>
            </div>
            <div class="card-body">
                <div id="chart-column-data"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Stacked column
                </h5>
            </div>
            <div class="card-body">

                <div id="chart-stacked-column"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Stacked column 2
                </h5>
            </div>
            <div class="card-body">
                <div id="chart-stacked-column-2"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Stacked column with line
                </h5>
            </div>
            <div class="card-body">
                <div id="chart-stacked-line"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Chart column with markers
                </h5>
            </div>
            <div class="card-body">
                <div id="chart-column-marker"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Column with group
                </h5>
            </div>
            <div class="card-body">
                <div id="chart-column-group"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Column wtih rotate
                </h5>
            </div>
            <div class="card-body">
                <div id="chart-colun-rotate"></div>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Daynmic loaded chart
                </h5>
            </div>
            <div class="card-body">
                <div id="wrap">
                    <select id="model" class="flat-select">
                        <option value="iphone5">iPhone 5</option>
                        <option value="iphone6">iPhone 6</option>
                        <option value="iphone7">iPhone 7</option>
                    </select>
                    <div id="chart-year"></div>
                    <div id="chart-quarter"></div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->