<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-sm-0">Timeline Charts</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Apexcharts </a></li>
                    <li class="breadcrumb-item active">Timeline Charts</li>
                </ol>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Simple Timeline chart</h5>
            </div>
            <div class="card-body">
                <div id="t-simple"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Multi Timeline Seriese
                </h5>
            </div>
            <div class="card-body">
                <div id="t-multi-seriese"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Advanced Timeline
                </h5>
            </div>
            <div class="card-body">
                <div id="t-advance-clr-bar"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Multi Color Bar
                </h5>
            </div>
            <div class="card-body">

                <div id="t-multi-color"></div>
            </div>
        </div>
    </div><!-- end col -->

</div><!-- end row -->