<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-sm-0">Area Charts</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Apexcharts </a></li>
                    <li class="breadcrumb-item active">Area Charts</li>
                </ol>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Basic Chart</h5>
            </div>
            <div class="card-body">
                <div id="basic"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Spline area chart
                </h5>
            </div>
            <div class="card-body">
                <div id="chart-spline"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Date-time X-Axis
                </h5>
            </div>
            <div class="card-body">
                <div class="toolbar">
                    <button class="btn btn-sm" id="one_month">1M</button>
                    <button class="btn btn-sm" id="six_months"> 6M</button>
                    <button class="btn btn-sm active" id="one_year">1Y</button>
                    <button class="btn btn-sm" id="ytd"> YTD</button>
                    <button class="btn btn-sm" id="all">ALL </button>
                </div>
                <div id="chart-timeline"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Area chart with negative value
                </h5>
            </div>
            <div class="card-body">
                <div id="chart-negative"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Github chart 1
                </h5>
            </div>
            <div class="card-body">
                <div id="chart-months"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Github Chart 2
                </h5>
            </div>
            <div class="card-body">
                <div id="chart-github"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Stacked chart
                </h5>
            </div>
            <div class="card-body">
                <div id="stacked"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Missing null data
                </h5>
            </div>
            <div class="card-body">
                <div id="chart-missing-data"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Irregular data
                </h5>
            </div>
            <div class="card-body">
                <div id="chart-irregular"></div>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->