<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Badges</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Base UI</a></li>
                    <li class="breadcrumb-item active">Badges</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Default Badges</h5>
            </div>
            <div class="card-body">
                <h1>Example heading <span class="badge bg-rgba-secondary">New</span></h1>
                <h2>Example heading <span class="badge bg-rgba-secondary">New</span></h2>
                <h3>Example heading <span class="badge bg-rgba-secondary">New</span></h3>
                <h4>Example heading <span class="badge bg-rgba-secondary">New</span></h4>
                <h5>Example heading <span class="badge bg-rgba-secondary">New</span></h5>
                <h6>Example heading <span class="badge bg-rgba-secondary">New</span></h6>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Badges Varations </h5>
            </div>
            <div class="card-body">
                <div>

                    <span class="badge text-bg-primary">Primary</span>
                    <span class="badge text-bg-secondary">Secondary</span>
                    <span class="badge text-bg-success">Success</span>
                    <span class="badge text-bg-danger">Danger</span>
                    <span class="badge text-bg-warning">Warning</span>
                    <span class="badge text-bg-info">Info</span>
                    <span class="badge text-bg-light">Light</span>
                    <span class="badge text-bg-dark">Dark</span>
                </div>
                <div class="mt-3">
                    <p>Light Badges</p>
                    <span class="badge bg-rgba-primary">Primary</span>
                    <span class="badge bg-rgba-secondary">Secondary</span>
                    <span class="badge bg-rgba-success">Success</span>
                    <span class="badge bg-rgba-danger">Danger</span>
                    <span class="badge bg-rgba-warning">Warning</span>
                    <span class="badge bg-rgba-info">Info</span>
                    <span class="badge bg-rgba-light">Light</span>
                    <span class="badge bg-rgba-dark">Dark</span>
                </div>
                <div class="mt-3">
                    <p>Outline Badges</p>
                    <span class="badge border border-primary text-primary">Primary</span>
                    <span class="badge border border-secondary text-secondary">Secondary</span>
                    <span class="badge border border-success text-success">Success</span>
                    <span class="badge border border-danger text-danger">Danger</span>
                    <span class="badge border border-warning text-warning">Warning</span>
                    <span class="badge border border-info text-info">Info</span>
                    <span class="badge border border-light text-light">Light</span>
                    <span class="badge border border-dark text-dark">Dark</span>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Pill Badges </h5>
            </div>
            <div class="card-body">
                <div>
                    <p></p>
                    <span class="badge rounded-pill text-bg-primary">Primary</span>
                    <span class="badge rounded-pill text-bg-secondary">Secondary</span>
                    <span class="badge rounded-pill text-bg-success">Success</span>
                    <span class="badge rounded-pill text-bg-danger">Danger</span>
                    <span class="badge rounded-pill text-bg-warning">Warning</span>
                    <span class="badge rounded-pill text-bg-info">Info</span>
                    <span class="badge rounded-pill text-bg-light">Light</span>
                    <span class="badge rounded-pill text-bg-dark">Dark</span>
                </div>
                <div class="mt-3">
                    <p>Light Badges</p>
                    <span class="badge rounded-pill bg-rgba-primary">Primary</span>
                    <span class="badge rounded-pill bg-rgba-secondary">Secondary</span>
                    <span class="badge rounded-pill bg-rgba-success">Success</span>
                    <span class="badge rounded-pill bg-rgba-danger">Danger</span>
                    <span class="badge rounded-pill bg-rgba-warning">Warning</span>
                    <span class="badge rounded-pill bg-rgba-info">Info</span>
                    <span class="badge rounded-pill bg-rgba-light">Light</span>
                    <span class="badge rounded-pill bg-rgba-dark">Dark</span>
                </div>
                <div class="mt-3">
                    <p>Outline Badges</p>
                    <span class="badge rounded-pill border border-primary text-primary">Primary</span>
                    <span class="badge rounded-pill border border-secondary text-secondary">Secondary</span>
                    <span class="badge rounded-pill border border-success text-success">Success</span>
                    <span class="badge rounded-pill border border-danger text-danger">Danger</span>
                    <span class="badge rounded-pill border border-warning text-warning">Warning</span>
                    <span class="badge rounded-pill border border-info text-info">Info</span>
                    <span class="badge rounded-pill border border-light text-light">Light</span>
                    <span class="badge rounded-pill border border-dark text-dark">Dark</span>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Pill Badges </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary position-relative">
                            Inbox
                            <span
                                class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                99+
                                <span class="visually-hidden">unread messages</span>
                            </span>
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary position-relative">
                            Profile
                            <span
                                class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                <span class="visually-hidden">New alerts</span>
                            </span>
                        </button>
                    </div>
                    <div class="col-sm-4">
                        <button class="btn btn-success mt-4">
                            Notifications
                            <span class="badge bg-light text-dark ms-1">4</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>