<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Blog Detail</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">Blog</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-8">
    <div class="card custom-card">
        <div class="card-body">
            <p class="fs-18 fw-semibold mb-1">Touring excites in winter when we travel with friends !</p>
            <div class="d-sm-flex align-items-cneter">
                <div class="d-flex align-items-center flex-fill"> 
                    <div class="avatar avatar-xs avatar-rounded me-3">
                         <img class="rounded-circle" src="/img/user-4.jpg" alt=""> 
                         </div>
                    <div>
                        <p class="mb-0 fw-semibold">Jonathan Wills - <span class="fs-11 text-muted fw-normal">Tue,25 Dec 2023 - 11:15</span></p>
                        <p class="mb-0 text-muted"></p>
                    </div>
                </div>
                <div class="mt-sm-0 mt-2"> <span class="badge bg-primary me-1">Nature</span> <span class="badge bg-secondary">Travel</span> </div>
            </div>
        </div> 
        <a href="javascript:void(0);"> 
            <img src="./img/g-3.jpg" class="w-100 rounded-0" alt="..."> 
            </a>
        <div class="card-body border-bottom border-block-end-dashed">
            <div class="d-sm-flex d-block align-items-center justify-content-between">
                <div class="btn-list mt-sm-0 mt-2"> 
                    <button class="btn btn-icon btn-sm btn-primary-light" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Like"><i class="bi bi-hand-thumbs-up"></i></button> 
                    <button class="btn btn-icon btn-sm btn-primary-light" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Share"><i class="bi bi-share"></i></button> 
                    <button class="btn btn-sm btn-secondary-light"><i class="bi-chat me-1 align-middle d-inline-block"></i></button> 
                </div>
                <div class="d-flex align-items-cener"> 
                    <span class="badge bg-rgba-secondary me-3"> <i class="bi-hand-thumbs-up-fill me-1 align-middle d-inline-block"></i> 32 Likes </span> 
                    <span class="badge bg-rgba-info me-3"> <i class="bi bi-chat-fill me-1 align-middle d-inline-block"></i> 10 Comments </span> 
                </div>
                
            </div>
        </div>
        <div class="card-body">
            <h6 class="fw-semibold"> Into the Wild: Safari Adventures in the Heart of Africa</h6>
            <p class="mb-4 text-muted"> Step into the realm of untamed beauty as we venture deep into the heart of Africa on a safari expedition. Encounter majestic wildlife, from lions and elephants to giraffes and rhinos, as we share our unforgettable experiences in the vast and diverse landscapes that make Africa a nature lover's paradise.</p>
            <p class="mb-5 text-muted"> The world is animated by the wind. This invisible, mysterious force can bring a landscape alive. Its absence can cast a calm stillness over the earth. On barren mountain tops its power is barely perceptible; in forests and seas its presence becomes manifest. Winds are wild, and sometimes destructive. When we look deeply into the surely gravity’s law, strong as an ocean current, takes hold of even the strongest thing and pulls it toward the heart of the world. Each thing- each stone, blossom, child – is held in place. Only we, in our arrogance, push out beyond what we belong to for some empty freedom. If we surrendered </p>
            <div class="card custom-card bg-light mb-5 shadow-none"> <a href="javascript:void(0);" class="card-anchor"></a>
                <div class="card-body">
                    <blockquote class="blockquote mb-0 text-center">
                        <p class="fs-16 fw-semibold mb-2 text-dark">In nature, nothing is perfect and everything is perfect. Trees can be contorted, bent in weird ways, and they're still beautiful..</p>
                        <footer class="blockquote-footer mt-2 fs-14 op-7">Someone famous as <cite title="Source Title">-Alice Walker</cite></footer>
                    </blockquote>
                </div>
            </div>
            <p class="mb-5 text-muted"> From enchanting nature's beauty quotes that evoke visions of lush meadows full of brilliantly-colored flowers or dense forests with sky-high trees to famous quotes about nature's ever-present—and absolutely fundamental—role in our lives, these 101 quotes about nature will have you itching to get off your couch and get outside. For famous <b>quotes about nature</b>, we have them here! </p>
            <p class="text-center"> <button class="btn btn-primary">Load More</button> </p>
        </div>
    </div>
</div>
</div>