<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Blog</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">Blog</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
       <div class="card">
        <div class="card-body">
            <div class="row e-">
                <div class="col-lg-12 col-xl-5">
                    <img class="horizontal-blog-img rounded" src="/img/pattern-1.jpg" alt="">
                </div>
                <div class="col-lg-12 col-xl-7">
                    <h4 class="mt-3 mb-3 mt-xl-0">Mastering the Art of Mindful Mornings</h4>
                    <p>Unlock the secrets to a harmonious day by embracing the power of mindful mornings. 
                        In this blog, we delve into simple yet transformative practices that can set. </p>
                        <a href="blog-detail" class="btn btn-rgba-primary btn-sm mb-3">Read More</a>
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 avatar avatar-xs">
                            <img class="rounded-circle" src="/img/user-1.jpg" alt="">
                        </div>
                        <div class="d-flex align-items-center flex-grow-1 ms-2">
                            <h5 class="mb-0 fs-13">Ketty Perry</h5>
                            <span><i class="bi bi-circle-fill fs-6 mx-1"></i>18 Jan 2024</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
    <div class="col-sm-6">
       <div class="card">
        <div class="card-body">
            <div class="row e-">
                <div class="col-lg-12 col-xl-5">
                    <img class="horizontal-blog-img rounded" src="/img/pattern-2.jpg" alt="">
                </div>
                <div class="col-lg-12 col-xl-7">
                    <h4 class="mt-3 mb-3 mt-xl-0">Exploring the Latest Gadgets of 2024</h4>
                    <p>Stay ahead of the curve with a sneak peek into the hottest tech gadgets shaping 2024. 
                        From innovative wearables to smart home marvels, 
                        our blog  blog explores the cutting-edge </p>
                        <a href="blog-detail" class="btn btn-rgba-primary btn-sm mb-3">Read More</a>
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 avatar avatar-xs">
                            <img class="rounded-circle" src="/img/user-2.jpg" alt="">
                        </div>
                        <div class="d-flex align-items-center flex-grow-1 ms-2">
                            <h5 class="mb-0 fs-13">kane williamson</h5>
                            <span><i class="bi bi-circle-fill fs-6 mx-1"></i>21 Dec 2024</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
</div>

<div class="row e-h">   
    <div class="col-md-6 col-lg-4">
            <div class="card">
            <div class="card-image">
                <img class="horizontal-blog-img rounded-top-3" src="/img/g-1.jpg" alt="">
                </div>
            <div class="card-body">
                <h4 class="mt-3 mb-3 mt-xl-0">Mastering the Art of Mindful Mornings</h4>
                <p>Unlock the secrets to a harmonious day by embracing the power of mindful mornings. 
                    In this blog, we delve into simple yet transformative practices that can set. </p>
                    <a href="blog-detail" class="btn btn-rgba-primary btn-sm mb-3">Read More</a>
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar avatar-xs">
                        <img class="rounded-circle" src="/img/user-3.jpg" alt="">
                    </div>
                    <div class="d-flex align-items-center flex-grow-1 ms-2">
                        <h5 class="mb-0 fs-13">Lana Steiner</h5>
                        <span><i class="bi bi-circle-fill fs-6 mx-1"></i>18 Jan 2024</span>
                    </div>
                </div>
            </div>
        </div>                
    </div>
    <div class="col-md-6 col-lg-4">
            <div class="card">
            <div class="card-image">
                <img class="horizontal-blog-img rounded-top-3" src="/img/g-2.jpg" alt="">
                </div>
            <div class="card-body">
                <h4 class="mt-3 mb-3 mt-xl-0">A Tour of Mountain Adventures</h4>
                <p>Unlock the secrets to a harmonious day by embracing the power of mindful mornings. 
                    In this blog, we delve into simple yet transformative practices that can set. </p>
                    <a href="blog-detail" class="btn btn-rgba-primary btn-sm mb-3">Read More</a>
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar avatar-xs">
                        <img class="rounded-circle" src="/img/user-4.jpg" alt="">
                    </div>
                    <div class="d-flex align-items-center flex-grow-1 ms-2">
                        <h5 class="mb-0 fs-13">Jonathan Wills</h5>
                        <span><i class="bi bi-circle-fill fs-6 mx-1"></i>18 Jan 2023</span>
                    </div>
                </div>
            </div>
        </div>                
    </div>
    <div class="col-md-6 col-lg-4">
            <div class="card">
            <div class="card-image">
                <img class="horizontal-blog-img rounded-top-3" src="/img/g-3.jpg" alt="">
                </div>
            <div class="card-body">
                <h4 class="mt-3 mb-3 mt-xl-0">A Tour of Mountain Adventures</h4>
                <p>Unlock the secrets to a harmonious day by embracing the power of mindful mornings. 
                    In this blog, we delve into simple yet transformative practices that can set. </p>
                    <a href="blog-detail" class="btn btn-rgba-primary btn-sm mb-3">Read More</a>
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar avatar-xs">
                        <img class="rounded-circle" src="/img/user-5.jpg" alt="">
                    </div>
                    <div class="d-flex align-items-center flex-grow-1 ms-2">
                        <h5 class="mb-0 fs-13">Jonathan Wills</h5>
                        <span><i class="bi bi-circle-fill fs-6 mx-1"></i>18 Jan 2023</span>
                    </div>
                </div>
            </div>
        </div>                
    </div>
    <div class="col-md-6 col-lg-4">
            <div class="card">
            <div class="card-image">
                <img class="horizontal-blog-img rounded-top-3" src="/img/g-4.jpg" alt="">
                </div>
            <div class="card-body">
                <h4 class="mt-3 mb-3 mt-xl-0">A Tour of Mountain Adventures</h4>
                <p>Unlock the secrets to a harmonious day by embracing the power of mindful mornings. 
                    In this blog, we delve into simple yet transformative practices that can set. </p>
                    <a href="blog-detail" class="btn btn-rgba-primary btn-sm mb-3">Read More</a>
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar avatar-xs">
                        <img class="rounded-circle" src="/img/user-6.jpg" alt="">
                    </div>
                    <div class="d-flex align-items-center flex-grow-1 ms-2">
                        <h5 class="mb-0 fs-13">Jonathan Wills</h5>
                        <span><i class="bi bi-circle-fill fs-6 mx-1"></i>18 Jan 2023</span>
                    </div>
                </div>
            </div>
        </div>                
    </div>
    <div class="col-md-6 col-lg-4">
            <div class="card">
            <div class="card-image">
                <img class="horizontal-blog-img rounded-top-3" src="/img/g-5.jpg" alt="">
                </div>
            <div class="card-body">
                <h4 class="mt-3 mb-3 mt-xl-0">Unleashing Creativity </h4>
                <p>Unlock the secrets to a harmonious day by embracing the power of mindful mornings. 
                    In this blog, we delve into simple yet transformative practices that can set. </p>
                    <a href="blog-detail" class="btn btn-rgba-primary btn-sm mb-3">Read More</a>
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar avatar-xs">
                        <img class="rounded-circle" src="/img/user-6.jpg" alt="">
                    </div>
                    <div class="d-flex align-items-center flex-grow-1 ms-2">
                        <h5 class="mb-0 fs-13">Jonathan Wills</h5>
                        <span><i class="bi bi-circle-fill fs-6 mx-1"></i>18 Jan 2023</span>
                    </div>
                </div>
            </div>
        </div>                
    </div>
    <div class="col-md-6 col-lg-4">
            <div class="card">
            <div class="card-image">
                <img class="horizontal-blog-img rounded-top-3" src="/img/g-6.jpg" alt="">
                </div>
            <div class="card-body">
                <h4 class="mt-3 mb-3 mt-xl-0">A Tour of Nature </h4>
                <p>Unlock the secrets to a harmonious day by embracing the power of mindful mornings. 
                    In this blog, we delve into simple yet transformative practices that can set. </p>
                    <a href="blog-detail" class="btn btn-rgba-primary btn-sm mb-3">Read More</a>
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar avatar-xs">
                        <img class="rounded-circle" src="/img/user-7.jpg" alt="">
                    </div>
                    <div class="d-flex align-items-center flex-grow-1 ms-2">
                        <h5 class="mb-0 fs-13">Jonathan Wills</h5>
                        <span><i class="bi bi-circle-fill fs-6 mx-1"></i>18 Jan 2023</span>
                    </div>
                </div>
            </div>
        </div>                
    </div>
</div>