<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Buttons</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Base UI</a></li>
                    <li class="breadcrumb-item active">Buttons</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Default Buttons</h5>
            </div>
            <div class="card-body">
                <button type="button" class="mb-3 btn btn-primary">Primary</button>
                <button type="button" class="mb-3 btn btn-secondary">Secondary</button>
                <button type="button" class="mb-3 btn btn-success">Success</button>
                <button type="button" class="mb-3 btn btn-danger">Danger</button>
                <button type="button" class="mb-3 btn btn-warning">Warning</button>
                <button type="button" class="mb-3 btn btn-info">Info</button>
                <button type="button" class="mb-3 btn btn-light">Light</button>
                <button type="button" class="mb-3 btn btn-dark">Dark</button>

                <button type="button" class="btn btn-link">Link</button>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Outline Buttons</h5>
            </div>
            <div class="card-body">
                <button type="button" class="mb-3 btn btn-outline-primary">Primary</button>
                <button type="button" class="mb-3 btn btn-outline-secondary">Secondary</button>
                <button type="button" class="mb-3 btn btn-outline-success">Success</button>
                <button type="button" class="mb-3 btn btn-outline-danger">Danger</button>
                <button type="button" class="mb-3 btn btn-outline-warning">Warning</button>
                <button type="button" class="mb-3 btn btn-outline-info">Info</button>
                <button type="button" class="mb-3 btn btn-outline-light">Light</button>
                <button type="button" class="mb-3 btn btn-outline-dark">Dark</button>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Rounded Buttons</h5>
            </div>
            <div class="card-body">
                <button type="button" class="mb-3 btn rounded-pill btn-primary">Primary</button>
                <button type="button" class="mb-3 btn rounded-pill btn-secondary">Secondary</button>
                <button type="button" class="mb-3 btn rounded-pill btn-success">Success</button>
                <button type="button" class="mb-3 btn rounded-pill btn-danger">Danger</button>
                <button type="button" class="mb-3 btn rounded-pill btn-warning">Warning</button>
                <button type="button" class="mb-3 btn rounded-pill btn-info">Info</button>
                <button type="button" class="mb-3 btn rounded-pill btn-light">Light</button>
                <button type="button" class="mb-3 btn rounded-pill btn-dark">Dark</button>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Lighten Buttons</h5>
            </div>
            <div class="card-body">
                <button type="button" class="mb-3 btn btn-rgba-primary">Primary</button>
                <button type="button" class="mb-3 btn btn-rgba-secondary">Secondary</button>
                <button type="button" class="mb-3 btn btn-rgba-success">Success</button>
                <button type="button" class="mb-3 btn btn-rgba-danger">Danger</button>
                <button type="button" class="mb-3 btn btn-rgba-warning">Warning</button>
                <button type="button" class="mb-3 btn btn-rgba-info">Info</button>
                <button type="button" class="mb-3 btn btn-rgba-light">Light</button>
                <button type="button" class="mb-3 btn btn-rgba-dark">Dark</button>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Lighten hover Buttons</h5>
            </div>
            <div class="card-body">
                <button type="button" class="mb-3 btn btn-rgba-hover-primary">Primary</button>
                <button type="button" class="mb-3 btn btn-rgba-hover-secondary">Secondary</button>
                <button type="button" class="mb-3 btn btn-rgba-hover-success">Success</button>
                <button type="button" class="mb-3 btn btn-rgba-hover-danger">Danger</button>
                <button type="button" class="mb-3 btn btn-rgba-hover-warning">Warning</button>
                <button type="button" class="mb-3 btn btn-rgba-hover-info">Info</button>
                <button type="button" class="mb-3 btn btn-rgba-hover-light">Light</button>
                <button type="button" class="mb-3 btn btn-rgba-hover-dark">Dark</button>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Icon with buttons</h5>
            </div>
            <div class="card-body">
                <div class="d-flex flex-wrap gap-2">
                    <button type="button" class="btn btn-primary ">
                        <i class="bi bi-emoji-smile fs-size-16 align-middle me-2"></i> Primary
                    </button>
                    <button type="button" class="btn btn-success">
                        <i class="bi bi-check-all fs-size-16 align-middle me-2"></i> Success
                    </button>
                    <button type="button" class="btn btn-warning">
                        <i class="bi bi-exclamation-triangle fs-size-16 align-middle me-2"></i>
                        Warning
                    </button>
                    <button type="button" class="btn btn-danger">
                        <i class="bi bi-slash-circle fs-size-16 align-middle me-2"></i> Danger
                    </button>
                    <button type="button" class="btn btn-dark">
                        Loading
                        <i class="bi bi-gear spinner fs-size-16 align-middle me-2"></i>
                    </button>
                    <button type="button" class="btn btn-light">
                        <i class="bi bi-hourglass spinner fs-size-16 align-middle me-2"></i> Loading
                    </button>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12 mt-4">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Buttons Grid</h5>

            </div><!-- end card header -->
            <div class="card-body">
                <div class="live-preview">
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="button">Button</button>
                        <button class="btn btn-primary" type="button">Button</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12 mt-4">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Load More Buttons</h5>

            </div>
            <div class="card-body">

                <div class="live-preview">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0">
                                <button class="btn btn-outline-primary btn-load">
                                    <span class="d-flex align-items-center">
                                        <span class="spinner-border flex-shrink-0" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </span>
                                        <span class="flex-grow-1 ms-2">
                                            Loading...
                                        </span>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-outline-success btn-load">
                                    <span class="d-flex align-items-center">
                                        <span class="spinner-border flex-shrink-0" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </span>
                                        <span class="flex-grow-1 ms-2">
                                            Loading...
                                        </span>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-outline-warning btn-load">
                                    <span class="d-flex align-items-center">
                                        <span class="spinner-grow flex-shrink-0" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </span>
                                        <span class="flex-grow-1 ms-2">
                                            Loading...
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-lg-6">
                            <div class="d-flex flex-wrap gap-2 mb-3 mb-lg-0">
                                <button class="btn btn-outline-primary btn-load">
                                    <span class="d-flex align-items-center">
                                        <span class="flex-grow-1 me-2">
                                            Loading...
                                        </span>
                                        <span class="spinner-border flex-shrink-0" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </span>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-outline-success btn-load">
                                    <span class="d-flex align-items-center">
                                        <span class="flex-grow-1 me-2">
                                            Loading...
                                        </span>
                                        <span class="spinner-border flex-shrink-0" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </span>
                                    </span>
                                </button>
                                <button type="button" class="btn btn-outline-warning btn-load">
                                    <span class="d-flex align-items-center">
                                        <span class="flex-grow-1 me-2">
                                            Loading...
                                        </span>
                                        <span class="spinner-grow flex-shrink-0" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </span>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <!--end row-->
                </div>

            </div><!-- end card-body -->
        </div>
    </div><!-- end col -->
    <div class="col-xl-12 mt-4">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="card-title mb-0 flex-grow-1">Buttons with Label</h5>

            </div><!-- end card header -->
            <div class="card-body">
                <div class="btn-label-wrap">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="d-flex flex-wrap gap-2 mb-3 mb-lg-0">
                                <a href="javascript:void(0);" class="btn btn-primary btn-label">
                                    <div class="d-flex">
                                        <div class="flex-shrink-0">
                                            <i class="bi bi-emoji-smile label-icon align-middle  me-2"></i>
                                        </div>
                                        <div class="flex-grow-1">
                                            Primary
                                        </div>
                                    </div>
                                </a>
                                <button type="button" class="btn btn-success btn-label"><i
                                        class="bi bi-check-all label-icon align-middle  me-2"></i> Success</button>
                                <button type="button" class="btn btn-warning btn-label"><i
                                        class="bi bi-exclamation-triangle label-icon align-middle  me-2 "></i>
                                    Warning</button>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-4">
                            <div class="d-flex flex-wrap gap-2 mb-3 mb-lg-0">
                                <button type="button" class="btn btn-primary btn-label rounded-pill"><i
                                        class="bi bi-emoji-smile label-icon align-middle rounded-pill  me-2"></i>
                                    Primary</button>
                                <button type="button" class="btn btn-success btn-label rounded-pill"><i
                                        class="bi bi-check-all label-icon align-middle rounded-pill  me-2"></i>
                                    Success</button>
                                <button type="button" class="btn btn-warning btn-label rounded-pill"><i
                                        class="bi bi-exclamation-triangle label-icon align-middle rounded-pill  me-2 "></i>
                                    Warning</button>
                            </div>
                        </div><!--end col-->
                        <div class="col-lg-4">
                            <div class="d-flex flex-wrap gap-2">
                                <button type="button" class="btn btn-primary btn-label right"><i
                                        class="bi bi-emoji-smile label-icon align-middle  ms-2"></i> Primary</button>
                                <button type="button" class="btn btn-success btn-label right rounded-pill"><i
                                        class="bi bi-check-all label-icon align-middle rounded-pill  ms-2"></i>
                                    Success</button>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>

            </div><!-- end card-body -->
        </div>
    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Gradient Buttons</h5>
            </div>
            <div class="card-body">
                <div>
                    <button class="btn btn-hover grd-1">BUTTON</button>
                    <button class="btn btn-hover grd-2">BUTTON</button>
                    <button class="btn btn-hover grd-3">BUTTON</button>
                    <button class="btn btn-hover grd-4">BUTTON</button>
                    <button class="btn btn-hover grd-5">BUTTON</button>
                    <button class="btn btn-hover grd-6">BUTTON</button>
                    <button class="btn btn-hover grd-7">BUTTON</button>
                    <button class="btn btn-hover grd-8">BUTTON</button>
                    <button class="btn btn-hover grd-9">BUTTON</button>
                    <button class="btn btn-hover grd-10">BUTTON</button>
                    <button class="btn btn-hover grd-11">BUTTON</button>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end row -->
<div class="row">
    <div class="col-xl-6 mt-4">
        <div class="card">
            <div class="p-3 border-bottom bottom-0">
                <h5 class="card-title mb-0 flex-grow-1">Buttons Group</h5>

            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-primary">Left</button>
                                <button type="button" class="btn btn-primary">Middle</button>
                                <button type="button" class="btn btn-primary">Right</button>
                            </div>
                        </div><!--end col-->
                        <div class="col-sm-6">
                            <div class="btn-group mt-4 mt-sm-0" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-light btn-icon"><i
                                        class="bi bi-text-right"></i></button>
                                <button type="button" class="btn btn-light btn-icon"><i
                                        class="bi bi-text-center"></i></button>
                                <button type="button" class="btn btn-light btn-icon"><i
                                        class="bi bi-text-left"></i></button>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>

            </div><!-- end card-body -->
        </div>
    </div><!-- end col -->
    <div class="col-xl-6 mt-4">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="card-title mb-0 flex-grow-1">Icon Buttons</h5>
            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="hstack gap-2 ">
                                <button type="button" class="btn btn-primary btn-icon "><i
                                        class="bi bi-activity"></i></button>
                                <button type="button" class="btn btn-danger btn-icon "><i
                                        class="bi bi-alarm"></i></button>
                                <button type="button" class="btn btn-success btn-icon "><i
                                        class="bi bi-check-all"></i></button>
                                <button type="button" class="btn btn-light btn-icon"><i class="bi bi-bag"></i></button>
                            </div>
                        </div><!--end col-->
                        <div class="col-sm-6">
                            <div class="hstack gap-2 mt-4 mt-sm-0">
                                <button type="button" class="btn btn-outline-primary btn-icon "><i
                                        class="bi bi-bell"></i></button>
                                <button type="button" class="btn btn-outline-danger btn-icon "><i
                                        class="bi bi-basket"></i></button>
                                <button type="button" class="btn btn-outline-success btn-icon "><i
                                        class="bi bi-calendar"></i></button>
                                <button type="button" class="btn btn-outline-warning btn-icon "><i
                                        class="bi bi-chevron-double-right"></i></button>
                            </div>
                        </div><!--end col-->
                    </div><!--end row-->
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12 mt-4">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="card-title mb-0 flex-grow-1">Button Group Sizing</h5>

            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="d-flex flex-wrap align-items-center gap-2">
                        <div class="btn-group btn-group-lg" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-primary">Left</button>
                            <button type="button" class="btn btn-primary">Middle</button>
                            <button type="button" class="btn btn-primary">Right</button>
                        </div>
                        <div class="btn-group mt-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-light">Left</button>
                            <button type="button" class="btn btn-light">Middle</button>
                            <button type="button" class="btn btn-light">Right</button>
                        </div>
                        <div class="btn-group btn-group-sm mt-2" role="group" aria-label="Basic example">
                            <button type="button" class="btn btn-secondary">Left</button>
                            <button type="button" class="btn btn-secondary">Middle</button>
                            <button type="button" class="btn btn-secondary">Right</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12 mt-4">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="card-title mb-0 flex-grow-1">Vertical Variation</h5>

            </div>
            <div class="card-body">
                <div class="live-preview">
                    <div class="row">
                        <div class="col-auto">
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <button type="button" class="btn btn-primary">1</button>
                                <button type="button" class="btn btn-primary">2</button>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Dropdown
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                        <li><a class="dropdown-item" href="#">Dropdown link</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div><!--end col-->
                        <div class="col-auto">
                            <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                                <button type="button" class="btn btn-light">Button</button>
                                <div class="btn-group" role="group">
                                    <button id="btnGroupVerticalDrop1" type="button"
                                        class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        Dropdown
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupVerticalDrop1">
                                        <a class="dropdown-item" href="#">Dropdown link</a>
                                        <a class="dropdown-item" href="#">Dropdown link</a>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-light">Button</button>
                                <button type="button" class="btn btn-light">Button</button>
                            </div>
                        </div>
                        <div class="col-auto">
                            <div class="btn-group-vertical" role="group"
                                aria-label="Vertical radio toggle button group">
                                <input type="radio" class="btn-check" name="vbtn" id="vbtn-radio1" checked="">
                                <label class="btn btn-outline-secondary" for="vbtn-radio1">Radio 1</label>
                                <input type="radio" class="btn-check" name="vbtn" id="vbtn-radio2">
                                <label class="btn btn-outline-secondary" for="vbtn-radio2">Radio 2</label>
                                <input type="radio" class="btn-check" name="vbtn" id="vbtn-radio3">
                                <label class="btn btn-outline-secondary" for="vbtn-radio3">Radio 3</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>