<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Cards</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Base UI</a></li>
                    <li class="breadcrumb-item active">Cards</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row">
    <div class="col-xl-12">
        <h4 class="mb-3">Cards</h4>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card d-block">
            <img class="card-img-top" src="/img/dog-001.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make
                    up the bulk of the card's content. Some quick example text to build on the card title and make up.
                </p>
                <a href="javascript: void(0);" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-sm-6 col-lg-3">
        <div class="card d-block">
            <img class="card-img-top" src="/img/dog-002.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card..</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
            </ul>
            <div class="card-body">
                <a href="javascript: void(0);" class="card-link text-custom">Card link</a>
                <a href="javascript: void(0);" class="card-link text-custom">Another link</a>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-sm-6 col-lg-3">
        <div class="card d-block">
            <img class="card-img-top" src="/img/dog-003.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make
                    up the bulk of the card's content. Some quick example text to build on the card title and make up.
                </p>
                <a href="javascript: void(0);" class="btn btn-primary">Button</a>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-lg-3">
        <div class="card d-block">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
            </div>
            <img class="img-fluid" src="/img/dog-004.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make
                    up the bulk of the card's content.</p>
                <a href="javascript: void(0);" class="card-link text-custom">Card link</a>
                <a href="javascript: void(0);" class="card-link text-custom">Another link</a>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h6 class="card-header">Featured</h6>
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to
                    additional content.</p>
                <a href="javascript: void(0);" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Quote
            </div>
            <div class="card-body">
                <blockquote class="card-bodyquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                        erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Featured
            </div>
            <div class="card-body">
                <a href="javascript: void(0);" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div> <!-- end col-->
</div><!-- end row -->
<div class="row">
    <div class="col-sm-6">
        <div class="card card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional
                content.</p>
            <a href="javascript: void(0);" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> <!-- end col-->
    <div class="col-sm-6">
        <div class="card card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional
                content.</p>
            <a href="javascript: void(0);" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> <!-- end col-->
</div><!-- end row -->

<div class="row">
    <div class="col-xl-12">
        <h4 class="mb-3">Background colored card</h4>
    </div>
    <div class="col-lg-4 col-sm-6">
        <div class="card bg-secondary text-white">
            <div class="card-body">
                <h5 class="card-title text-white">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to
                    additional content.</p>
                <a href="javascript: void(0);" class="btn btn-primary btn-sm">Button</a>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-lg-4 col-sm-6">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <blockquote class="card-bodyquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                        erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-lg-4 col-sm-6">
        <div class="card text-white bg-success">
            <div class="card-body">
                <blockquote class="card-bodyquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                        erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-lg-4 col-sm-6">
        <div class="card text-white bg-info">
            <div class="card-body">
                <blockquote class="card-bodyquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                        erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-lg-4 col-sm-6">
        <div class="card text-white bg-warning">
            <div class="card-body">
                <blockquote class="card-bodyquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                        erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div> <!-- end col-->

    <div class="col-lg-4 col-sm-6">
        <div class="card text-white bg-danger">
            <div class="card-body">
                <blockquote class="card-bodyquote">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere
                        erat a ante.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div> <!-- end col-->
</div><!-- end row -->
<div class="row">
    <div class="col-xl-12">
        <h4 class="mb-3">Border carde</h4>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="card border border-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Primary card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-lg-3">
        <div class="card border border-success mb-3">
            <div class="card-body">
                <h5 class="card-title">Success card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-lg-3">
        <div class="card border border-warning mb-3" style="border-color: currentColor;">
            <div class="card-body">
                <h5 class="card-title">Warning card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-lg-3">
        <div class="card border border-danger mb-3">
            <div class="card-body">
                <h5 class="card-title">Danger card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div><!-- end col -->

</div>
<div class="row">
    <div class="col-xl-12">
        <h4 class="mb-3">Horizontal card</h4>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="row g-0 align-items-center">
                <div class="col-md-4">
                    <div class="p-3">
                        <img src="/img/dog-005.jpg" class="card-img" alt="...">
                    </div>

                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end col-->
    <div class="col-lg-6">
        <div class="card">
            <div class="row g-0 align-items-center">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="p-3">
                        <img src="/img/dog-006.jpg" class="card-img" alt="...">
                    </div>

                </div>
            </div>
        </div>
    </div> <!-- end col-->
</div>
<div class="row">
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-img-h-2 position-relative">
                <img src="/img/dog-001.jpg" alt="" class="img-inset">
            </div>
            <div class="card-body text-center mt-n5">
                <div class="avatar-lg position-relative mx-auto">
                    <img src="/img/image-john.jpg" class="img-inset img-thumbnail rounded-circle" />
                </div>
                <h5 class="mt-3 mb-0">John Doe</h5>
                <p class="text-subtitle-light">Web Developer</p>

                <ul class="list-unstyled d-flex justify-content-center gap-3">
                    <a href="javascript: void(0)" class="avatar-xs fs-16 youtube-text ax-flex-center-0">
                        <i class="bi-youtube"></i>
                    </a>
                    <a href="javascript: void(0)" class="avatar-xs fs-16 linkedin-text ax-flex-center-0">
                        <i class="bi-linkedin"></i>
                    </a>
                    <a href="javascript: void(0)" class="avatar-xs fs-16 facebook-text ax-flex-center-0">
                        <i class="bi-facebook"></i>
                    </a>
                </ul>
                <div class="text-center">
                    <p>Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                    </p>

                    <a href="javascript: void(0)" class="btn btn-primary">Contact me</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-img-h-2 position-relative">
                <img src="/img/dog-002.jpg" alt="" class="img-inset">
            </div>
            <div class="card-body text-center mt-n5">
                <div class="avatar-lg position-relative mx-auto">
                    <img src="/img/image-john.jpg" class="img-inset img-thumbnail rounded-circle" />
                </div>
                <h5 class="mt-3 mb-0">John Doe</h5>
                <p class="text-subtitle-light">Web Developer</p>

                <ul class="list-unstyled d-flex justify-content-center gap-3">
                    <a href="javascript: void(0)" class="avatar-xs fs-16 youtube-text ax-flex-center-0">
                        <i class="bi-youtube"></i>
                    </a>
                    <a href="javascript: void(0)" class="avatar-xs fs-16 linkedin-text ax-flex-center-0">
                        <i class="bi-linkedin"></i>
                    </a>
                    <a href="javascript: void(0)" class="avatar-xs fs-16 facebook-text ax-flex-center-0">
                        <i class="bi-facebook"></i>
                    </a>
                </ul>
                <div class="text-center">
                    <p>Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                    </p>

                    <a href="javascript: void(0)" class="btn btn-primary">Contact me</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-img-h-2 position-relative">
                <img src="/img/dog-001.jpg" alt="" class="img-inset">
            </div>
            <div class="card-body text-center mt-n5">
                <div class="avatar-lg position-relative mx-auto">
                    <img src="/img/image-john.jpg" class="img-inset img-thumbnail rounded-md" />
                </div>
                <h5 class="mt-3 mb-0">John Doe</h5>
                <p class="text-subtitle-light">Web Developer</p>

                <ul class="list-unstyled d-flex justify-content-center gap-3">
                    <a href="javascript: void(0)" class="avatar-xs fs-16 youtube-bg rounded ax-flex-center-0">
                        <i class="bi-youtube"></i>
                    </a>
                    <a href="javascript: void(0)" class="avatar-xs fs-16 linkedin-bg rounded ax-flex-center-0">
                        <i class="bi-linkedin"></i>
                    </a>
                    <a href="javascript: void(0)" class="avatar-xs fs-16 facebook-bg rounded ax-flex-center-0">
                        <i class="bi-facebook"></i>
                    </a>
                </ul>
                <div class="text-center">
                    <p>Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                    </p>

                    <a href="javascript: void(0)" class="btn btn-primary">Contact me</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-img-h-2 position-relative">
                <img src="/img/dog-004.jpg" alt="" class="img-inset">
            </div>
            <div class="card-body text-center mt-n5">
                <div class="avatar-lg position-relative mx-auto">
                    <img src="/img/image-john.jpg" class="img-inset img-thumbnail rounded-md" />
                </div>
                <h5 class="mt-3 mb-0">John Doe</h5>
                <p class="text-subtitle-light">Web Developer</p>

                <ul class="list-unstyled d-flex justify-content-center gap-3">
                    <a href="javascript: void(0)" class="avatar-xs fs-16 youtube-bg rounded ax-flex-center-0">
                        <i class="bi-youtube"></i>
                    </a>
                    <a href="javascript: void(0)" class="avatar-xs fs-16 linkedin-bg rounded ax-flex-center-0">
                        <i class="bi-linkedin"></i>
                    </a>
                    <a href="javascript: void(0)" class="avatar-xs fs-16 facebook-bg rounded ax-flex-center-0">
                        <i class="bi-facebook"></i>
                    </a>
                </ul>
                <div class="text-center">
                    <p>Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                    </p>

                    <a href="javascript: void(0)" class="btn btn-primary">Contact me</a>
                </div>
            </div>
        </div>
    </div>
</div>