<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Shopping Cart</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Ecommerce</a></li>
                    <li class="breadcrumb-item active">Cart</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-8">
        <div class="card shoping-cart-card border ">
            <div class="card-body pb-0">

                <div class="d-flex row align-items-center border-bottom position-relative pb-3">

                    <div class="col-xl-6 col-lg-7 col-sm-6">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <img src="/img/iphone-13-04.jpg" alt="" class="avatar-lg rounded">
                            </div>
                            <div class="flex-grow-1 align-self-center overflow-hidden">
                                <div>
                                    <h5 class="text-truncate fs-18">
                                        <a href="ecommerce-product-detail" class="text-dark">iPhone 13 Pro Max</a>
                                    </h5>
                                    <p class="text-muted fs-12 mb-0">
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-half text-warning"></i>
                                    </p>
                                    <p class="small mb-0 mt-1">Color : <span class="fw-medium">Gold</span></p>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-sm-3">
                        <div class="flex-grow-1 mt-3">
                            <p class="text-muted mb-2">Quantity</p>
                            <div class="d-inline-flex">
                                <select class="form-select form-select-sm w-xl">
                                    <option value="1">1</option>
                                    <option value="2" selected="">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-2 col-sm-3">
                        <div class="d-flex align-items-center justify-content-md-end">
                            <div class="flex-shrink-0 mt-1">
                                <p class="text-muted mb-2">Price</p>
                                <h5 class="mb-0 mt-2">
                                    <span class="text-muted me-2">
                                        <del class="fs-16 fw-normal">$1200</del>
                                    </span>$1000
                                </h5>
                            </div>
                        </div>
                    </div>


                </div>

                <div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="flex-shrink-0 mt-2 ms-2">
                                <ul class="list-inline mb-0 fs-16">
                                    <li class="list-inline-item">
                                        <a href="#" class="text-muted px-1">
                                            <i class="bi-trash"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-muted px-1">
                                            <i class="bi-heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex justify-content-end mt-2">
                                <p class="text-muted mb-2 me-3">Total</p>
                                <h5>$900</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- shopping card end-->
        <div class="card shoping-cart-card border ">
            <div class="card-body pb-0">

                <div class="d-flex row align-items-center border-bottom position-relative pb-3">

                    <div class="col-xl-6 col-lg-7 col-sm-6">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <img src="/img/iphone-13-01.jpg" alt="" class="avatar-lg rounded">
                            </div>
                            <div class="flex-grow-1 align-self-center overflow-hidden">
                                <div>
                                    <h5 class="text-truncate fs-18"><a href="ecommerce-product-detail"
                                            class="text-dark">iPhone 13 Pro Max</a></h5>
                                    <p class="text-muted fs-12 mb-0">
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-half text-warning"></i>
                                    </p>
                                    <p class="small mb-0 mt-1">Color : <span class="fw-medium">Alpine Green</span></p>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-sm-3">
                        <div class="flex-grow-1 mt-3">
                            <p class="text-muted mb-2">Quantity</p>
                            <div class="d-inline-flex">
                                <select class="form-select form-select-sm w-xl">
                                    <option value="1">1</option>
                                    <option value="2" selected="">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-2 col-sm-3">
                        <div class="d-flex align-items-center justify-content-md-end">
                            <div class="flex-shrink-0 mt-1">
                                <p class="text-muted mb-2">Price</p>
                                <h5 class="mb-0 mt-2">
                                    <span class="text-muted me-2">
                                        <del class="fs-16 fw-normal">$1200</del>
                                    </span>$1000
                                </h5>
                            </div>
                        </div>
                    </div>


                </div>

                <div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="flex-shrink-0 mt-2 ms-2">
                                <ul class="list-inline mb-0 fs-16">
                                    <li class="list-inline-item">
                                        <a href="#" class="text-muted px-1">
                                            <i class="bi-trash"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-muted px-1">
                                            <i class="bi-heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex justify-content-end mt-2">
                                <p class="text-muted mb-2 me-3">Total</p>
                                <h5>$900</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- shopping card end -->
        <div class="card shoping-cart-card border ">
            <div class="card-body pb-0">

                <div class="d-flex row align-items-center border-bottom position-relative pb-3">

                    <div class="col-xl-6 col-lg-7 col-sm-6">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <img src="/img/shoes.png" alt="" class="avatar-lg rounded">
                            </div>
                            <div class="flex-grow-1 align-self-center overflow-hidden">
                                <div>
                                    <h5 class="text-truncate fs-18">
                                        <a href="ecommerce-product-detail" class="text-dark">Nike Air Max</a>
                                    </h5>
                                    <p class="text-muted fs-12 mb-0">
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-half text-warning"></i>
                                    </p>
                                    <p class="small mb-0 mt-1">Color : <span class="fw-medium">Blue</span></p>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-sm-3">
                        <div class="flex-grow-1 mt-3">
                            <p class="text-muted mb-2">Quantity</p>
                            <div class="d-inline-flex">
                                <select class="form-select form-select-sm w-xl">
                                    <option value="1">1</option>
                                    <option value="2" selected="">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-2 col-sm-3">
                        <div class="d-flex align-items-center justify-content-md-end">
                            <div class="flex-shrink-0 mt-1">
                                <p class="text-muted mb-2">Price</p>
                                <h5 class="mb-0 mt-2">
                                    <span class="text-muted me-2">
                                        <del class="fs-16 fw-normal">$250</del>
                                    </span>$200
                                </h5>
                            </div>
                        </div>
                    </div>


                </div>

                <div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="flex-shrink-0 mt-2 ms-2">
                                <ul class="list-inline mb-0 fs-16">
                                    <li class="list-inline-item">
                                        <a href="#" class="text-muted px-1">
                                            <i class="bi-trash"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-muted px-1">
                                            <i class="bi-heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex justify-content-end mt-2">
                                <p class="text-muted mb-2 me-3">Total</p>
                                <h5>$200</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- shopping card end -->
        <div class="card shoping-cart-card border ">
            <div class="card-body pb-0">

                <div class="d-flex row align-items-center border-bottom position-relative pb-3">

                    <div class="col-xl-6 col-lg-7 col-sm-6">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <img src="/img/backpack.png" alt="" class="avatar-lg rounded">
                            </div>
                            <div class="flex-grow-1 align-self-center overflow-hidden">
                                <div>
                                    <h5 class="text-truncate fs-18">
                                        <a href="ecommerce-product-detail" class="text-dark">American Sports Bag</a>
                                    </h5>
                                    <p class="text-muted fs-12 mb-0">
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-fill text-warning"></i>
                                        <i class="bi-star-half text-warning"></i>
                                    </p>
                                    <p class="small mb-0 mt-1">Color : <span class="fw-medium">Brown</span></p>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-sm-3">
                        <div class="flex-grow-1 mt-3">
                            <p class="text-muted mb-2">Quantity</p>
                            <div class="d-inline-flex">
                                <select class="form-select form-select-sm w-xl">
                                    <option value="1">1</option>
                                    <option value="2" selected="">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-2 col-sm-3">
                        <div class="d-flex align-items-center justify-content-md-end">
                            <div class="flex-shrink-0 mt-1">
                                <p class="text-muted mb-2">Price</p>
                                <h5 class="mb-0 mt-2">
                                    <span class="text-muted me-2">
                                        <del class="fs-16 fw-normal">$110</del>
                                    </span>$100
                                </h5>
                            </div>
                        </div>
                    </div>


                </div>

                <div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="flex-shrink-0 mt-2 ms-2">
                                <ul class="list-inline mb-0 fs-16">
                                    <li class="list-inline-item">
                                        <a href="#" class="text-muted px-1">
                                            <i class="bi-trash"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <a href="#" class="text-muted px-1">
                                            <i class="bi-heart"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="d-flex justify-content-end mt-2">
                                <p class="text-muted mb-2 me-3">Total</p>
                                <h5>$100</h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- shopping card end -->
        <div class="row mt-4">
            <div class="col-sm-6">
                <a href="products.html" class="btn text-link text-muted">
                    <i class="bi-arrow-left me-1"></i> Continue Shopping </a>
            </div> <!-- end col -->
            <div class="col-sm-6">
                <div class="text-sm-end mt-2 mt-sm-0">
                    <a href="javascript: void(0)" class="btn btn-success">
                        <i class="bi-cart me-1"></i> Checkout </a>
                </div>
            </div> <!-- end col -->
        </div>
    </div>

    <div class="col-xl-4">
        <div class="mt-5 mt-lg-0">
            <div class="card border ">
                <div class="card-header bg-transparent border-bottom py-3 px-4">
                    <h5 class="fs-16 mb-0">Order Summary
                        <span class="float-end">#MN0124</span>
                    </h5>
                </div>
                <div class="card-body p-4 pt-2">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <tbody>
                                <tr>
                                    <td>Sub Total :</td>
                                    <td class="text-end">$ 900</td>
                                </tr>
                                <tr>
                                    <td>Discount : </td>
                                    <td class="text-end">- $ 78</td>
                                </tr>
                                <tr>
                                    <td>Shipping Charge :</td>
                                    <td class="text-end">$ 25</td>
                                </tr>
                                <tr>
                                    <td>Estimated Tax : </td>
                                    <td class="text-end">$ 18.20</td>
                                </tr>
                                <tr class="bg-rgba-success">
                                    <th>Total :</th>
                                    <td class="text-end">
                                        <span class="fw-bold">
                                            $ 943.2
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end table -->
                </div>
            </div>
        </div>
    </div>
</div>