<div class="cs-cover-bg">
    <div id="particles-js"></div>
    <div class="container h-100">
        <div class="row ax-flex-center-0 h-100 pt-5">
            <div class="col-xl-8 mx-auto">
                <div class="p-3  text-center">
                    <div class="w-100">
                        <h1 class="text-white text-uppercase">Coming Soon</h1>

                        <div class="countdown-container">
                            <div class="col-el days-c">
                                <div class="el-item">
                                    <span>DAYS</span>
                                    <p class="big-text" id="days">0</p>
                                </div>
                            </div>
                            <div class="col-el hours-c">
                                <div class="el-item">
                                    <span>HOURS</span>
                                    <p class="big-text" id="hours">0</p>
                                </div>
                            </div>
                            <div class="col-el mins-c">
                                <div class="el-item">
                                    <span>MINS</span>
                                    <p class="big-text" id="mins">0</p>
                                </div>
                            </div>
                            <div class="col-el seconds-c">
                                <div class="el-item">
                                    <span>SECONDS</span>
                                    <p class="big-text" id="seconds">0</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 mx-auto">
                                <p class="fs-18 text-white mt-5">Get notification when we launched</p>
                                <div class="input-group countdown-input-group mx-auto mb-5">
                                    <input type="email" class="form-control border-light shadow"
                                        placeholder="Enter your email address">
                                    <button class="btn btn-primary" type="button" id="button-email">Send <i
                                            class="bi-send ms-1"></i>
                                    </button>
                                </div>
                                <a href="index.html" class="btn btn-sm btn-dark">Back to Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>