<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-sm-0">Editors</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Forms </a></li>
                    <li class="breadcrumb-item active">Editors</li>
                </ol>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Basic Editors</h5>
            </div>
            <div class="card-body">
                <div id="editor" style="height: 320px;">
                    <h3><span class="ql-size-large">Hello All!</span></h3>
                    <p><br></p>
                    <h3>This is an basic editable area.</h3>
                    <p><br></p>

                    <p><br></p>

                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Snow Editors</h5>
            </div>
            <div class="card-body">
                <div id="editorSnow" style="height: 320px;">
                    <h3><span class="ql-size-large">Hello All!</span></h3>
                    <p><br></p>
                    <h3>This is an simple editable area.</h3>
                    <p><br></p>
                    <ul>
                        <li>
                            Select a text to reveal the toolbar.
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Snow Editors</h5>
            </div>
            <div class="card-body">
                <div id="editorBubble" class="border" style="height: 320px;">
                    <h3><span class="ql-size-large">Hello All!</span></h3>
                    <p><br></p>
                    <h3>This is an simple editable area.</h3>
                    <p><br></p>
                    <ul>
                        <li>
                            Select a text to reveal the toolbar.
                        </li>

                    </ul>

                </div>
            </div>
        </div>
    </div><!-- end col -->
</div>