   <div class="row">
                        <div class="col-12">
                            <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Embed Video</h4>
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Base UI</a></li>
                                        <li class="breadcrumb-item active">Embed Video</li>
                                    </ol>
                                </div>

                            </div>
                        </div>
                    </div><!-- row end -->
                  <div class="row">
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header bg-transparent p-3">
                                <h5>Embed Ratio 16.9</h5>
                            </div>
                            <div class="card-body">
                                <div class="ratio ratio-16x9">
                                    <iframe src="https://www.youtube.com/embed/uYKDS1yDODY?controls=0" title="YouTube video player" allowfullscreen></iframe>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header bg-transparent p-3">
                                <h5 class="mb-0">Embed Ratio 21.9</h5>
                            </div>
                            <div class="card-body">
                                <div class="ratio ratio-21x9">
                                    <iframe src="https://www.youtube.com/embed/-n9fo7jUMa0?controls=0" title="YouTube video player" allowfullscreen></iframe>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header bg-transparent p-3">
                                <h5 class="mb-0">Embed Ratio 4.3</h5>
                            </div>
                            <div class="card-body">
                                <div class="ratio ratio-4x3">
                                    <iframe src="https://www.youtube.com/embed/-n9fo7jUMa0?controls=0" title="YouTube video player" allowfullscreen></iframe>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header bg-transparent p-3">
                                <h5 class="mb-0">Embed Ratio 1.1</h5>
                            </div>
                            <div class="card-body">
                                <div class="ratio ratio-1x1">
                                    <iframe src="https://www.youtube.com/embed/kBB4BadZtXs?controls=0" title="YouTube video player" allowfullscreen></iframe>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header bg-transparent p-3">
                                <h5 class="mb-0">Embed Custom Ratio</h5>
                            </div>
                            <div class="card-body">
                                <div class="ratio " style="--bs-aspect-ratio: 50%;">
                                    <iframe src="https://www.youtube.com/embed/Jx2xtPvmk8Q" title="YouTube video player" allowfullscreen></iframe>
                                  </div>
                            </div>
                        </div>
                    </div>
                  </div>
            