<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-sm-0">Form Advanced</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Advanced UI</a></li>
                    <li class="breadcrumb-item active">Form Advanced</li>
                </ol>
            </div>

        </div>
    </div><!-- end col -->
    <div class="col-lg-12"></div>
</div><!-- row end -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Form Number Spinn examples
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <h6>Default</h6>
                        <div class="stepper-input-wrap mb-3">
                            <button class="stepper-btn"><i class="bi-dash"></i></button>
                            <input class="form-control" type="number" id="stepper1" value="5" min="0" max="100" step="2"
                                readonly="" />
                            <button class="stepper-btn"><i class="bi-plus"></i></button>
                        </div>
                        <br>

                        <div class="stepper-input-wrap full-size mb-3">
                            <button class="stepper-btn"><i class="bi-dash"></i></button>
                            <input class="form-control" type="number" id="stepper2" value="5" min="0" max="100" step="1"
                                readonly="" />
                            <button class="stepper-btn"><i class="bi-plus"></i></button>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <h6>Light</h6>
                        <div class="stepper-input-wrap stepper-light mb-3">
                            <button class="stepper-btn"><i class="bi-dash"></i></button>
                            <input class="form-control" type="number" id="stepper3" value="5" min="0" max="100" step="1"
                                readonly="" />
                            <button class="stepper-btn"><i class="bi-plus"></i></button>
                        </div>
                        <div class="stepper-input-wrap stepper-light full-size mb-3">
                            <button class="stepper-btn"><i class="bi-dash"></i></button>
                            <input class="form-control" type="number" id="stepper4" value="5" min="0" max="100" step="1"
                                readonly="" />
                            <button class="stepper-btn"><i class="bi-plus"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <h6>Rounded</h6>
                        <div class="stepper-input-wrap rounded mb-3">
                            <button class="stepper-btn"><i class="bi-dash"></i></button>
                            <input class="form-control" type="number" id="stepper5" value="5" min="0" max="100" step="1"
                                readonly="" />
                            <button class="stepper-btn"><i class="bi-plus"></i></button>
                        </div>
                        <div class="stepper-input-wrap rounded full-size mb-3">
                            <button class="stepper-btn"><i class="bi-dash"></i></button>
                            <input class="form-control" type="number" id="stepper6" value="5" min="0" max="100" step="1"
                                readonly="" />
                            <button class="stepper-btn"><i class="bi-plus"></i></button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 ">
                        <h6 class="mt-4">Colored</h6>
                        <div class="d-flex gap-3">
                            <div class="stepper-input-wrap stepper-primary  mb-3">
                                <button class="stepper-btn"><i class="bi-dash"></i></button>
                                <input class="form-control" type="number" id="stepperC1" value="5" min="0" max="100"
                                    step="1" readonly="" />
                                <button class="stepper-btn"><i class="bi-plus"></i></button>
                            </div>
                            <div class="stepper-input-wrap stepper-secondary  mb-3">
                                <button class="stepper-btn"><i class="bi-dash"></i></button>
                                <input class="form-control" type="number" id="stepperC2" value="5" min="0" max="100"
                                    step="1" readonly="" />
                                <button class="stepper-btn"><i class="bi-plus"></i></button>
                            </div>
                            <div class="stepper-input-wrap stepper-success  mb-3">
                                <button class="stepper-btn"><i class="bi-dash"></i></button>
                                <input class="form-control" type="number" id="stepperC3" value="5" min="0" max="100"
                                    step="1" readonly="" />
                                <button class="stepper-btn"><i class="bi-plus"></i></button>
                            </div>
                            <div class="stepper-input-wrap stepper-info  mb-3">
                                <button class="stepper-btn"><i class="bi-dash"></i></button>
                                <input class="form-control" type="number" id="stepperC4" value="5" min="0" max="100"
                                    step="1" readonly="" />
                                <button class="stepper-btn"><i class="bi-plus"></i></button>
                            </div>
                            <div class="stepper-input-wrap rounded stepper-warning  mb-3">
                                <button class="stepper-btn"><i class="bi-dash"></i></button>
                                <input class="form-control" type="number" id="stepperC5" value="5" min="0" max="100"
                                    step="1" readonly="" />
                                <button class="stepper-btn"><i class="bi-plus"></i></button>
                            </div>
                            <div class="stepper-input-wrap rounded stepper-danger  mb-3">
                                <button class="stepper-btn"><i class="bi-dash"></i></button>
                                <input class="form-control" type="number" id="stepperC6" value="5" min="0" max="100"
                                    step="1" readonly="" />
                                <button class="stepper-btn"><i class="bi-plus"></i></button>
                            </div>
                            <div class="stepper-input-wrap rounded stepper-dark  mb-3">
                                <button class="stepper-btn"><i class="bi-dash"></i></button>
                                <input class="form-control" type="number" id="stepperC7" value="5" min="0" max="100"
                                    step="1" readonly="" />
                                <button class="stepper-btn"><i class="bi-plus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->




</div><!-- end row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Dropzone</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="mb-3">
                            <div class="wrapper">DROP HERE</div>
                            <form action="/upload" class="dropzone" id="dropzone">
                                <div class="dz-message ">
                                    <span class="text">
                                        Drop files here or click to upload +
                                    </span>

                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div><!-- end row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Flatpicker/Datepicker</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <p>DateTime</p>
                            <input id="basic-fp" class="form-control" placeholder="Select Date" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <p>Human-friendly Dates</p>
                            <input id="human-fd" class="form-control" placeholder="Select Date" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <p>minDate and maxDate</p>
                            <input id="min-max-date" class="form-control" placeholder="Select Date" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <p>Disabling specific dates</p>
                            <input id="disab-date" class="form-control" placeholder="Select Date" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <p>Disabling range(s) of dates</p>
                            <input id="disab-range-date" class="form-control" placeholder="Select Date" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <p>Selecting multiple dates</p>
                            <input id="mul-date" class="form-control" placeholder="Select Date" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <p>Inline Calendar</p>
                            <div class="flatpicke-full-size">
                                <input id="inline-calendar" class="form-control" placeholder="Select Date" />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="mb-3">
                            <p>Range Calendar</p>
                            <input id="range-calendar" class="form-control" placeholder="Select Date" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Flatpicker Time Picker</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <p>24-hour Time Picker</p>
                            <input id="basic-time" class="form-control" type="text" placeholder="Selct Date" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <p>Time Picker w/ Limits</p>
                            <input id="time-w-limit" class="form-control" type="text" placeholder="Selct Date" />
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <p>Preloading Time</p>
                            <input id="preloading-time" class="form-control" type="text" placeholder="Selct Date" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div><!-- end row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Flatpicker Time Picker</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-4">
                            <p>Classic color picker</p>
                            <div class="color-picker"></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-4">
                            <p>Monolith color picker</p>
                            <div class="color-picker-mono"></div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-4">
                            <p>Noano color picker</p>
                            <div class="color-picker-nano"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- end row -->