<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-sm-0">Wizard</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Forms </a></li>
                    <li class="breadcrumb-item active">Wizard</li>
                </ol>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Form grid</h5>
            </div>
            <div class="card-body p-5">
                <div class="card car-body border-dashed border shadow-none p-4">
                    <form action="#">
                        <ul class="simple-wizard-nav list-unstyled mb-5">
                            <li class="simple-wizard-list-item">
                                <div class="list-item">
                                    <div class="simple-step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="" data-bs-original-title="Seller Details">
                                        1
                                    </div>
                                </div>
                            </li>
                            <li class="simple-wizard-list-item">
                                <div class="list-item active">
                                    <div class="simple-step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="" data-bs-original-title="Company Document">
                                        2
                                    </div>
                                </div>
                            </li>
                            <li class="simple-wizard-list-item">
                                <div class="list-item">
                                    <div class="simple-step-icon" data-bs-toggle="tooltip" data-bs-placement="top"
                                        title="" data-bs-original-title="Bank Details">
                                        3
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- simple-wizard-nav -->

                        <div class="simple-wizard-tab">
                            <div class="text-center mb-4">
                                <h5>Seller Details</h5>
                                <p class="card-title-desc">Fill all information below</p>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-firstname-input" class="form-label">First
                                                name</label>
                                            <input type="text" class="form-control" id="basicpill-firstname-input"
                                                placeholder="Enter First Name">
                                        </div>
                                    </div><!-- end col -->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-lastname-input" class="form-label">Last
                                                name</label>
                                            <input type="text" class="form-control" id="basicpill-lastname-input"
                                                placeholder="Enter Last Name">
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-phoneno-input" class="form-label">Phone</label>
                                            <input type="text" class="form-control" id="basicpill-phoneno-input"
                                                placeholder="Enter Phone Number">
                                        </div>
                                    </div><!-- end col -->
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label for="basicpill-email-input" class="form-label">Email</label>
                                            <input type="email" class="form-control" id="basicpill-email-input"
                                                placeholder="Enter E-mail">
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="mb-3">
                                            <label for="basicpill-address-input" class="form-label">Address</label>
                                            <textarea id="basicpill-address-input" class="form-control"
                                                placeholder="Enter Address" rows="2"></textarea>
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div>

                        </div>
                        <!-- simple-wizard-tab -->

                        <div class="simple-wizard-tab">
                            <div>
                                <div class="text-center mb-4">
                                    <h5>Company Document</h5>
                                    <p class="card-title-desc">Fill all information below</p>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-pancard-input" class="form-label">PAN
                                                    Card</label>
                                                <input type="text" class="form-control" id="basicpill-pancard-input"
                                                    placeholder="Enter PAN Number">
                                            </div>
                                        </div><!-- end col -->

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-vatno-input" class="form-label">VAT/TIN
                                                    No.</label>
                                                <input type="text" class="form-control" id="basicpill-vatno-input"
                                                    placeholder="Enter VAT/TIN Number">
                                            </div>
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-cstno-input" class="form-label">CST
                                                    No.</label>
                                                <input type="text" class="form-control" id="basicpill-cstno-input"
                                                    placeholder="Enter CST No.">
                                            </div>
                                        </div><!-- end col -->

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-servicetax-input" class="form-label">Service Tax
                                                    No.</label>
                                                <input type="text" class="form-control" id="basicpill-servicetax-input"
                                                    placeholder="Enter Service Tax No.">
                                            </div>
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-companyuin-input" class="form-label">Company
                                                    UIN</label>
                                                <input type="text" class="form-control" id="basicpill-companyuin-input"
                                                    placeholder="Enter Company UIN">
                                            </div>
                                        </div><!-- end col -->

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-declaration-input"
                                                    class="form-label">Declaration</label>
                                                <input type="text" class="form-control" id="basicpill-declaration-input"
                                                    placeholder="Enter Declaration">
                                            </div>
                                        </div><!-- end col -->
                                    </div><!-- end row-->
                                </div><!-- end form -->
                            </div>
                        </div>
                        <!-- simple-wizard-tab -->

                        <div class="simple-wizard-tab">
                            <div>
                                <div class="text-center mb-4">
                                    <h5>Bank Details</h5>
                                    <p class="card-title-desc">Fill all information below</p>
                                </div>
                                <div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-namecard-input" class="form-label">Name on
                                                    Card</label>
                                                <input type="text" class="form-control" id="basicpill-namecard-input"
                                                    placeholder="Enter Name of Card">
                                            </div>
                                        </div><!-- end col -->
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label">Credit Card Type</label>
                                                <select class="form-select">
                                                    <option selected="">Select Card Type</option>
                                                    <option value="AE">American Express</option>
                                                    <option value="VI">Visa</option>
                                                    <option value="MC">MasterCard</option>
                                                    <option value="DI">Discover</option>
                                                </select>
                                            </div>
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-cardno-input" class="form-label">Credit Card
                                                    Number</label>
                                                <input type="text" class="form-control" id="basicpill-cardno-input"
                                                    placeholder="Enter Credit Number">
                                            </div>
                                        </div><!-- end col -->

                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-card-verification-input" class="form-label">Card
                                                    Verification Number</label>
                                                <input type="text" class="form-control"
                                                    id="basicpill-card-verification-input"
                                                    placeholder="Enter Verification number">
                                            </div>
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label for="basicpill-expiration-input" class="form-label">Expiration
                                                    Date</label>
                                                <input type="text" class="form-control" id="basicpill-expiration-input"
                                                    placeholder="Expiration Date">
                                            </div>
                                        </div>
                                    </div><!-- end row -->
                                </div><!-- end form -->
                            </div>
                        </div>
                        <!-- simple-wizard-tab -->

                        <div class="d-flex align-items-start gap-3 mt-4">
                            <button type="button" class="btn btn-primary w-sm" id="prevBtn" onclick="nextPrev(-1)"
                                style="display: inline;">Previous</button>
                            <button type="button" class="btn btn-primary w-sm ms-auto" id="nextBtn"
                                onclick="nextPrev(1)">Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Wizard with Progressbar</h5>
            </div>
            <div class="card-body">
                <div id="basicwizard" class="basic-wizard">
                    <ul class="nav nav-tabs nav-justified mb-3">
                        <li class="nav-item" data-target-form="#contactDetailForm">
                            <a href="#contactDetail" data-bs-toggle="tab" data-toggle="tab"
                                class="nav-link icon-btn active">
                                <i class="bx bxs-contact me-1"></i>
                                <span class="d-none d-sm-inline">Contact</span>
                            </a>
                        </li>
                        <!-- end nav item -->
                        <li class="nav-item" data-target-form="#jobDetailForm">
                            <a href="#jobDetail" data-bs-toggle="tab" data-toggle="tab" class="nav-link icon-btn">
                                <i class="bx bxs-building me-1"></i>
                                <span class="d-none d-sm-inline">Job Detail</span>
                            </a>
                        </li>
                        <!-- end nav item -->
                        <li class="nav-item" data-target-form="#educationDetailForm">
                            <a href="#educationDetail" data-bs-toggle="tab" data-toggle="tab" class="nav-link icon-btn">
                                <i class="bx bxs-book me-1"></i>
                                <span class="d-none d-sm-inline">Education</span>
                            </a>
                        </li>
                        <!-- end nav item -->
                        <li class="nav-item">
                            <a href="#finish" data-bs-toggle="tab" data-toggle="tab" class="nav-link icon-btn">
                                <i class="bx bxs-check-circle me-1"></i>
                                <span class="d-none d-sm-inline">Finish</span>
                            </a>
                        </li>
                        <!-- end nav item -->
                    </ul>
                    <!-- nav pills -->
                    <div class="tab-content mb-0 pt-0">
                        <!-- START: Define your progress bar here -->
                        <div id="bar" class="progress mb-3" style="height: 7px;">
                            <div class="bar progress-bar progress-bar-striped progress-bar-animated bg-success"></div>
                        </div>
                        <!-- END: Define your progress bar here -->
                        <!-- START: Define your tab pans here -->
                        <div class="tab-pane show active" id="contactDetail">
                            <form id="contactForm" method="post" action="#">
                                <h5 class="mb-3 mt-0">How the employers to contact you?</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="firstName">First Name</label>
                                            <input type="text" class="form-control" id="firstName"
                                                placeholder="Enter your first name" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="lastName">Last Name</label>
                                            <input type="text" class="form-control" id="lastName"
                                                placeholder="Enter your last name" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="email">Email</label>
                                            <input type="email" class="form-control" id="email"
                                                placeholder="Enter your email" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="phone">Phone No</label>
                                            <input type="number" class="form-control" id="phone"
                                                placeholder="Enter your Phone number" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end contact detail tab pane -->
                        <div class="tab-pane" id="jobDetail">
                            <form id="jobForm" method="post" action="#">
                                <h5 class="my-3">Tell us about your most recent job</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="jobTitle">Job Title</label>
                                            <input type="text" class="form-control" id="jobTitle"
                                                placeholder="enter your job title" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="employer">Employer</label>
                                            <input type="text" class="form-control" id="employer"
                                                placeholder="enter emplyoer" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end job detail tab pane -->
                        <div class="tab-pane" id="educationDetail">
                            <form id="educationForm" method="post" action="#">
                                <h5 class="mb-3 mt-0">Tell us about your education</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="schoolName">School Name</label>
                                            <input type="text" class="form-control" id="schoolName"
                                                placeholder="enter your school name" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="schoolLocation">School Location</label>
                                            <input type="text" class="form-control" id="schoolLocation"
                                                placeholder="enter your school location" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end education detail tab pane -->
                        <div class="tab-pane" id="finish">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-6">
                                    <div class="text-center">
                                        <i class="bx bx-check-double h5"></i>
                                        <h3 class="mt-0">Thank you !</h3>
                                        <div class="mb-3">
                                            <div class="form-check d-inline-block">
                                                <input type="checkbox" class="form-check-input" id="customCheck1" />
                                                <label class="form-check-label" for="customCheck1">I agree with the
                                                    Terms and Conditions</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- END: Define your tab pans here -->
                        <!-- START: Define your controller buttons here-->
                        <div class="d-flex wizard justify-content-between mt-3">
                            <div class="first">
                                <a href="javascript:void(0);" class="btn btn-secondary">
                                    First
                                </a>
                            </div>
                            <div class="d-flex">
                                <div class="previous me-2">
                                    <a href="javascript:void(0);" class="btn icon-btn btn-secondary">
                                        <i class="bx bx-left-arrow-alt me-2"></i>Back To Previous
                                    </a>
                                </div>
                                <div class="next">
                                    <a href="javascript:void(0);" class="btn icon-btn btn-success mt-3 mt-md-0">
                                        Next Step<i class="bx bx-right-arrow-alt ms-2"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="last">
                                <a href="javascript:void(0);" class="btn btn-success mt-3 mt-md-0">
                                    Finish
                                </a>
                            </div>
                        </div>
                        <!-- END: Define your controller buttons here-->
                    </div>
                    <!-- end tab content-->
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Wizard with Validation</h5>
            </div>
            <div class="card-body">
                <p>wizard form <a class="text-underline text-success"
                        href="https://www.cssscript.com/interactive-wizard-bootstrap-5/">Docs</a></p>
                <div id="basicWizard-validate" class="basic-wizard">
                    <ul class="nav nav-tabs nav-justified mb-3">
                        <li class="nav-item" data-target-form="#contactDetailForm2">
                            <a href="#contactDetail2" data-bs-toggle="tab" data-toggle="tab"
                                class="nav-link icon-btn active">
                                <i class="bx bxs-contact me-1"></i>
                                <span class="d-none d-sm-inline">Contact</span>
                            </a>
                        </li>
                        <!-- end nav item -->
                        <li class="nav-item" data-target-form="#jobDetailForm2">
                            <a href="#jobDetail2" data-bs-toggle="tab" data-toggle="tab" class="nav-link icon-btn">
                                <i class="bx bxs-building me-1"></i>
                                <span class="d-none d-sm-inline">Job Detail</span>
                            </a>
                        </li>
                        <!-- end nav item -->
                        <li class="nav-item" data-target-form="#educationDetailForm2">
                            <a href="#educationDetail2" data-bs-toggle="tab" data-toggle="tab"
                                class="nav-link icon-btn">
                                <i class="bx bxs-book me-1"></i>
                                <span class="d-none d-sm-inline">Education</span>
                            </a>
                        </li>
                        <!-- end nav item -->
                        <li class="nav-item">
                            <a href="#finish2" data-bs-toggle="tab" data-toggle="tab" class="nav-link icon-btn">
                                <i class="bx bxs-check-circle me-1"></i>
                                <span class="d-none d-sm-inline">Finish</span>
                            </a>
                        </li>
                        <!-- end nav item -->
                    </ul>
                    <!-- nav pills -->

                    <div class="tab-content mb-0 pt-0">

                        <!-- START: Define your tab pans here -->

                        <div class="tab-pane show active" id="contactDetail2">
                            <form id="contactForm2" method="post" action="#" class="was-validated">
                                <h5 class="mb-3 mt-0">How the employers to contact you?</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="firstName">First Name</label>
                                            <input type="text" class="form-control" id="firstName"
                                                placeholder="Enter your first name" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="lastName">Last Name</label>
                                            <input type="text" class="form-control" id="lastName"
                                                placeholder="Enter your last name" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="email2">Email</label>
                                            <input type="email" class="form-control" id="email2"
                                                placeholder="Enter your email" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="phone2">Phone No</label>
                                            <input type="number" class="form-control" id="phone2"
                                                placeholder="Enter your Phone number" required>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <!-- end contact detail tab pane -->
                        <div class="tab-pane" id="jobDetail2">
                            <form id="jobForm2" method="post" action="#">
                                <h5 class="my-3">Tell us about your most recent job</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="jobTitle">Job Title</label>
                                            <input type="text" class="form-control" id="jobTitle"
                                                placeholder="enter your job title" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="employer">Employer</label>
                                            <input type="text" class="form-control" id="employer"
                                                placeholder="enter emplyoer" ]="" required="">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end job detail tab pane -->
                        <div class="tab-pane" id="educationDetail2">
                            <form id="educationForm2" method="post" action="#">
                                <h5 class="mb-3 mt-0">Tell us about your education</h5>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="schoolName">School Name</label>
                                            <input type="text" class="form-control" id="schoolName"
                                                placeholder="enter your school name" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="mb-3">
                                            <label class="form-label" for="schoolLocation">School Location</label>
                                            <input type="text" class="form-control" id="schoolLocation"
                                                placeholder="enter your school location" required="">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- end education detail tab pane -->
                        <div class="tab-pane" id="finish2">
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-6">
                                    <div class="text-center">
                                        <i class="bx bx-check-double h5"></i>
                                        <h3 class="mt-0">Thank you !</h3>
                                        <div class="mb-3">
                                            <div class="form-check d-inline-block">
                                                <input type="checkbox" class="form-check-input" id="customCheck1"
                                                    required="">
                                                <label class="form-check-label" for="customCheck1">I agree with the
                                                    Terms and Conditions</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->
                        </div>

                        <!-- END: Define your tab pans here -->

                        <!-- START: Define your controller buttons here-->
                        <div class="d-flex wizard justify-content-between mt-3">

                            <div class="d-flex">
                                <div class="previous me-2">
                                    <a href="javascript:void(0);" class="btn icon-btn btn-dark disabled">
                                        <i class="bx bx-left-arrow-alt me-2"></i>Back To Previous
                                    </a>
                                </div>
                                <div class="next">
                                    <a href="javascript:void(0);" class="btn icon-btn btn-primary mt-3 mt-md-0">
                                        Next Step<i class="bx bx-right-arrow-alt ms-2"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <!-- END: Define your controller buttons here-->

                    </div>
                    <!-- end tab content-->
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->