<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Gallery</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Page</a></li>
                    <li class="breadcrumb-item active">Gallery</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <ul class="list-unstyled button-group filters-menu-group">
            <li><a href="#" class="f-link is-checked" data-filter="*">show all</a></li>
            <li><a href="#" class="f-link" data-filter=".animal">Animal</a></li>
            <li><a href="#" class="f-link" data-filter=".nature">Nature</a></li>
        </ul>
    </div>
</div>
<div class="grid">
    <div class="row">
        <div class="col-xxl-3 col-xl-4 col-sm-6 element-item animal" data-category="animal">
            <div class="card gallery-card">
                <div class="gallery-box">
                    <a href="/img/dog-001.jpg" class="glightbox">
                        <img class="img-fluid" src="/img/dog-001.jpg" alt="image" />
                        <div class="g-img-overlay">
                            <h5 class="g-caption mb-1">Image title</h5>
                        </div>
                    </a>
                </div>
                <div class="gallery-content">
                    <div class="d-flex align-items-center mt-1">
                        <div class="flex-grow-1 text-muted">by <a href="" class="text-body text-truncate">John Doe</a>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="d-flex gap-3">
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-hand-thumbs-up-fill text-muted align-bottom me-1"></i>
                                    1.2K </a>
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-chat-left-text-fill text-muted align-bottom me-1"></i>
                                    1.3K </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
        <div class="col-xxl-3 col-xl-4 col-sm-6 element-item animal" data-category="animal">
            <div class="card gallery-card">
                <div class="gallery-box">
                    <a href="/img/dog-002.jpg" class="glightbox">
                        <img class="img-fluid" src="/img/dog-002.jpg" alt="image" />
                        <div class="g-img-overlay">
                            <h5 class="g-caption mb-1">Image title</h5>
                        </div>
                    </a>
                </div>
                <div class="gallery-content">
                    <div class="d-flex align-items-center mt-1">
                        <div class="flex-grow-1 text-muted">by <a href="" class="text-body text-truncate">John Doe</a>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="d-flex gap-3">
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-hand-thumbs-up-fill text-muted align-bottom me-1"></i>
                                    1.2K </a>
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-chat-left-text-fill text-muted align-bottom me-1"></i>
                                    1.3K </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
        <div class="col-xxl-3 col-xl-4 col-sm-6 element-item animal" data-category="animal">
            <div class="card gallery-card">
                <div class="gallery-box">
                    <a href="/img/dog-003.jpg" class="glightbox">
                        <img class="img-fluid" src="/img/dog-003.jpg" alt="image" />
                        <div class="g-img-overlay">
                            <h5 class="g-caption mb-1">Image title</h5>
                        </div>
                    </a>
                </div>
                <div class="gallery-content">
                    <div class="d-flex align-items-center mt-1">
                        <div class="flex-grow-1 text-muted">by <a href="" class="text-body text-truncate">John Doe</a>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="d-flex gap-3">
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-hand-thumbs-up-fill text-muted align-bottom me-1"></i>
                                    1.2K </a>
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-chat-left-text-fill text-muted align-bottom me-1"></i>
                                    1.3K </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
        <div class="col-xxl-3 col-xl-4 col-sm-6 element-item animal" data-category="animal">
            <div class="card gallery-card">
                <div class="gallery-box">
                    <a href="/img/dog-004.jpg" class="glightbox">
                        <img class="img-fluid" src="/img/dog-004.jpg" alt="image" />
                        <div class="g-img-overlay">
                            <h5 class="g-caption mb-1">Image title</h5>
                        </div>
                    </a>
                </div>
                <div class="gallery-content">
                    <div class="d-flex align-items-center mt-1">
                        <div class="flex-grow-1 text-muted">by <a href="" class="text-body text-truncate">John Doe</a>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="d-flex gap-3">
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-hand-thumbs-up-fill text-muted align-bottom me-1"></i>
                                    1.2K </a>
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-chat-left-text-fill text-muted align-bottom me-1"></i>
                                    1.3K </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
        <!-- nature -->
        <div class="col-xxl-3 col-xl-4 col-sm-6 element-item nature" data-category="nature">
            <div class="card gallery-card">
                <div class="gallery-box">
                    <a href="https://images.unsplash.com/photo-1501854140801-50d01698950b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2175&q=80"
                        class="glightbox">
                        <img class="img-fluid"
                            src="https://images.unsplash.com/photo-1501854140801-50d01698950b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2175&q=80"
                            alt="image" />
                        <div class="g-img-overlay">
                            <h5 class="g-caption mb-1">Image title</h5>
                        </div>
                    </a>
                </div>
                <div class="gallery-content">
                    <div class="d-flex align-items-center mt-1">
                        <div class="flex-grow-1 text-muted">by <a href="" class="text-body text-truncate">John Doe</a>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="d-flex gap-3">
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-hand-thumbs-up-fill text-muted align-bottom me-1"></i>
                                    1.2K </a>
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-chat-left-text-fill text-muted align-bottom me-1"></i>
                                    1.3K </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
        <div class="col-xxl-3 col-xl-4 col-sm-6 element-item nature" data-category="nature">
            <div class="card gallery-card">
                <div class="gallery-box">
                    <a href="https://images.unsplash.com/photo-1497436072909-60f360e1d4b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80"
                        class="glightbox">
                        <img class="img-fluid"
                            src="https://images.unsplash.com/photo-1497436072909-60f360e1d4b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2232&q=80"
                            alt="image" />
                        <div class="g-img-overlay">
                            <h5 class="g-caption mb-1">Image title</h5>
                        </div>
                    </a>
                </div>
                <div class="gallery-content">
                    <div class="d-flex align-items-center mt-1">
                        <div class="flex-grow-1 text-muted">by <a href="" class="text-body text-truncate">John Doe</a>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="d-flex gap-3">
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-hand-thumbs-up-fill text-muted align-bottom me-1"></i>
                                    1.2K </a>
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-chat-left-text-fill text-muted align-bottom me-1"></i>
                                    1.3K </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
        <div class="col-xxl-3 col-xl-4 col-sm-6 element-item nature" data-category="nature">
            <div class="card gallery-card">
                <div class="gallery-box">
                    <a href="https://images.unsplash.com/photo-1502082553048-f009c37129b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                        class="glightbox">
                        <img class="img-fluid"
                            src="https://images.unsplash.com/photo-1502082553048-f009c37129b9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                            alt="image" />
                        <div class="g-img-overlay">
                            <h5 class="g-caption mb-1">Image title</h5>
                        </div>
                    </a>
                </div>
                <div class="gallery-content">
                    <div class="d-flex align-items-center mt-1">
                        <div class="flex-grow-1 text-muted">by <a href="" class="text-body text-truncate">John Doe</a>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="d-flex gap-3">
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-hand-thumbs-up-fill text-muted align-bottom me-1"></i>
                                    1.2K </a>
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-chat-left-text-fill text-muted align-bottom me-1"></i>
                                    1.3K </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
        <div class="col-xxl-3 col-xl-4 col-sm-6 element-item nature" data-category="nature">
            <div class="card gallery-card">
                <div class="gallery-box">
                    <a href="/img/bg-1.svg" class="glightbox">
                        <img class="img-fluid" src="/img/bg-1.svg" alt="image" />
                        <div class="g-img-overlay">
                            <h5 class="g-caption mb-1">Image title</h5>
                        </div>
                    </a>
                </div>
                <div class="gallery-content">
                    <div class="d-flex align-items-center mt-1">
                        <div class="flex-grow-1 text-muted">by <a href="" class="text-body text-truncate">John Doe</a>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="d-flex gap-3">
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-hand-thumbs-up-fill text-muted align-bottom me-1"></i>
                                    1.2K </a>
                                <a href="javascript:void(0)" class="btn btn-sm fs-12 text-body px-0">
                                    <i class="bi-chat-left-text-fill text-muted align-bottom me-1"></i>
                                    1.3K </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div>
</div>