<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-sm-0">Map</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Google Maps </a></li>
                    <li class="breadcrumb-item active">Map</li>
                </ol>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Simple</h5>
            </div>
            <div class="card-body">
                <div id="basic-map" class="mapboard"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0"></h5>
            </div>
            <div class="card-body">
                <div id="imgmap" class="mapboard"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    World Vector Map With Image Marker
                </h5>
            </div>
            <div class="card-body">
                <div id="img-marker" class="mapboard"></div>
            </div>
        </div>
    </div><!-- end col -->

</div><!-- end row -->