<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Images</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Base UI</a></li>
                    <li class="breadcrumb-item active">Images</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Image Thumbnails</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-center">
                            <img class="img-thumbnail" alt="" src="/img/dog-001.jpg">
                            <p class="mt-2 mb-lg-0"><code>.img-thumbnail</code></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-4 mt-md-0 text-center">
                            <img class="img-thumbnail rounded-circle avatar-xl" alt="" src="/img/dog-002.jpg">
                            <p class="mt-2 mb-lg-0"><code>.img-thumbnail</code></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Image Rounded & Circle</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="text-center">
                            <img class="img-fluid rounded" alt="" src="/img/dog-002.jpg">
                            <p class="mt-2 mb-lg-0"><code>.rounded</code></p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mt-4 mt-md-0 text-center">
                            <img class="rounded-circle avatar-xl" alt="" src="/img/dog-003.jpg">
                            <p class="mt-2 mb-lg-0"><code>.rounded-circle</code></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Image Size Rounded </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="text-center">
                            <img src="/img/dog-001.jpg" alt="" class="rounded avatar-xs">
                            <p class="mt-2 mb-lg-0"><code>.avatar-xs</code></p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="text-center">
                            <img src="/img/dog-002.jpg" alt="" class="rounded avatar-sm">
                            <p class="mt-2  mb-lg-0"><code>.avatar-sm</code></p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="text-center">
                            <img src="/img/dog-003.jpg" alt="" class="rounded avatar">
                            <p class="mt-2 mb-lg-0"><code>.avatar</code></p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="text-center">
                            <img src="/img/dog-004.jpg" alt="" class="rounded avatar-md">
                            <p class="mt-2 mb-lg-0"><code>.avatar-md</code></p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="text-center">
                            <img src="/img/dog-005.jpg" alt="" class="rounded avatar-lg">
                            <p class="mt-2 mb-lg-0"><code>.avatar-lg</code></p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="text-center">
                            <img src="/img/dog-006.jpg" alt="" class="rounded avatar-xl">
                            <p class="mt-2 mb-lg-0"><code>.avatar-xl</code></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Rounded Circle Size Image</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="text-center">
                            <img src="/img/dog-001.jpg" alt="" class="rounded-circle avatar-xs">
                            <p class="mt-2 mb-lg-0"><code>.avatar-xs</code></p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="text-center">
                            <img src="/img/dog-002.jpg" alt="" class="rounded-circle avatar-sm">
                            <p class="mt-2  mb-lg-0"><code>.avatar-sm</code></p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="text-center">
                            <img src="/img/dog-003.jpg" alt="" class="rounded-circle avatar">
                            <p class="mt-2 mb-lg-0"><code>.avatar</code></p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="text-center">
                            <img src="/img/dog-004.jpg" alt="" class="rounded-circle avatar-md">
                            <p class="mt-2 mb-lg-0"><code>.avatar-md</code></p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="text-center">
                            <img src="/img/dog-005.jpg" alt="" class="rounded-circle avatar-lg">
                            <p class="mt-2 mb-lg-0"><code>.avatar-lg</code></p>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="text-center">
                            <img src="/img/dog-006.jpg" alt="" class="rounded-circle avatar-xl">
                            <p class="mt-2 mb-lg-0"><code>.avatar-xl</code></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Image Rounded & Circle</h5>
            </div>
            <div class="card-body">
                <div class="card mb-3">
                    <div class="card-img-h-2">
                        <img src="/img/pattern-2.jpg" class="card-img-top img-inset" alt="...">
                    </div>

                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>



    </div><!-- end col -->
    <div class="col-md-6 col-xxl-3">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-img-h">
                <img class="card-img-top" src="/img/pattern-1.jpg" alt="">
            </div>
            <div class="card-img-overlay">
                <div class="badge bg-secondary">Ongoing</div>
            </div>
            <div class="card-body">
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-heading">Web development</a>
                </h4>
                <!-- project detail-->
                <p class="mb-1">
                    <span class="pe-3 text-nowrap mb-2 d-inline-block">
                        <i class="bi-list-ul text-muted"></i>
                        <b>12</b> Tasks
                    </span>
                    <span class="text-nowrap mb-2 d-inline-block">
                        <i class="bi-chat-dots text-muted"></i>
                        <b>174</b> Comments
                    </span>
                </p>
                <div class="mb-0">
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/image-john.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/dog-001.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/image-tanya.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" class="d-inline-block text-muted fw-bold ms-2">
                        +7 more
                    </a>
                </div>
            </div> <!-- end card-body-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">

                    <p class="mb-2 fw-bold">
                        Progress
                        <span class="float-end">60%</span>
                    </p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" style="width: 60%;">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div><!-- end col -->
    <div class="col-md-6 col-xxl-3">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-img-h">
                <img class="card-img-top" src="/img/pattern-3.jpg" alt="">
            </div>
            <div class="card-img-overlay">
                <div class="badge bg-primary">Ongoing</div>
            </div>
            <div class="card-body">
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-heading">Web development</a>
                </h4>
                <!-- project detail-->
                <p class="mb-1">
                    <span class="pe-3 text-nowrap mb-2 d-inline-block">
                        <i class="bi-list-ul text-muted"></i>
                        <b>12</b> Tasks
                    </span>
                    <span class="text-nowrap mb-2 d-inline-block">
                        <i class="bi-chat-dots text-muted"></i>
                        <b>174</b> Comments
                    </span>
                </p>
                <div class="mb-0">
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/image-john.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/dog-001.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/image-tanya.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" class="d-inline-block text-muted fw-bold ms-2">
                        +7 more
                    </a>
                </div>
            </div> <!-- end card-body-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">

                    <p class="mb-2 fw-bold">
                        Progress
                        <span class="float-end">60%</span>
                    </p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" style="width: 60%;">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>