<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Dashboard</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                    <li class="breadcrumb-item active">Projects</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="h-100">
        <div class="row">
            <div class="col-xl-4 col-lg-6">
                <div class="card project-card-sm">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div
                                    class="avatar-sm d-flex align-items-center justify-content-center rounded bg-rgba-success">
                                    <i class="bi-pie-chart fs-25"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted mb-1">Order</p>
                                <h4 class="mb-0">$31,326</h4>
                            </div>

                            <div class="flex-shrink-0 align-self-end ms-2">
                                <div class="badge rounded-pill fs-13 bg-rgba-success">+ 2.65%
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end card body -->
                </div>
                <!-- end card -->
            </div> <!-- col end -->
            <div class="col-xl-4 col-lg-6">
                <div class="card project-card-sm">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div
                                    class="avatar-sm d-flex align-items-center justify-content-center rounded bg-rgba-warning">
                                    <i class="bi-briefcase fs-25"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted mb-1">Order</p>
                                <h4 class="mb-0">$31,326</h4>
                            </div>

                            <div class="flex-shrink-0 align-self-end ms-2">
                                <div class="badge rounded-pill fs-13 bg-rgba-danger">+ 2.65%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
            <!-- end col -->
            <div class="col-xl-4 col-lg-6">
                <div class="card project-card-sm">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div
                                    class="avatar-sm d-flex align-items-center justify-content-center rounded bg-rgba-danger">
                                    <i class="bi-person fs-25"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <p class="text-muted mb-1">Customers</p>
                                <h4 class="mb-0">$31,326</h4>
                            </div>

                            <div class="flex-shrink-0 align-self-end ms-2">
                                <div class="badge rounded-pill fs-13 bg-rgba-danger">+ 2.65%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>

        <div class="row">
            <div class="col-xl-8">
                <div class="card card-shadow">
                    <div class="d-flex justify-content-between p-3">
                        <h5 class="card-title mb-0">Sales Analytics</h5>
                        <div class="dropdown">
                            <a class=" dropdown-toggle-btn" href="#" id="salesAnalytics" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="text-muted">Sort by<i class="bi-chevron-down ms-1"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="salesAnalytics">
                                <a class="dropdown-item" href="#">Monthly</a>
                                <a class="dropdown-item" href="#">Yearly</a>
                                <a class="dropdown-item" href="#">Weekly</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="project-chart"></div>
                    </div>
                </div>
            </div> <!-- col end -->
            <div class="col-xl-4">
                <div class="card">
                    <div class="d-flex justify-content-between p-3">
                        <h5 class="card-title mb-0">Project Status</h5>
                        <div class="dropdown">
                            <a class=" dropdown-toggle-btn" href="#" id="project-status" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="text-muted">Sort by<i class="bi-chevron-down ms-1"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="project-status">
                                <a class="dropdown-item" href="#">Daily</a>
                                <a class="dropdown-item" href="#">Weekly</a>
                                <a class="dropdown-item" href="#">Monthly</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">

                        <div id="donut-chart"></div>
                        <div class="d-flex justify-content-center align-items-center mt-3 mb-4">
                            <h2 class="me-3 ff-secondary mb-0">258</h2>
                            <div>
                                <p class="text-muted mb-0">Total Projects</p>
                                <p class="text-success fw-medium mb-0">
                                    <span class="badge bg-rgba-success p-1 rounded-circle">
                                        <i class="bi-arrow-90deg-up"></i></span> +3 New
                                </p>
                            </div>
                        </div>
                        <div class="border-top ">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="d-inline-flex align-items-center py-2">
                                        <span class="p-1 rounded-circle bg-success justify-content-center me-1"></span>
                                        <h6 class="mb-0">Competed </h6>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="d-inline-flex align-items-center py-2">
                                        <span class="p-1 rounded-circle bg-warning justify-content-center me-1"></span>
                                        <h6 class="mb-0">Pending </h6>
                                    </div>
                                </div>
                                <div class="col-xl-4">
                                    <div class="d-inline-flex align-items-center py-2">
                                        <span class="p-1 rounded-circle bg-danger justify-content-center me-1"></span>
                                        <h6 class="mb-0">Pending </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h4 class="card-title mb-4">Orders</h4>

                            <div>
                                <div class="dropdown d-inline">
                                    <a class="dropdown-toggle-btn text-muted me-3 mb-3 align-middle" href="#"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="bx bx-search fs-16"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0">
                                        <form class="p-2">
                                            <div class="search-box">
                                                <div class="position-relative">
                                                    <input type="text" class="form-control rounded bg-light border-0"
                                                        placeholder="Search...">
                                                    <i class="bx bx-search fs-16 search-icon"></i>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                                <div class="dropdown d-inline">
                                    <a class="dropdown-toggle-btn text-reset mb-3" href="#" data-bs-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                        <span class="fw-semibold">Report By:</span> <span class="text-muted">Monthly<i
                                                class="mdi mdi-chevron-down ms-1"></i></span>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="#">Yearly</a>
                                        <a class="dropdown-item" href="#">Monthly</a>
                                        <a class="dropdown-item" href="#">Weekly</a>
                                        <a class="dropdown-item" href="#">Today</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover nowrap mb-0 align-middle">
                                <thead class="bg-light">
                                    <tr>
                                        <th class="rounded-start">
                                            <div class="form-check">
                                                <input class="form-check-input fs-16" type="checkbox" value=""
                                                    id="checkAll">
                                                <label class="form-check-label" for="checkAll"> </label>
                                            </div>
                                        </th>
                                        <th>ID</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Customer</th>
                                        <th>Purchased</th>
                                        <th colspan="2" class="rounded-end">Revenue</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input fs-16" type="checkbox" value=""
                                                    id="flexCheckexampleone">
                                                <label class="form-check-label" for="flexCheckexampleone">
                                                </label>
                                            </div>
                                        </td>
                                        <td class="fw-medium">
                                            #DK1018
                                        </td>
                                        <td>1 Jun, 11:21</td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="me-2">
                                                    <i class="bi-check-circle text-success"></i>
                                                </div>
                                                <div>
                                                    <p class="mb-0">Paid</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="me-2">
                                                    <img src="/img/image-john.jpg"
                                                        class="avatar-sm img-thumbnail h-auto rounded-circle"
                                                        alt="Error">
                                                </div>
                                                <div>
                                                    <h5 class="fs-14 text-truncate mb-0">
                                                        <a href="#" class="text-reset">Alex Fox</a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Wireframing Kit for Figma</td>
                                        <td>$129.99</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle-btn card-drop"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi-three-dots fs-18 text-muted"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li><a href="#" class="dropdown-item">
                                                            <i class="bi-pencil fs-16 text-success me-1"></i>
                                                            Edit</a></li>
                                                    <li><a href="#" class="dropdown-item">
                                                            <i class="bi-trash fs-16 text-danger me-1"></i>
                                                            Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input fs-16" type="checkbox" value=""
                                                    id="flexCheckexamplethree">
                                                <label class="form-check-label" for="flexCheckexamplethree">
                                                </label>
                                            </div>
                                        </td>
                                        <td class="fw-medium">
                                            #DK1017
                                        </td>
                                        <td>
                                            29 May, 18:36
                                        </td>

                                        <td>
                                            <div class="d-flex">
                                                <div class="me-2">
                                                    <i class="bi-check-circle text-success"></i>
                                                </div>
                                                <div>
                                                    <p class="mb-0">Paid</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="me-2">
                                                    <img src="/img/dog-002.jpg"
                                                        class="avatar-sm img-thumbnail h-auto rounded-circle"
                                                        alt="Error">
                                                </div>
                                                <div>
                                                    <h5 class="fs-14 text-truncate mb-0"><a href="#"
                                                            class="text-reset">Joya Calvert</a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            Mastering the Grid <span class="text-muted">+2 more</span>
                                        </td>
                                        <td> $228.88</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle-btn card-drop"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi-three-dots fs-18 text-muted"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li>
                                                        <a href="#" class="dropdown-item">
                                                            <i class="bi-pencil fs-16 text-success me-1"></i>
                                                            Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="dropdown-item">
                                                            <i class="bi-trash fs-16 text-danger me-1"></i>
                                                            Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input fs-16" type="checkbox" value=""
                                                    id="flexCheckexamplefour">
                                                <label class="form-check-label" for="flexCheckexamplefour">
                                                </label>
                                            </div>
                                        </td>
                                        <td class="fw-medium">#DK1016</td>
                                        <td>25 May , 08:09</td>

                                        <td>
                                            <div class="d-flex">
                                                <div class="me-2">
                                                    <i class="bi-arrow-left-circle text-warning"></i>
                                                </div>
                                                <div>
                                                    <p class="mb-0">Refunded</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="me-2">
                                                    <img src="/img/image-tanya.jpg"
                                                        class="avatar-sm img-thumbnail h-auto rounded-circle"
                                                        alt="Error">
                                                </div>
                                                <div>
                                                    <h5 class="fs-14 text-truncate mb-0"><a href="#"
                                                            class="text-reset">Gracyn Make</a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Wireframing Kit for Figma</td>
                                        <td>$9.99</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle-btn card-drop"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi-three-dots fs-18 text-muted"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li>
                                                        <a href="#" class="dropdown-item">
                                                            <i class="bi-pencil fs-16 text-success me-1"></i>
                                                            Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="dropdown-item">
                                                            <i class="bi-trash fs-16 text-danger me-1"></i>
                                                            Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input fs-16" type="checkbox" value=""
                                                    id="flexCheckexamplefive">
                                                <label class="form-check-label" for="flexCheckexamplefive">
                                                </label>
                                            </div>
                                        </td>
                                        <td class="fw-medium"> #DK1015</td>
                                        <td>19 May , 14:09</td>

                                        <td>
                                            <div class="d-flex">
                                                <div class="me-2">
                                                    <i class="bi-check-circle text-success"></i>
                                                </div>
                                                <div>
                                                    <p class="mb-0">Paid</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="me-2">
                                                    <img src="/img/image-tanya.jpg"
                                                        class="avatar-sm img-thumbnail h-auto rounded-circle"
                                                        alt="Error">
                                                </div>
                                                <div>
                                                    <h5 class="fs-14 text-truncate mb-0" 0>
                                                        <a href="#" class="text-reset">Monroe Mock</a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Spiashify 2.0</td>
                                        <td>$44.00</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle-btn card-drop"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi-three-dots fs-18 text-muted"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li><a href="#" class="dropdown-item"><i
                                                                class="bi-pencil fs-16 text-success me-1"></i>
                                                            Edit</a></li>
                                                    <li><a href="#" class="dropdown-item"><i
                                                                class="bi-trash fs-16 text-danger me-1"></i>
                                                            Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input fs-16" type="checkbox" value=""
                                                    id="flexCheckexamplesix">
                                                <label class="form-check-label" for="flexCheckexamplesix">
                                                </label>
                                            </div>
                                        </td>
                                        <td class="fw-medium"> #DK1014</td>
                                        <td>10 May , 10:00</td>

                                        <td>
                                            <div class="d-flex">
                                                <div class="me-2">
                                                    <i class="bi-check-circle text-success"></i>
                                                </div>
                                                <div>
                                                    <p class="mb-0">Paid</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="me-2">
                                                    <img src="/img/dog-001.jpg"
                                                        class="avatar-sm img-thumbnail h-auto rounded-circle"
                                                        alt="Error">
                                                </div>
                                                <div>
                                                    <h5 class="fs-14 text-truncate mb-0"><a href="#"
                                                            class="text-reset">Lauren Bond</a>
                                                    </h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Mastering the Grid</td>
                                        <td>$75.87</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle-btn card-drop"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi-three-dots fs-18 text-muted"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li><a href="#" class="dropdown-item"><i
                                                                class="bi-pencil fs-16 text-success me-1"></i>
                                                            Edit</a></li>
                                                    <li><a href="#" class="dropdown-item"><i
                                                                class="bi-trash fs-16 text-danger me-1"></i>
                                                            Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input fs-16" type="checkbox" value=""
                                                    id="flexCheckexamplenine">
                                                <label class="form-check-label" for="flexCheckexamplenine">
                                                </label>
                                            </div>
                                        </td>
                                        <td class="fw-medium">#DK1011 </td>
                                        <td>29 Apr , 12:46</td>

                                        <td>
                                            <div class="d-flex">
                                                <div class="me-2">
                                                    <i class="bi-x-circle text-danger"></i>
                                                </div>
                                                <div>
                                                    <p class="mb-0">Changeback</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="me-2">
                                                    <img src="/img/image-john.jpg"
                                                        class="avatar-sm img-thumbnail h-auto rounded-circle"
                                                        alt="Error">
                                                </div>
                                                <div>
                                                    <h5 class="fs-14 text-truncate mb-0"><a href="#"
                                                            class="text-reset">Ricardo Schaefer</a> </h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td>Spiashify 2.0</td>

                                        <td> $63.99</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle-btn card-drop"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi-three-dots fs-18 text-muted"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li><a href="#" class="dropdown-item"><i
                                                                class="bi-pencil fs-16 text-success me-1"></i>
                                                            Edit</a></li>
                                                    <li><a href="#" class="dropdown-item"><i
                                                                class="bi-trash fs-16 text-danger me-1"></i>
                                                            Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-check">
                                                <input class="form-check-input fs-16" type="checkbox" value=""
                                                    id="flexCheckDefaultexample">
                                                <label class="form-check-label" for="flexCheckDefaultexample">
                                                </label>
                                            </div>
                                        </td>
                                        <td class="fw-medium">
                                            #DK1010
                                        </td>
                                        <td>27 Apr , 10:53
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <div class="me-2">
                                                    <i class="bi-check-circle text-success"></i>
                                                </div>
                                                <div>
                                                    <p class="mb-0">Paid</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="me-2">
                                                    <img src="/img/image-john.jpg"
                                                        class="avatar-sm img-thumbnail h-auto rounded-circle"
                                                        alt="Error">
                                                </div>
                                                <div>
                                                    <h5 class="fs-14 text-truncate mb-0"><a href="#"
                                                            class="text-reset">Arvi Hasan</a> </h5>
                                                </div>
                                            </div>
                                        </td>
                                        <td> Wireframing Kit for Figma</td>
                                        <td>$51.00</td>
                                        <td>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle-btn card-drop"
                                                    data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="bi-three-dots fs-18 text-muted"></i>
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <li><a href="#" class="dropdown-item"><i
                                                                class="bi-pencil fs-16 text-success me-1"></i>
                                                            Edit</a></li>
                                                    <li><a href="#" class="dropdown-item"><i
                                                                class="bi-trash fs-16 text-danger me-1"></i>
                                                            Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <div id="worldmap-markers" class="w-100" style="height: 300px"></div>

                        <div class="pt-3 px-2 pb-2">
                            <p class="mb-1 fw-medium">USA <span class="float-end">75%</span></p>
                            <div class="progress progress-md mt-2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="75">
                                </div>
                            </div>

                            <p class="mt-4 mb-1 fw-medium">Russia <span class="float-end">55%</span></p>
                            <div class="progress progress-md mt-2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="55">
                                </div>
                            </div>

                            <p class="mt-4 mb-1 fw-medium">Australia <span class="float-end">85%</span></p>
                            <div class="progress progress-md mt-2">
                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                    style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="85">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>