<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Dashboard</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="h-100">
        <div class="row e-h">
            <div class="col-xl-9 col-md-12">
                <div class="card">
                    <div class="card-header bg-transparent">
                        <h5 class="mb-0">
                            Top tranding Social Media Application
                        </h5>
                    </div>
                    <div class="card-body">
                        <div id="bar-chart-race" class="amchart index-social"></div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3">
                <div class="card">
                    <div class="card-header bg-transparent border-0">
                        <h4 class="mb-">Most Uses Link</h4>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item py-3 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs ax-flex-center-0 border rounded-2 text-youtube"><i
                                        class="bi-youtube fs-20"></i></div>
                                <a href="#" class="h5 ms-3 mb-0">Youtube</a>
                            </div>
                            <a href="#" class="btn-link text-primary"><i class="bi-link-45deg fs-20"></i></a>
                        </li>
                        <li class="list-group-item py-3 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs ax-flex-center-0 border rounded-2 text-instagram"><i
                                        class="bi-instagram fs-20"></i></div>
                                <a href="#" class="h5 ms-3 mb-0">Instagram</a>
                            </div>
                            <a href="#" class="btn-link text-primary"><i class="bi-link-45deg fs-20"></i></a>
                        </li>
                        <li class="list-group-item py-3 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs ax-flex-center-0 border rounded-2 text-facebook"><i
                                        class="bi-facebook fs-20"></i></div>
                                <a href="#" class="h5 ms-3 mb-0">Facebook</a>
                            </div>
                            <a href="#" class="btn-link text-primary"><i class="bi-link-45deg fs-20"></i></a>
                        </li>
                        <li class="list-group-item py-3 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs ax-flex-center-0 border rounded-2 text-linkedin"><i
                                        class="bi-linkedin fs-20"></i></div>
                                <a href="#" class="h5 ms-3 mb-0">Linkedin</a>
                            </div>
                            <a href="#" class="btn-link text-primary"><i class="bi-link-45deg fs-20"></i></a>
                        </li>
                        <li class="list-group-item py-3 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs ax-flex-center-0 border rounded-2 text-pinterest"><i
                                        class="bi-pinterest fs-20"></i></div>
                                <a href="#" class="h5 ms-3 mb-0">Pinterest</a>
                            </div>
                            <a href="#" class="btn-link text-primary"><i class="bi-link-45deg fs-20"></i></a>
                        </li>
                        <li class="list-group-item py-3 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs ax-flex-center-0 border rounded-2 text-whatsapp"><i
                                        class="bi-whatsapp fs-20"></i></div>
                                <a href="#" class="h5 ms-3 mb-0">Whatsapp</a>
                            </div>
                            <a href="#" class="btn-link text-primary"><i class="bi-link-45deg fs-20"></i></a>
                        </li>
                        <li class="list-group-item py-3 d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <div class="avatar-xs ax-flex-center-0 border rounded-2 text-github"><i
                                        class="bi-github fs-20"></i></div>
                                <a href="#" class="h5 ms-3 mb-0">Whatsapp</a>
                            </div>
                            <a href="#" class="btn-link text-primary"><i class="bi-link-45deg fs-20"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row e-h">
            <div class="col-xl-9 col-md-12">
                <div class="card">
                    <div class="card-header bg-transparent border-0">
                        <h4 class="mb-0">Social statistics</h4>
                    </div>
                    <div class="px-3">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card border-dashed border shadow-none">
                                    <div class="card-body text-center">
                                        <div class="avatar-sm text-danger mx-auto mb-3">
                                            <i class="bi-graph-up fs-28"></i>
                                        </div>
                                        <h5>Client Avg. Rating</h5>
                                        <h4 class="fw-bold">8.1 / 10</h4>
                                        <small class="text-success mb-3"><i class="bi-graph-up-arrow"></i> 1.5%</small>
                                        <p class="mb-3">Last week</p>
                                    </div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-md-4">
                                <div class="card border-dashed border shadow-none">
                                    <div class="card-body text-center">
                                        <div class="avatar-sm text-secondary mx-auto mb-3">
                                            <i class="bi-people fs-28"></i>
                                        </div>
                                        <h5>Facebook Follower</h5>
                                        <h4 class="fw-bold">2344K</h4>
                                        <small class="text-danger mb-3"><i class="bi-graph-down-arrow"></i> 1.5%</small>
                                        <p class="mb-3">Last week</p>
                                    </div>
                                </div>
                            </div><!-- end col -->
                            <div class="col-md-4">
                                <div class="card border-dashed border shadow-none">
                                    <div class="card-body text-center">
                                        <div class="avatar-sm text-warning mx-auto mb-3">
                                            <i class="bi-coin fs-28"></i>
                                        </div>
                                        <h5>Google Ads</h5>
                                        <h4 class="fw-bold">9.11%</h4>
                                        <small class="text-success mb-3"><i class="bi-graph-up-arrow"></i> 3.5%</small>
                                        <p class="mb-3">Last week</p>
                                    </div>
                                </div>
                            </div><!-- end col -->
                        </div>
                    </div>
                </div>
            </div><!-- col end -->
            <div class="col-xl-3 col-md-12">
                <div class="card">
                    <div class="bg-primary card-img-h-2 rounded-top">
                        <div id="columnchart2"></div>
                    </div>
                    <div class="card-body text-cente">
                        <h4 class="fw-bold mb-3">Visitors 990K</h4>
                        <div class="d-flex justify-content-between mb-3">
                            <div class="flex-shrink-0">Last compaign</div>
                            <div class="text-danger"><i class="bi-graph-down-arrow"></i></div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="flex-shrink-0">High Performance</div>
                            <div class="text-success"><span>2.1%</span></div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div class="flex-shrink-0">Low Performance</div>
                            <div class="text-danger"><span>3.7%</span></div>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->

        </div>
        <div class="row">
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body">
                        <div id="index-3area-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-header bg-transparent border-0">
                        <h4 class="mb-0">Top Plateform</h4>
                    </div>

                    <div class="card-body pb-0">
                        <div class="table-responsive">
                            <table class="table align-middle">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Visitors</th>
                                        <th>Revenues</th>
                                        <th>conversion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <div
                                                        class="avatar-xs rounded-5 text-white bg-youtube ax-flex-center-0">
                                                        <i class="bi-youtube"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 ms-2">
                                                    <h6 class="mb-0">Youtube</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>71.9K</td>
                                        <td><span class="text-success">$33.5</span></td>
                                        <td><span>12%</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <div
                                                        class="avatar-xs rounded-5 text-white bg-facebook ax-flex-center-0">
                                                        <i class="bi-facebook"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 ms-2">
                                                    <h6 class="mb-0">Facebook</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>7.9K</td>
                                        <td><span class="text-success">$17.5</span></td>
                                        <td><span>2%</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <div
                                                        class="avatar-xs rounded-5 text-white bg-github ax-flex-center-0">
                                                        <i class="bi-github"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 ms-2">
                                                    <h6 class="mb-0">Github</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>6.4K</td>
                                        <td><span class="text-success">$3.2</span></td>
                                        <td><span>1.7%</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <div
                                                        class="avatar-xs rounded-5 text-white bg-google ax-flex-center-0">
                                                        <i class="bi-google"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 ms-2">
                                                    <h6 class="mb-0">Google</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>23.6K</td>
                                        <td><span class="text-success">$14.4</span></td>
                                        <td><span>11.7%</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <div
                                                        class="avatar-xs rounded-5 text-white bg-twitter ax-flex-center-0">
                                                        <i class="bi-twitter"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 ms-2">
                                                    <h6 class="mb-0">Twitter</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>6.4K</td>
                                        <td><span class="text-success">$4.2</span></td>
                                        <td><span>2.7%</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="flex-shrink-0">
                                                    <div
                                                        class="avatar-xs rounded-5 text-white bg-linkedin ax-flex-center-0">
                                                        <i class="bi-linkedin"></i>
                                                    </div>
                                                </div>
                                                <div class="flex-grow-1 ms-2">
                                                    <h6 class="mb-0">Linkedin</h6>
                                                </div>
                                            </div>
                                        </td>
                                        <td>6.4K</td>
                                        <td><span class="text-success">$4.2</span></td>
                                        <td><span>2.7%</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-5 col-xl-4 order-1 order-lg-0">
                <div class="card cover-image">
                    <div class="card-header hover-actions mb-5 position-relative">
                        <div class="profile-bg-cover">
                            <label class="cover-image-layer" for=""></label>
                            <div class="hover-action end-0 bottom-0 pe-1 pb-2 text-white">
                                <span class="bi bi-camera-fill me-2 overlay-icon"> </span>
                            </div>
                        </div>
                        <div class="avatar-lg status-online avatar-profile">
                            <img class="rounded-circle img-thumbnail bg-white shadow-sm" src="/img/user-6.jpg" alt="">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex flex-wrap mb-3 align-items-center">
                                    <h3 class="me-2">Ally Wood</h3><span class="fw-normal fs-0">UI Designer</span>
                                </div>
                                <div class="mb-3">
                                    <div class="d-flex align-items-center flex-wrap">
                                        <div class="d-flex me-4 mb-2"><span
                                                class="bi bi-people-fill me-2 me-lg-1 me-xl-2"></span>
                                            <h6 class="d-inline-block mb-0">1297 <span
                                                    class="fw-semi-bold">Followers</span></h6>
                                        </div>
                                        <div class="d-flex mb-2"><span
                                                class="bi bi-person-check me-2 me-lg-1 me-xl-2"></span>
                                            <h6 class="d-block d-xl-inline-block mb-0"> 3971 <span
                                                    class="fw-semi-bold">Following</span></h6>
                                        </div>
                                    </div>
                                </div>
                                <p class="fw-semi-bold mb-0">About me<span class="bi bi-pencil text-500 ms-3"></span>
                                </p>
                                <p class="text-700 mb-0">"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero
                                    voluptatibus a, repellat asperiores libero dignissimos numquam odit laborum nisi rem
                                    unde aperiam" </p>
                            </div>
                        </div>
                    </div>
                </div><!-- end card -->
                <div class="card">
                    <div class="card-body">
                        <div class="row g-0">
                            <div class="col-6 border-1 border-bottom border-end py-3">
                                <a class="ps-2 d-flex flex-column text-center" href="#!">
                                    <i class="bi bi-people-fill me-2 mb-2 mb-xxl-0"></i> Followers</a>
                            </div>
                            <div class="col-6 border-1 border-bottom py-3">
                                <a class="d-flex flex-column text-center" href="#!">
                                    <i class="bi bi-peace-fill me-2 mb-2 mb-xxl-0"></i> Communities</a>
                            </div>
                            <div class="col-6 border-1 border-bottom border-end py-3">
                                <a class="ps-2 d-flex flex-column text-center" href="#!">
                                    <i class="bi bi-film me-2 mb-2 mb-xxl-0"></i> Movies</a>
                            </div>
                            <div class="col-6 border-1 border-bottom py-3">
                                <a class="d-flex flex-column text-center" href="#!">
                                    <i class="bi bi-calendar me-2 mb-2 mb-xxl-0"></i> Events</a>
                            </div>
                            <div class="col-6 border-1 border-end py-3">
                                <a class="ps-2 d-flex flex-column text-center" href="#!">
                                    <i class="bi bi-dice-4-fill me-2 mb-2 mb-xxl-0"></i> Games</a>
                            </div>
                            <div class="col-6 border-1 py-3">
                                <a class="d-flex flex-column text-center" href="#!">
                                    <i class="bi bi-gear-fill"></i> Settings </a>
                            </div>
                        </div>
                    </div>
                </div><!-- end card -->
                <div class="card mt-4" id="delete">
                    <div class="card-header base-bg border-0">
                        <h5>Delete Account</h5>
                        <p class="small text-muted mb-0">Once you delete your account, there is no going back. Please be
                            certain.</p>
                    </div>
                    <div class="card-body d-sm-flex pt-0">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <div>
                                <span class="text-dark fw-bold d-block small">Confirm</span>
                                <span class="small d-block">I want to delete my account.</span>
                                <div class="form-check form-switch mb-0">
                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault0">
                                </div>
                            </div>
                            <div class="ms-auto">
                                <a href="#!" class="btn btn-danger btn-sm mb-0 ms-2 small" type="button"
                                    name="button">Delete Account</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-lg-7 col-xl-8">
                <div class="card mb-4 overflow-hidden">
                    <div class="card-body">
                        <div class="d-flex align-items-center mb-3">
                            <div class="avatar avatar-sm status-online me-2"><img class="rounded-circle"
                                    src="/img/user-3.jpg" alt="alt"></div>
                            <div class="flex-1"><a class="fw-semibold mb-0 " href="#!">Alan Walker</a>
                                <p class="mb-0 text-muted fs-10">30 mins ago
                                    <i class="bi-circle-fill fs-4"></i>
                                    Florida, USA
                                    <i class="bi-circle-fill fs-4"></i>
                                    <i class=" bi-globe-americas text-900"></i>
                                </p>
                            </div>
                            <div class="btn-reveal-trigger">
                                <button class="btn btn-sm btn dropdown-caret-none transition-none btn-reveal"
                                    type="button" id="documentations" data-bs-toggle="dropdown" data-boundary="window"
                                    aria-haspopup="true" aria-expanded="false">
                                    <i class="bi bi-three-dots"></i></button>
                                <div class="dropdown-menu dropdown-menu-end py-2" aria-labelledby="documentations"><a
                                        class="dropdown-item" href="#!">Edit</a>
                                    <a class="dropdown-item text-danger" href="#!">Delete</a><a class="dropdown-item"
                                        href="#!">Download</a><a class="dropdown-item" href="#!">Report abuse</a>
                                </div>
                            </div>
                        </div>
                        <p class="">Some pets I love</p>
                        <div class="row g-1 mb-4 border-bottom pb-4">
                            <div class="col-3">
                                <a class="post-avatar-wrap"
                                    href="https://images.unsplash.com/photo-1520580413066-ac45756bdc71?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                                    data-gallery="gallery-posts-2">
                                    <img class="rounded"
                                        src="https://images.unsplash.com/photo-1520580413066-ac45756bdc71?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                                        alt="...">
                                </a>
                            </div>
                            <div class="col-3">
                                <a class="post-avatar-wrap"
                                    href="https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                                    data-gallery="gallery-posts-2">
                                    <img class="rounded"
                                        src="https://images.unsplash.com/photo-1623387641168-d9803ddd3f35?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
                                        alt="...">
                                </a>
                            </div>
                            <div class="col-6">
                                <a class="post-avatar-wrap"
                                    href="https://images.unsplash.com/photo-1581888227599-779811939961?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80"
                                    data-gallery="gallery-posts-2">
                                    <img class="rounded"
                                        src="https://images.unsplash.com/photo-1581888227599-779811939961?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2874&q=80"
                                        alt="...">
                                </a>
                            </div>
                        </div>
                        <div class="d-flex">
                            <button class="btn btn-link text-decoration-none p-0 me-3 fs-12 fw-bolder" type="button">
                                <i class="bi bi-heart-fill me-1"></i> 137 Likes</button>
                            <button class="btn p-0 fs-10 me-3 fw-bolder" type="button">
                                <i class="bi bi-chat-fill me-1"></i> 23 Comments</button>
                            <button class="btn p-0 fs-10 me-2 fw-bolder" type="button">
                                <i class="bi bi-share-fill me-1"></i> 11 shares</button>
                        </div>
                    </div>
                    <div class="bg-100 ps-2 pe-3 py-3 border-top">
                        <div class="d-flex align-items-start ps-3">
                            <div class="avatar avatar-xs status-online me-3">
                                <img class="rounded-circle" src="/img/user-1.jpg" alt="alt">
                            </div>
                            <div class="flex-1">
                                <div class="d-flex align-items-center">
                                    <a class="fw-semibold mb-0 text-decoration-none " href="#!">Angelina
                                        Jolie</a>
                                    <span class="text-muted fs-10 ms-2">35 mins ago</span>
                                </div>
                                <p class="mb-0">Hello everyone I'm Angelina Jolie from USA I'm here to sell puppy's if
                                    you are interested follow me and text me I'm here</p>
                                <button class="btn p-0 text-decoration-none fw-bolder mb-2" type="button">
                                    <i class="bi-solid bi-reply-fill fs-12"></i>
                                    <span class="d-inline-block fw-semibold fs-10">Reply</span></button>

                                <div class="d-flex align-items-start ps-3 mb-3">
                                    <div class="avatar avatar-xs status-online me-3">
                                        <img class="rounded-circle" src="/img/user-4.jpg" alt="alt">
                                    </div>
                                    <div class="flex-1">
                                        <div class="d-flex align-items-center">
                                            <a class="fw-semibold mb-0 text-decoration-none " href="#!">Brad
                                                Pitt</a>
                                            <span class="text-muted fs-10 ms-2">5 mins ago</span>
                                        </div>
                                        <p class="mb-0">Slay! We want to forward your pet some lovely pet,toys, and
                                            other cute stuff! Message us!😃</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center ps-3">
                            <div class="avatar avatar-xs me-3"><img class="rounded-circle" src="/img/user-8.jpg"
                                    alt="alt"></div>
                            <div class="flex-1"><input class="form-control" type="text" placeholder="Add comment"></div>
                        </div>
                    </div>
                </div><!-- end card -->
                <div class="card">
                    <form method="post" class="card-body">
                        <span class="input-icon icon-end">
                            <textarea rows="7" class="form-control" placeholder="Post a new message"></textarea>
                        </span>
                        <div class="pt-1 float-end">
                            <a href="" class="btn btn-primary btn-sm waves-effect waves-light">Send</a>
                        </div>
                        <ul class="nav nav-pills profile-pills mt-1">
                            <li>
                                <a href="#"><i class="bi bi-image"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class=" bi bi-camera-fill"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bi bi-emoji-smile-fill"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="bi bi-geo-alt-fill"></i></a>
                            </li>
                        </ul>

                    </form>
                </div>
            </div>
        </div><!-- end row -->
    </div>
</div>