<div class="landing-top-header" id="home">
  <nav id="sticky-nav" class="navbar navbar-expand-lg w-100 l-menu">
    <div class="container justify-content-between">
      <a class="navbar-brand" href="#">
        <h1 class="text-white">Logo</h1>
        <div class="logo-dark">
          <div class="logo-lg"></div>
          <div class="logo-sm"></div>
        </div>
        <div class="logo-light">
          <div class="logo-lg"></div>
          <div class="logo-sm">
            {{!-- <img src="/img/logo-light-sm.png" alt=""> --}}
          </div>
        </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#light">Light</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#dark">Dark</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features">Features</a>
          </li>
        </ul>
      </div>
      <div>
        <button class="btn btn-dark rounded-5">Buy Now</button>
      </div>
    </div>
  </nav>
  <div class="landing-banner d-flex align-items-center justify-content-center">
    <div class="landing-sec">
      <div class="container">
        <div class="row justify-content-between "></div>
        <div class="landing-banner-content text-center">
          <h1 class="text-white fs-40 col-10 mx-auto">Bootstrap Admin Dashboard Template</h1>
          <p class="col-sm-8 col-lg-6  mx-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Itaque officiis culpa fugit laborum ipsa commodi quae iure quam, veniam ullam! Obcaecati,
            sint quibusdam tenetur harum voluptas mollitia et nisi. Consequatur.
          </p>

          <ul class="nav list-unstyled template-version my-4">
            <li class="nav-item">
              <a class="nav-link" href=""><img src="/img/bootstrap.png" alt=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href=""><img src="/img/react.png" alt=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href=""><img src="/img/angular.png" alt=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href=""><img src="/img/php.png" alt=""></a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href=""><img src="/img/codeigniter.png" alt=""></a>
            </li>
          </ul>
          <div class="text-center mt-4 mb-3">
            <a href="index-crm" class="btn btn-warning rounded-5 shadow">View Demo </a>
            <button class="btn btn-primary rounded-5 shadow">Purchase Now</button>
          </div>
        </div>
      </div>
    </div>
    <img class="img-fluid" src="/img/landing-bg-1.png" alt="">
  </div>
</div>
<section class="landing-section" id="light">
  <div class="container text-center">

    <h5>
      <span class="section-heading">
        Demos
      </span>
    </h5>
    <h1>ACT Light Theme Demos</h1>
    <p class="col-sm-8 col-lg-6 mx-auto">Here, ACT 12 beautiful dashboards and comes with different types of themes.
      So that users can choose their best theme and customize the ACT - Premium
      Bootstrap Admin Template according to their choice.</p>

    <div class="row mt-5">
      <div class="col-xxl-4 col-xl-6 col-md-6 col-sm-12 mb-3">
        <div class="screen-slot bg-rgba-primary">
          <div class="overflow-hidden screen-item">
            <a href="index" class="d-block">
              <img src="/img/screen/screen-1.png" alt="">
            </a>
          </div>
          <h5 class="text-center p-3 mb-0">Ecommerce Dashboard</h5>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-4 col-xl-6 col-md-6 col-sm-12 mb-3">
        <div class="screen-slot bg-rgba-primary">
          <div class="overflow-hidden screen-item">
            <a href="index" class="d-block">
              <img src="/img/screen/screen-2.png" alt="">
            </a>
          </div>
          <h5 class="text-center p-3 mb-0">CRM Dashboard</h5>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-4 col-xl-6 col-md-6 col-sm-12 mb-3">
        <div class="screen-slot bg-rgba-primary">
          <div class="overflow-hidden screen-item">
            <a href="index" class="d-block">
              <img src="/img/screen/screen-3.png" alt="">
            </a>
          </div>
          <h5 class="text-center p-3 mb-0">Crypto Dashboard</h5>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-4 col-xl-6 col-md-6 col-sm-12 mb-3">
        <div class="screen-slot bg-rgba-primary">
          <div class="overflow-hidden screen-item">
            <a href="index" class="d-block">
              <img src="/img/screen/screen-4.png" alt="">
            </a>
          </div>
          <h5 class="text-center p-3 mb-0">Projects Dashboard</h5>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-4 col-xl-6 col-md-6 col-sm-12 mb-3">
        <div class="screen-slot bg-rgba-primary">
          <div class="overflow-hidden screen-item">
            <a href="index" class="d-block">
              <img src="/img/screen/screen-5.png" alt="">
            </a>
          </div>
          <h5 class="text-center p-3 mb-0">Social Dashboard</h5>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-4 col-xl-6 col-md-6 col-sm-12 mb-3">
        <div class="screen-slot bg-rgba-primary">
          <div class="overflow-hidden screen-item">
            <a href="index" class="d-block">
              <img src="/img/screen/screen-1.png" alt="">
            </a>
          </div>
          <h5 class="text-center p-3 mb-0">Ecommerce Dashboard</h5>
        </div>
      </div><!-- end col -->
    </div>
  </div>
</section>
<section class="landing-section" id="dark">
  <div class="container text-center">

    <h5>
      <span class="section-heading">
        Demos
      </span>
    </h5>
    <h1>ACT Dark Theme Demos</h1>
    <p class="col-sm-8 col-lg-6 mx-auto">Here, ACT 12 beautiful dashboards and comes with different types of themes.
      So that users can choose their best theme and customize the ACT - Premium
      Bootstrap Admin Template according to their choice.</p>

    <div class="row mt-5">
      <div class="col-xxl-4 col-xl-6 col-md-6 col-sm-12 mb-3">
        <div class="screen-slot bg-rgba-secondary">
          <div class="overflow-hidden screen-item">
            <a href="index" class="d-block">
              <img src="/img/screen/screen-dark-1.png" alt="">
            </a>
          </div>
          <h5 class="text-center p-3 mb-0">Ecommerce Dashboard</h5>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-4 col-xl-6 col-md-6 col-sm-12 mb-3">
        <div class="screen-slot bg-rgba-secondary">
          <div class="overflow-hidden screen-item">
            <a href="index" class="d-block">
              <img src="/img/screen/screen-dark-2.png" alt="">
            </a>
          </div>
          <h5 class="text-center p-3 mb-0">CRM Dashboard</h5>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-4 col-xl-6 col-md-6 col-sm-12 mb-3">
        <div class="screen-slot bg-rgba-secondary">
          <div class="overflow-hidden screen-item">
            <a href="index" class="d-block">
              <img src="/img/screen/screen-dark-3.png" alt="">
            </a>
          </div>
          <h5 class="text-center p-3 mb-0">Crypto Dashboard</h5>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-4 col-xl-6 col-md-6 col-sm-12 mb-3">
        <div class="screen-slot bg-rgba-secondary">
          <div class="overflow-hidden screen-item">
            <a href="index" class="d-block">
              <img src="/img/screen/screen-dark-4.png" alt="">
            </a>
          </div>
          <h5 class="text-center p-3 mb-0">Projects Dashboard</h5>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-4 col-xl-6 col-md-6 col-sm-12 mb-3">
        <div class="screen-slot bg-rgba-secondary">
          <div class="overflow-hidden screen-item">
            <a href="index" class="d-block">
              <img src="/img/screen/screen-dark-5.png" alt="">
            </a>
          </div>
          <h5 class="text-center p-3 mb-0">Social Dashboard</h5>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-4 col-xl-6 col-md-6 col-sm-12 mb-3">
        <div class="screen-slot bg-rgba-secondary">
          <div class="overflow-hidden screen-item">
            <a href="index" class="d-block">
              <img src="/img/screen/screen-dark-1.png" alt="">
            </a>
          </div>
          <h5 class="text-center p-3 mb-0">Ecommerce Dashboard</h5>
        </div>
      </div><!-- end col -->
    </div>
  </div>
</section>
<section class="landing-section feature-wrap" id="features">
  <div class="container text-center">

    <h5>
      <span class="section-heading">
        Features
      </span>
    </h5>
    <h1>ACT Admin Templates Features</h1>
    <p class="col-sm-8 col-lg-6 mx-auto">ACT admin template comes with ready to use features.
      It has lots of ready-made features saves more time for developers..</p>

    <div class="row equal mt-5">
      <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
        <div class="card feature-landing-card">
          <div class="card-body">
            <div class="feature-item">
              <img src="/img/code.svg" alt="">
            </div>
            <h5 class="text-center fs-16 py-3 mb-0">Clean Code</h5>
          </div>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
        <div class="card feature-landing-card">
          <div class="card-body">
            <div class="feature-item">
              <img src="/img/bootstrap.svg" alt="">
            </div>
            <h5 class="text-center fs-16 py-3 mb-0">Bootstrap-5 Framework</h5>
          </div>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
        <div class="card feature-landing-card">
          <div class="card-body">
            <div class="feature-item">
              <img src="/img/plugin.svg" alt="">
            </div>
            <h5 class="text-center fs-16 py-3 mb-0">10+ Plugins</h5>
          </div>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
        <div class="card feature-landing-card">
          <div class="card-body">
            <div class="feature-item">
              <img src="/img/pen-tool.svg" alt="">
            </div>
            <h5 class="text-center fs-16 py-3 mb-0">5 Types of Icons</h5>
          </div>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
        <div class="card feature-landing-card">
          <div class="card-body">
            <div class="feature-item">
              <img src="/img/window-page.svg" alt="">
            </div>
            <h5 class="text-center fs-16 py-3 mb-0">Users Page</h5>
          </div>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
        <div class="card feature-landing-card">
          <div class="card-body">
            <div class="feature-item">
              <img src="/img/file-upload.svg" alt="">
            </div>
            <h5 class="text-center fs-16 py-3 mb-0">File Upload</h5>
          </div>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
        <div class="card feature-landing-card">
          <div class="card-body">
            <div class="feature-item">
              <img src="/img/file-upload.svg" alt="">
            </div>
            <h5 class="text-center fs-16 py-3 mb-0">100+ UI Components</h5>
          </div>
        </div>
      </div><!-- end col -->
      <div class="col-xxl-3 col-xl-4 col-md-6 col-sm-12">
        <div class="card feature-landing-card">
          <div class="card-body">
            <div class="feature-item">
              <img src="/img/setting-check.svg" alt="">
            </div>
            <h5 class="text-center fs-16 py-3 mb-0">Easy to Customise</h5>
          </div>
        </div>
      </div><!-- end col -->
    </div>
  </div>
</section>
<footer class="landing-footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-8 mx-auto">
        <div class="footer-item">
          <div class="text-center">
            <span class="footer-logo">
              <h3 class="fs-22 text-white"> <span class="text-primary">ACT</span> Logo</h3>
            </span>
            <p class="mb-0">Copyright © 2023 ACT. Designed with by <a class="text-primary" href="#!">ZK</a> All rights
              reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>