<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-sm-0">Input Mask</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Advanced UI</a></li>
                    <li class="breadcrumb-item active">Input Mask</li>
                </ol>
            </div>

        </div>
    </div><!-- end col -->
    <div class="col-lg-12"></div>
</div><!-- row end -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <p>Date</p>
                        <input class="form-control date-1" type="tel" placeholder="DD-MM-YYYY" />
                    </div>
                    <div class="col-lg-6">
                        <p>Date Foramt</p>
                        <input class="form-control date-2" type="tel" placeholder="MM/YY" />
                    </div>
                    <div class="col-lg-12">
                        <div class="w-100 border-dashed-bottom my-4" style="height: 1px;"></div>
                    </div>
                    <div class="col-lg-6">
                        <p>Time</p>
                        <input class="form-control time-1" type="" placeholder="HH:MM:SS" />
                    </div>
                    <div class="col-lg-6">
                        <p>Time Format</p>
                        <input class="form-control time-2" type="" placeholder="HH:MM" />
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">More Exaple of Input Mask</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="position-relative mb-3">
                            <p>Credit card detector (mastercard):</p>
                            <input class="form-control input-credit-card" placeholder="xxxx xxxxx xxxxxx" type="tel">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="position-relative mb-3">
                            <p>Date with "." as delimiter: </p>
                            <input class="form-control delimiter" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="position-relative mb-3">
                            <p>Numeral style like "1.234.567,89":</p>
                            <input class="form-control input-4 right" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="position-relative mb-3">
                            <p>Numeral with "$" as prefix:</p>
                            <input class="form-control input-1 text-end" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="position-relative mb-3">
                            <p>Use multiple delimiters:</p>
                            <input class="form-control input-5" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="position-relative mb-3">
                            <p>Use empty delimiter:</p>
                            <input class="form-control input-6" />
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="w-100 border-dashed-bottom my-4" style="height: 1px;"></div>
                    </div>
                    <div class="col-lg-4">
                        <div class="position-relative mb-3">
                            <p>V.A.T Identification Number:</p>
                            <input class="form-control input-2" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="position-relative mb-3">
                            <p>Prefix (can be modified):</p>
                            <input value="deleteme" class="form-control input-7" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="position-relative mb-3">
                            <p>Multiple characters in delimiter - 1:</p>
                            <input value="123456789abc" class="form-control input-8-1" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="position-relative mb-3">
                            <p>Multiple characters in delimiter - 2:</p>
                            <input value="123456789abc" class="form-control input-8-2" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="position-relative mb-3">
                            <p>(555) 555-5555</p>
                            <input value="" class="form-control input-10" />
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="position-relative mb-3">
                            <p>(555) 555-5555 (Another way)</p>
                            <input value="" class="form-control input-11" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- end col -->



</div><!-- end row -->