<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Invoice Detail</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                    <li class="breadcrumb-item active">Invoice</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
    <div class="card-body">
        <div class="invoice-title">
            <h4 class="float-end font-size-16">Order # 12345</h4>
            <div class="brand-logo mb-4 fs-24 fw-semibold">Dashboard <img src="/img/logo-dark-sm.png" height="30" alt=""></div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-6">
                <address><strong>Billed To:</strong><br><span>John Doe</span><br><span> Minicoy beach Road</span><span> </span><br><span> Lakshadweep</span><br></address>
            </div>
            <div class="text-sm-end col-sm-6">
                <address>
                    <strong>Ship To</strong><br>
                    <span> Agatti Island 001<br> Lakshadweep</span><br></address>
                    
            </div>
        </div>
        <div class="row">
            <div class="mt-3 col-sm-6">
                <address><strong>Payment Method:</strong><br>Visa ending **** 0010<br>example@email.com</address>
            </div>
            <div class="mt-3 text-sm-end col-sm-6">
                <address><strong>Order Date:</strong><br>January 14, 2024<br><br></address>
            </div>
        </div>
        <div class="py-2 mt-3">
            <h3 class="font-size-15 fw-bold">Order summary</h3>
        </div>
        <div class="table-responsive">
            <table class="table-nowrap table">
                <thead>
                    <tr>
                        <th style="width: 70px;">No.</th>
                        <th>Item</th>
                        <th class="text-end">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Monitor</td>
                        <td class="text-end">$299.00</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Installation Service</td>
                        <td class="text-end">$100.00</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-end">Sub Total</td>
                        <td class="text-end">$399.00</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border-0 text-end">GST (10%)</td>
                        <td class="border-0 text-end">$39.9</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border-0 text-end">State Tax (6%)</td>
                        <td class="border-0 text-end">$23.94</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="border-0 text-end"><strong>Total</strong></td>
                        <td class="border-0 text-end">
                            <h4 class="m-0">$462.84</h4>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="d-print-none">
            <div class="float-end"><a class="btn btn-success  me-2" href="/invoices-detail"><i class="bi bi-printer"></i></a><a class="btn btn-primary w-md " href="/invoices-detail">Send</a></div>
        </div>
    </div>
</div>
    </div>
</div>