<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Job Detail</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Job</a></li>
                    <li class="breadcrumb-item active">Job Post</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row">
    <div class="col-sm-12">
        <div class="card custom-card">
    <div class="card-body">
        <div class="d-flex flex-wrap align-items-top justify-content-between gap-2">
            <div>
                <div class="d-flex flex-wrap gap-2">
                    <div class="rounded me-3 mb-3"> <img class="rpinded h-60-px" src="./img/wipro.png" alt=""> </div>
                    <div>
                        
                        <h4 class="fw-bold mb-0 d-flex align-items-center">
                            <a href="javascript:void(0);">UI Developer</a>
                            </h4> 
                        <a href="javascript:void(0);" class="fw-semibold"><i class="bi bi-building"></i> Wipro</a>
                        <div class="d-flex fs-14 mt-3">
                            <div>
                                <p class="mb-1"><i class="bi bi-geo-alt me-1"></i>Pune, Maharashtra</p>
                                <p><i class="bi bi-briefcase me-1"></i>2 - 7+ years Experience</p>
                            </div>
                            <div class="ms-4">
                                <p class="mb-1"><i class="bi bi-coin me-1"></i><b>20,000 - 80,000</b> / per month</p>
                                <p><i class="bi bi-mortarboard me-1"></i>Graduate and Above</p>
                            </div>
                            <div class="ms-4">
                                <p><i class="bi-person me-1"></i>23 applicants</p>
                            </div>
                        </div>
                        <div class="w-100">
                                <p><i class="bi bi-list-check"></i></p>
                            </div>
                        <div class="popular-tags"> 
                            <a href="javascript:void(0);" class="badge rounded-pill bg-rgba-info"><i class="bi bi-clock me-1"></i>Full Time</a> 
                            <a href="javascript:void(0);" class="badge rounded-pill bg-rgba-success"><i class="bi bi-briefcase me-1"></i>5 Openings</a> 
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="btn-list mb-2"> 
                <a href="javascript:void(0);" class="btn btn-primary"><i class="fa fa-check me-1"></i> Apply Now</a> 
                <a href="javascript:void(0);" class="btn btn-rgba-primary"> <i class="bi bi-heart"></i> </a> 
                <a href="javascript:void(0);" class="btn btn-rgba-primary"> <i class="bi bi-share"></i> </a> 
                </div>
                <p class="mb-0">
                    <i class="bi bi-info-square text-danger" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="5 days left" data-bs-original-title="45 days ago"></i> 
                    <b>5 days ago </b> 
                    to apply this job</p>
            </div>
        </div>
    </div>
</div>
    </div>
</div>
<div class="row">
    <div class="col-xl-8">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Job Highlights</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="fs-14 mb-2"> <span class="avatar-xs d-inline-flex ax-flex-center-0 rounded me-2 bg-light"> <i class="bi bi-clock fs-15"></i> </span> 10:30 AM - 06:30 PM </p>
                        <p class="fs-14 mb-2"> <span class="avatar-xs d-inline-flex ax-flex-center-0 rounded me-2 bg-light"> <i class="bi bi-mortarboard fs-15"></i> </span> Graduate and Above </p>
                    </div>
                    <div class="col-sm-4">
                        <p class="fs-14 mb-2"> <span class="avatar-xs d-inline-flex ax-flex-center-0 rounded me-2 bg-light"> <i class="bi bi-calendar fs-15"></i> </span> 5 Working Days </p>
                        <p class="fs-14 mb-2"> <span class="avatar-xs d-inline-flex ax-flex-center-0 rounded me-2 bg-light"> <i class="bi bi-person-check fs-15"></i> </span> Bachelors Preferred </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-body">
                <div class="card-body">
                    <h5 class="fw-semibold">Job Description</h5>
                    <p class="op-9">Est amet sit vero sanctus labore no sed ipsum ipsum nonumy. Sit ipsum sanctus ea magna est. Aliquyam sed amet. Kasd diam rebum sit ipsum ipsum erat et kasd.Est amet sit vero sanctus labore no sed ipsum ipsum nonumy vero sanctus labore.A officiis optio temporibus minima facilis...</p>
                    <p class="mb-4 op-9">Sit ipsum sanctus ea magna est. Aliquyam sed amet. Kasd diam rebum sit ipsum ipsum erat et kasd.Est amet sit vero sanctus labore no sed ipsum ipsum nonumy vero sanctus labore..</p>
                    <h5 class="fw-semibold">Key Responsibilities</h5>
                    <ol class="list-group border-0 list-unstyled list-group-numbered mb-3">
                        <li class="list-group-item border-0 py-1">Graphic Design: Creating visually appealing and engaging graphics, images, icons, and other visual elements that contribute to the overall look and feel of the website.</li>
                        <li class="list-group-item border-0 py-1">Layout Design: Planning and designing the overall layout of web pages, including the arrangement of text, images, and other elements to ensure a user-friendly and aesthetically pleasing experience.</li>
                        <li class="list-group-item border-0 py-1">Responsive Design: Ensuring that the website is responsive and can adapt to various screen sizes and devices, providing a consistent experience across desktops, tablets, and mobile devices.</li>
                        <li class="list-group-item border-0 py-1">Problem Solving: Addressing design challenges and problem-solving to find creative solutions that meet both aesthetic and functional requirements.</li>
                        <li class="list-group-item border-0 py-1">Attention to Detail: Paying close attention to details such as alignment, spacing, and consistency to maintain a polished and professional appearance.</li>
                    </ol>
                    <h5 class="fw-semibold">Requirements</h5>
                    <ol class="list-group border-0 list-unstyled list-group-numbered mb-3">
                        <li class="list-group-item border-0 py-1">Proven experience as a web designer or similar role.</li>
                        <li class="list-group-item border-0 py-1">Strong understanding of design principles, color theory, and typography.</li>
                        <li class="list-group-item border-0 py-1">Experience with HTML, CSS, and possibly JavaScript for implementation.</li>
                        <li class="list-group-item border-0 py-1">Knowledge of responsive design and mobile-first approaches.</li>
                        <li class="list-group-item border-0 py-1">Problem-solving skills and attention to detail.</li>
                    </ol>
                </div>
            </div>
        </div>
        
        
    </div>
    <div class="col-xl-4">
        <div class="card custom-card border">
            <div class="card-header">
                <div class="card-title"> Similar Jobs </div>
            </div>
            <div class="card-body p-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item mb-2">
                        <div class="d-sm-flex"> 
                            <span class="avatar avatar-md ax-flex-center-0 rounded bg-primary bg-opacity-10 p-1 border"> 
                            <img class="h-40-px" src="/img/accenture.png" alt="">
                        </span>
                            <div class="ms-2 flex-grow-1">
                                <p class="fw-semibold fs-14 mb-1"><a href="javascript:void(0);"> React Developer</a></p>
                                <p class="mb-0 me-3"><i class="bi bi-building text-muted"></i> accenture.com</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item mb-2">
                        <div class="d-sm-flex"> <span class="avatar avatar-md ax-flex-center-0 rounded bg-primary bg-opacity-10 p-1 border"> 
                             <img class="h-40-px" src="/img/pinterest.png" alt="">
                             </span>
                            <div class="ms-2 flex-grow-1">
                                <p class="fw-semibold fs-14 mb-1"><a href="javascript:void(0);"> HTML Developer - Fresher</a></p>
                                <p class="mb-0 me-3"><i class="bi bi-building text-muted"></i> Pinterest.com</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item mb-2">
                        <div class="d-sm-flex"> <span class="avatar avatar-md ax-flex-center-0 rounded bg-primary bg-opacity-10 p-1 border">  
                            <img class="h-40-px" src="/img/google.png" alt="">
                        </span>
                            <div class="ms-2 flex-grow-1">
                                <p class="fw-semibold fs-14 mb-1"><a href="javascript:void(0);"> Angular Developer - Remote</a></p>
                                <p class="mb-0 me-3"><i class="bi bi-building text-muted"></i> Google.com</p>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-sm-flex"> <span class="avatar avatar-md ax-flex-center-0 rounded bg-primary bg-opacity-10 p-1 border"> 
                            <img class="h-40-px" src="/img/wipro.png" alt="">
                             </span>
                            <div class="ms-2 flex-grow-1">
                                <p class="fw-semibold fs-14 mb-1"><a href="javascript:void(0);"> Vuejs Frontend Developer</a></p>
                                <p class="mb-0 me-3"><i class="bi bi-building text-muted"></i> Wipro.com</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card-footer"> <a href="javascript:void(0);" class="text-primary fw-semibold fs-14 mt-2"> View All <i class="fe fe-arrow-right"></i> </a> </div>
        </div>
        
        <div class="card custom-card">
            <div class="card-body">
                <div class="">
                    <h5 class="fw-semibold mb-3">Get Latest Job Alerts</h5>
                    <p>Latest jobs updates on the go to recieved direct to your email. Stay updated with your latest new jobs.</p>
                    <div class="input-group mb-3"> <input type="text" class="form-control" placeholder="Email Here" aria-label="blog-email" aria-describedby="blog-subscribe"> <button class="btn btn-primary" type="button" id="blog-subscribe">Subscribe</button> </div> <label class="form-check-label"> By Subscribing you accept to <a href="javascript:void(0);" class="text-success"><u>privacy policy</u></a> </label>
                </div>
            </div>
        </div>
    </div>
</div>