<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Job List</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Job</a></li>
                    <li class="breadcrumb-item active">Job List</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="card">
    <div class="card-header">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
            <div><h4 class="mb-0">Job Title</h4></div>
            <div class="d-flex flex-wrap align-items-center gap-2">
                <div><input type="text" class="form-control" placeholder="search here..."></div>
                <div class="dropdown">
                <button class="btn btn-secondary" data-bs-toggle="dropdown" aria-expanded="false">Sort By</button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Job Types</a></li>
                    <li><a class="dropdown-item" href="#">Newest</a></li>
                    <li><a class="dropdown-item" href="#">Oldest</a></li>
                </ul>
                </div>
                <button class="btn btn-primary">Post Job</button>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-hover align-middle text-nowrap">
    <thead>
        <tr>
            <th scope="row" class="ps-4"><input class="form-check-input" type="checkbox" id="checkboxListjob1" value="" aria-label="..."></th>
            <th scope="col">Job Title</th>
            <th scope="col">Company</th>
            <th scope="col">Department</th>
            <th scope="col">Applications</th>
            <th scope="col">Vacancies</th>
            <th scope="col">Status</th>
            <th scope="col">Job Type</th>
            <th scope="col">Posted Date</th>
            <th scope="col">Expires on</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="ps-4"><input class="form-check-input" type="checkbox" id="checkboxListjob22" value="" aria-label="..."></td>
            <td>
                <div class="d-flex"> 
                    <div class="ms-2">
                        <p class="fw-semibold mb-0 d-flex align-items-center"><a href="javascript:void(0)"> HTML Developer - Fresher</a></p>
                        <p class="fs-12 text-muted mb-0">Remote/Onsite</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center"> <span class="avatar avatar-sm ax-flex-center-0 p-1 me-1 bg-light rounded"> <img src="./img/google.png" alt=""> </span> <a href="javascript:void(0)" class="fw-semibold mb-0">Google.com</a> </div>
            </td>
            <td> Development </td>
            <td>10</td>
            <td>15</td>
            <td><span class="badge rounded-pill bg-rgba-success">Approved</span></td>
            <td>Full Time</td>
            <td> Oct 12 2023 </td>
            <td><span class="badge bg-rgba-success"><i class="bi bi-clock me-1"></i>Nov 12 2023</span></td>
            <td> <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-primary "> <i class="bi bi-eye"></i> </a> 
                <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-info"> <i class="bi bi-pencil"></i> </a> 
                <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-danger"> <i class="bi bi-trash"></i> </a> 
            </td>
        </tr>
        <tr>
            <td class="ps-4"><input class="form-check-input" type="checkbox" id="checkboxListjob33" value="" aria-label="..." checked></td>
            <td>
                <div class="d-flex"> 
                    <div class="ms-2">
                        <p class="fw-semibold mb-0 d-flex align-items-center"><a href="javascript:void(0)"> React Lead Developer</a></p>
                        <p class="fs-12 text-muted mb-0">Remote/Onsite</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center"> <span class="avatar avatar-sm ax-flex-center-0 p-1 me-1 bg-light rounded"> <img src="./img/oracle.png" alt=""> </span> <a href="javascript:void(0)" class="fw-semibold mb-0">Oracle.com</a> </div>
            </td>
            <td> Design </td>
            <td>31</td>
            <td>50</td>
            <td> <span class="badge rounded-pill bg-rgba-danger">Rejected</span> </td>
            <td>Full Time</td>
            <td> Nov 07 2023 </td>
            <td><span class="badge bg-rgba-danger"><i class="bi bi-clock me-1"></i>Dec 07 2023</span></td>
            <td> <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-primary "> <i class="bi bi-eye"></i> </a> 
                <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-info"> <i class="bi bi-pencil"></i> </a> 
                <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-danger"> <i class="bi bi-trash"></i> </a> 
            </td>
        </tr>
        <tr>
            <td class="ps-4"><input class="form-check-input" type="checkbox" id="checkboxListjob44" value="" aria-label="..." checked></td>
            <td>
                <div class="d-flex"> 
                    <div class="ms-2">
                        <p class="fw-semibold mb-0 d-flex align-items-center"><a href="javascript:void(0)"> Vuejs Frontend Developer</a></p>
                        <p class="fs-12 text-muted mb-0">Remote/Onsite</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center"> <span class="avatar avatar-sm ax-flex-center-0 p-1 me-1 bg-light rounded"> <img src="./img/tcs.png" alt=""> </span> <a href="javascript:void(0)" class="fw-semibold mb-0">Tata Consultancy</a> </div>
            </td>
            <td> Management </td>
            <td>15</td>
            <td>35</td>
            <td> <span class="badge rounded-pill bg-rgba-warning">Pending</span> </td>
            <td>Part Time</td>
            <td> Dec 15 2023 </td>
            <td><span class="badge bg-rgba-success"><i class="bi bi-clock me-1"></i>Jan 15 2023</span></td>
            <td> <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-primary "> <i class="bi bi-eye"></i> </a> 
                <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-info"> <i class="bi bi-pencil"></i> </a> 
                <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-danger"> <i class="bi bi-trash"></i> </a> 
            </td>
        </tr>
        <tr>
            <td class="ps-4"><input class="form-check-input" type="checkbox" id="checkboxListjob55" value="" aria-label="..."></td>
            <td>
                <div class="d-flex"> 
                    <div class="ms-2">
                        <p class="fw-semibold mb-0 d-flex align-items-center"><a href="javascript:void(0)"> Digital Designer - Remote</a></p>
                        <p class="fs-12 text-muted mb-0">Remote/Onsite</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center"> <span class="avatar avatar-sm ax-flex-center-0 p-1 me-1 bg-light rounded"> <img src="./img/accenture.png" alt=""> </span> <a href="javascript:void(0)" class="fw-semibold mb-0">Accenture.com</a> </div>
            </td>
            <td> Marketing </td>
            <td>130</td>
            <td>6</td>
            <td> <span class="badge rounded-pill bg-rgba-success">Approved</span> </td>
            <td>Part Time</td>
            <td> Jan 12 2023 </td>
            <td><span class="badge bg-rgba-success"><i class="bi bi-clock me-1"></i>Feb 12 2023</span></td>
            <td> <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-primary "> <i class="bi bi-eye"></i> </a> <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-info"> <i class="bi bi-pencil"></i> </a> <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-danger"> <i class="bi bi-trash"></i> </a> </td>
        </tr>
        <tr>
            <td class="ps-4"><input class="form-check-input" type="checkbox" id="checkboxListjob2" value="" aria-label="..."></td>
            <td>
                <div class="d-flex"> 
                    <div class="ms-2">
                        <p class="fw-semibold mb-0 d-flex align-items-center"><a href="javascript:void(0)"> Graphics Designer - Fresher</a></p>
                        <p class="fs-12 text-muted mb-0">Remote/Onsite</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center"> <span class="avatar avatar-sm ax-flex-center-0 p-1 me-1 bg-light rounded"> <img src="./img/pinterest.png" alt=""> </span> <a href="javascript:void(0)" class="fw-semibold mb-0">Pinterest.com</a> </div>
            </td>
            <td> Design </td>
            <td>10</td>
            <td>15</td>
            <td><span class="badge rounded-pill bg-rgba-success">Approved</span></td>
            <td>Full Time</td>
            <td> Oct 12 2023 </td>
            <td><span class="badge bg-rgba-success"><i class="bi bi-clock me-1"></i>Nov 12 2023</span></td>
            <td><a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-primary "> <i class="bi bi-eye"></i> </a> 
                <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-info"> <i class="bi bi-pencil"></i> </a> 
                <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-danger"> <i class="bi bi-trash"></i> </a> 
            </td>
        </tr>
        <tr>
            <td class="ps-4"><input class="form-check-input" type="checkbox" id="checkboxListjob3" value="" aria-label="..." checked></td>
            <td>
                <div class="d-flex"> 
                    <div class="ms-2">
                        <p class="fw-semibold mb-0 d-flex align-items-center"><a href="javascript:void(0)"> React Lead Developer</a></p>
                        <p class="fs-12 text-muted mb-0">Remote/Onsite</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center"> <span class="avatar avatar-sm ax-flex-center-0 p-1 me-1 bg-light rounded"> 
                    <img src="./img/hcl.svg" alt=""> </span> <a href="javascript:void(0)" class="fw-semibold mb-0">Hcltech.com</a> </div>
            </td>
            <td> Design </td>
            <td>31</td>
            <td>50</td>
            <td> <span class="badge rounded-pill bg-rgba-danger">Rejected</span> </td>
            <td>Full Time</td>
            <td> Nov 07 2023 </td>
            <td><span class="badge bg-rgba-danger"><i class="bi bi-clock me-1"></i>Dec 07 2023</span></td>
            <td> <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-primary "> <i class="bi bi-eye"></i> </a> 
                <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-info"> <i class="bi bi-pencil"></i> </a> 
                <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-danger"> <i class="bi bi-trash"></i> </a> </td>
        </tr>
        <tr>
            <td class="ps-4"><input class="form-check-input" type="checkbox" id="checkboxListjob4" value="" aria-label="..."></td>
            <td>
                <div class="d-flex"> 
                    <div class="ms-2">
                        <p class="fw-semibold mb-0 d-flex align-items-center"><a href="javascript:void(0)"> Vuejs Frontend Developer</a></p>
                        <p class="fs-12 text-muted mb-0">Remote/Onsite</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center"> 
                    <span class="avatar avatar-sm ax-flex-center-0 p-1 me-1 bg-light rounded"> 
                    <img src="./img/wipro.png" alt=""> </span> 
                    <a href="javascript:void(0)" class="fw-semibold mb-0">Wipro.com</a> 
                    </div>
            </td>
            <td> Management </td>
            <td>15</td>
            <td>35</td>
            <td> <span class="badge rounded-pill bg-rgba-warning">Pending</span> </td>
            <td>Part Time</td>
            <td> Dec 15 2023 </td>
            <td><span class="badge bg-rgba-success"><i class="bi bi-clock me-1"></i>Jan 15 2023</span></td>
            <td> <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-primary "> <i class="bi bi-eye"></i> </a> 
                <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-info"> <i class="bi bi-pencil"></i> </a> 
                <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-danger"> <i class="bi bi-trash"></i> </a> 
            </td>
        </tr>
        <tr>
            <td class="ps-4"><input class="form-check-input" type="checkbox" id="checkboxListjob5" value="" aria-label="..."></td>
            <td>
                <div class="d-flex"> 
                    <div class="ms-2">
                        <p class="fw-semibold mb-0 d-flex align-items-center"><a href="javascript:void(0)"> React Native Developer</a></p>
                        <p class="fs-12 text-muted mb-0">Remote/Onsite</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="d-flex align-items-center"> <span class="avatar avatar-sm ax-flex-center-0 p-1 me-1 bg-light rounded"> <img src="./img/flipkart.png" alt=""> </span> <a href="javascript:void(0)" class="fw-semibold mb-0">Flipkart.com</a> </div>
            </td>
            <td> Development </td>
            <td>20</td>
            <td>60</td>
            <td> <span class="badge rounded-pill bg-rgba-success">Approved</span> </td>
            <td>Part Time</td>
            <td> Jan 12 2023 </td>
            <td><span class="badge bg-rgba-success"><i class="bi bi-clock me-1"></i>Feb 12 2023</span></td>
            <td> <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-primary "> <i class="bi bi-eye"></i> </a> 
                <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-info"> <i class="bi bi-pencil"></i> </a> 
                <a href="javascript:void(0)" class="btn btn-icon btn-sm btn-rgba-danger"> <i class="bi bi-trash"></i> </a> 
            </td>
        </tr>
    </tbody>
</table>
        </div>
    </div>
</div>