<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Job Post</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Job</a></li>
                    <li class="breadcrumb-item active">Job Post</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row">
    <div class="col-xxl-9 col-xl-8">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title"> Post New Job </div>
            </div>
            <div class="card-body">
                <div class="row gy-4 mb-4">
                    <div class="col-xl-6"> 
                        <label for="job-title" class="form-label">Job Title</label> 
                        <input type="text" class="form-control" id="job-title" placeholder="Job Title" value="Web Designer"> </div>
                    <div class="col-xl-6"> 
                        <label class="form-label">Job Category</label>
                        <select class="form-select" data-trigger>
                            <option value="Choice1">Development</option>
                            <option value="Choice2">Designing</option>
                            <option value="Choice3">Marketing</option>
                        </select>
                       
                    </div>
                    <div class="col-xl-6"> 
                        <label class="form-label">Working Experience</label>
                        <select class="form-select"  data-trigger>
                            <option value="Choice 1">Entery Level</option>
                            <option value="Choice 1">Mid-Senior Level</option>
                            <option value="Choice 1">0 - 1 Years</option>
                            <option value="Choice 1">1 - 3 Years</option>
                            <option value="Choice 1">3 - 5 Years</option>
                        </select>
                    </div>
                    <div class="col-xl-6"> 
                        <label class="form-label">Job Type</label>
                        <select class="form-select"  name="jobtype" data-trigger>
                            <option value="Choice 1">Contract</option>
                            <option value="Choice 1">Full Time</option>
                            <option value="Choice 1">Part time</option>
                        </select>
                    </div>
                    <div class="col-xl-6"> 
                        <label class="form-label">Vacancies</label>
                        <select class="form-select"  name="Vacancies" data-trigger>
                            <option value="Choice 2">10</option>
                            <option value="Choice 2">20</option>
                            <option value="Choice 2">30</option>
                            <option value="Choice 2">40</option>
                        </select>
                    </div>
                    <div class="col-xl-6"> 
                        <label class="form-label">Salary</label>
                        <select class="form-select"  name="Salary" data-trigger>
                            <option value="Choice 2">$5,000 - $1,00,000 / Year</option>
                            <option value="Choice 2">$2,00,000 - $3,00,000 / Year</option>
                            <option value="Choice 2">$3,00,000 - $5,00,000 / Year</option>
                        </select>
                    </div>
                    
                    <div class="col-xl-6"> 
                        <label for="job-deadline" class="form-label">Job Deadline</label> 
                        <input type="text" class="form-control flatpickr-input" id="job-deadline" placeholder="Job Deadline" readonly="readonly"> </div>
                    <div class="col-xl-6"> 
                        <label class="form-label">Gender Requirement</label>
                        <select class="form-select"  name="gender" data-trigger>
                            <option value="Choice 2">No Preferences</option>
                        </select>
                    </div>
                    <div class="col-xl-6"> 
                        <label for="choices-multiple-remove-button" class="form-label">Skills :</label>
                        <select class="form-select" id="choices-multiple-remove-button" name="choices-multiple-remove-button" data-trigger multiple>
                                    <option value="HTML" selected>HTML</option>
                                    <option value="CSS" selected>CSS</option>
                                    <option value="JAVASCRIPT">JAVASCRIPT</option>
                                    <option value="PYTHON">PYTHON</option>
                                    <option value="JAVA">JAVA</option>
                                    <option value=".ENT">.NET</option>
                                </select>
                    </div>
                    <div class="col-xl-6"> 
                        <label for="language" class="form-label">Languages :</label>
                        <select class="form-select" name="language" id="language" multiple data-trigger>
                       <option value="Arabic">Arabic</option>
                       <option value="Chinese">Chinese</option>
                       <option value="English" selected>English</option>
                       <option value="Hindi" selected>Hindi</option>
                       </select>
                    </div>
                    <div class="col-xl-12"> 
                        <label class="form-label">Job Description :</label> 
                        <textarea class="form-control" placeholder="Job Description"></textarea>
                        </div>
                </div>
            </div>
            <div class="card-footer text-end"> 
                <a href="javascript:void(0);" class="btn btn-primary"> 
                    <i class="bi bi-plus-circle"></i> Post Now </a> 
                </div>
        </div>
    </div>
    <div class="col-xxl-3 col-xl-4">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Assign To Employer</div>
            </div>
            <div class="card-body">
                <div class="col-xl-12"> 
                    <label class="form-label">Employer Name</label>
                    <select class="form-select"  data-trigger>
                        <option value="Choice 1">Axial Coder Technologies</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title">Company Details</div>
            </div>
            <div class="card-body">
                <div class="row gy-3">
                    <div class="col-xl-12"> 
                        <label for="Company-Name" class="form-label">Company Name</label> 
                        <input type="text" class="form-control" id="Company-Name" placeholder="Company Name" value="choices-js"> </div>
                    <div class="col-xl-12"> 
                        <label for="Company-Website" class="form-label">Company Website</label> 
                    <input type="text" class="form-control" id="Company-Website" placeholder="Company Website" value="https://choices-js.github.io/Choices/"> </div>
                    <div class="col-xl-12"> 
                        <label class="form-label">Country</label>
                       <select class="form-select"  name="Country" data-trigger>
                            <option value="Choice 2">India</option>
                        </select>
                    </div>
                    <div class="col-xl-12"> 
                        <label for="Company-Address" class="form-label">Address</label> 
                        <input type="text" class="form-control" id="Company-Address" placeholder="Company Address" value="USA"> </div>
                </div>
            </div>
        </div>
    </div>
</div>