<div class="row">
  <div class="col-12">
    <div
      class="page-title-wrap d-sm-flex align-items-center justify-content-between"
    >
      <h4 class="mb-sm-0">Dashboard</h4>

      <div class="page-title-right">
        <ol class="breadcrumb m-0">
          <li class="breadcrumb-item"><a
              href="javascript: void(0);"
            >Task</a></li>
          <li class="breadcrumb-item active">Kanban List</li>
        </ol>
      </div>

    </div>
  </div>
</div>

<div class="row">
    <div class="col-lg-4 col-xxxl-3">
       <div class="card">
  <div class="card-body">
    <div class="dropdown float-end">
      <a href="#" class="dropdown-toggle arrow-none text-muted"data-bs-toggle="dropdown" aria-expanded="false">
        <i class="mdi mdi-dots-horizontal fs-18"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-end" data-popper-placement="bottom-end">
            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item"> <i class="bi bi-paperclip me-1"></i> Attachment </a>
            <a href="javascript:void(0);" class="dropdown-item"> <i class="bi bi-pencil me-1"></i> Edit </a>
            <a href="javascript:void(0);" class="dropdown-item"> <i class="bi bi-copy me-1"></i> Mark as Duplicate </a>
            <div class="dropdown-divider"></div>
            <a href="javascript:void(0);" class="dropdown-item text-danger"> <i class="bi bi-trash me-1"></i> Delete </a>
        </div>
    </div>
    <!-- end dropdown-->

    <h5 class="card-title fs-16 mb-3">Attachments</h5>

    <div class="card mb-1 shadow-none border">
      <div class="p-2">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="avatar-sm ax-flex-center-0 bg-rgba-primary rounded">
              <span class=""> ZIP </span>
            </div>
          </div>
          <div class="col ps-0">
            <a href="javascript:void(0);" class="text-muted fw-bold">Ubold-figma-design.zip</a>
            <p class="mb-0 fs-12">3.3 MB</p>
          </div>
          <div class="col-auto">
            <!-- Button -->
            <a href="javascript:void(0);"class="btn btn-link fs-16 text-muted">
              <i class="bi bi-download"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-1 shadow-none border">
      <div class="p-2">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="avatar-sm ax-flex-center-0 bg-rgba-primary rounded">
              <span class=""> JPG </span>
            </div>
          </div>
          <div class="col ps-0">
            <a href="javascript:void(0);" class="text-muted fw-bold">Dashboard-design.jpg</a>
            <p class="mb-0 fs-12">3.25 MB</p>
          </div>
          <div class="col-auto">
            <!-- Button -->
            <a href="javascript:void(0);" class="btn btn-link fs-16 text-muted">
              <i class="bi bi-download"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-0 shadow-none border">
      <div class="p-2">
        <div class="row align-items-center">
          <div class="col-auto">
            <div class="avatar-sm ax-flex-center-0 bg-rgba-secondary rounded">
              <span class=""> MP4 </span>
            </div>
          </div>
          <div class="col ps-0">
            <a href="javascript:void(0);" class="text-muted fw-bold">Admin-bug-report.mp4</a>
            <p class="mb-0 fs-12">7.05 MB</p>
          </div>
          <div class="col-auto">
            <!-- Button -->
            <a href="javascript:void(0);" class="btn btn-link fs-16 text-muted" >
              <i class="bi bi-download"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
        </div><!-- end card -->
    <div class="card custom-card overflow-hidden">
  <div class="card-header card-bg d-flex align-items-center justify-content-between">
    <h5 class="card-title mb-0">Sub Tasks</h5>
    <div>
      <button class="btn btn-rgba-secondary btn-sm">
        <i class="bi bi-plus me-1 align-middle"></i>Sub Task
      </button>
    </div>
  </div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item p-3">
        <div class="d-flex align-items-center">
          <div class="me-2">
            <input class="form-check-input form-checked-success" type="checkbox" id="successChecked1" checked />
          </div>
          <div class="fw-semibold">Project Objectives</div>
        </div>
      </li>
      <li class="list-group-item p-3">
        <div class="d-flex align-items-center">
          <div class="me-2">
            <input class="form-check-input form-checked-success" type="checkbox" id="successChecked2"/>
          </div>
          <div class="fw-semibold">Functional Requirements</div>
        </div>
      </li>
      <li class="list-group-item p-3">
        <div class="d-flex align-items-center">
          <div class="me-2">
            <input class="form-check-input form-checked-success" type="checkbox" id="successChecked3"/>
          </div>
          <div class="fw-semibold">Design and User Interface (UI) Requirements</div>
        </div>
      </li>
      <li class="list-group-item p-3">
        <div class="d-flex align-items-center">
          <div class="me-2">
            <input class="form-check-input form-checked-success" type="checkbox" id="successChecked4"/>
          </div>
          <div class="fw-semibold">Testing and Quality Assurance</div>
        </div>
      </li>
      <li class="list-group-item p-3">
        <div class="d-flex align-items-center">
          <div class="me-2">
            <input class="form-check-input form-checked-success" type="checkbox" id="successChecked5"/>
          </div>
          <div class="fw-semibold">Scalability and Future Enhancements</div>
        </div>
      </li>
      <li class="list-group-item p-3">
        <div class="d-flex align-items-center">
          <div class="me-2">
            <input class="form-check-input form-checked-success" type="checkbox" id="successChecked6"/>
          </div>
          <div class="fw-semibold">Data Requirements</div>
        </div>
      </li>
      <li class="list-group-item p-3">
        <div class="d-flex align-items-center">
          <div class="me-2">
            <input class="form-check-input form-checked-success" type="checkbox" id="successChecked7"/>
          </div>
          <div class="fw-semibold">Technology Stack</div>
        </div>
      </li>
      <li class="list-group-item p-3">
        <div class="d-flex align-items-center">
          <div class="me-2">
            <input class="form-check-input form-checked-success" type="checkbox" id="successChecked8"/>
          </div>
          <div class="fw-semibold">Documentation and Handover</div>
        </div>
      </li>
    </ul>
  </div>
</div>

    </div>
    <div class="col-lg-8 col-xxxl-9">
        <div class="card">
            <div class="card-header card-bg">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">Task Detail</h5>
                    <div>
                        <button class="btn btn-sm btn-primary"><i class="bi bi-pencil"></i> Edit Task</button>
                     
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="dropdown float-end">
                    <a href="#" class="text-muted" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots fs-18"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item"> <i class="bi bi-paperclip me-1"></i> Attachment </a>
                        <a href="javascript:void(0);" class="dropdown-item"> <i class="bi bi-pencil me-1"></i> Edit </a>
                        <a href="javascript:void(0);" class="dropdown-item"> <i class="bi bi-copy me-1"></i> Mark as Duplicate </a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:void(0);" class="dropdown-item text-danger"> <i class="bi bi-trash me-1"></i> Delete </a>
                    </div>
                    <!-- end dropdown menu-->
                </div>
                <!-- end dropdown-->

                <div class="form-check float-start">
                    <input type="checkbox" class="form-check-input" id="completedCheck">
                    <label class="form-check-label" for="completedCheck">
                        Mark as completed
                    </label>
                </div>
                <!-- end form-check-->
                <div class="clearfix"></div>

                <h4>Simple Admin Dashboard Template Design</h4>

                <div class="row">
                    <div class="col-md-4">
                        <p class="mt-2 mb-1 text-muted">Assigned To</p>
                        <div class="d-flex align-items-start">
                            <img src="./img/user-8.jpg" alt="Arya S" class="rounded-circle me-2" height="24">
                            <div class="w-100">
                                <h5 class="mt-1 fs-size-14">
                                    John Doe
                                </h5>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->

                    <div class="col-md-4">
                        <p class="mt-2 mb-1 text-muted">Project Name</p>
                        <div class="d-flex align-items-start">
                            <i class="bi bi-briefcase-check-outline fs-18 text-success me-1"></i>
                            <div class="w-100">
                                <h5 class="mt-1 fs-size-14">
                                    Ecommerce Web Application
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <p class="mt-2 mb-1 text-muted">Due Date</p>
                        <div class="d-flex align-items-start">
                            <i class="bi bi-calendar-month-outline fs-18 text-success me-1"></i>
                            <div class="w-100">
                                <h5 class="mt-1 fs-size-14">
                                    Today 10:00 am
                                </h5>
                            </div>
                        </div>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->

                <h5 class="mt-3">Overview:</h5>

                <p class="text-muted mb-4">
                    Start by understanding what you want to achieve with your e-commerce application. 
                    Determine the scope, target audience, and key features. This could include product listings, 
                    shopping cart, payment processing, user authentication, and more.
                </p>

                <!-- start sub tasks/checklists -->
                <h5 class="mt-4 mb-2">Checklists/Sub-tasks</h5>
                <div class="form-check mt-1">
                    <input type="checkbox" class="form-check-input" id="checklist1">
                    <label class="form-check-label strikethrough" for="checklist1">
                         Additional Notes and Requirements
                    </label>
                </div>

                <div class="form-check mt-1">
                    <input type="checkbox" class="form-check-input" id="checklist2">
                    <label class="form-check-label strikethrough" for="checklist2">
                        Development Guidelines
                    </label>
                </div>

                <div class="form-check mt-1">
                    <input type="checkbox" class="form-check-input" id="checklist3">
                    <label class="form-check-label strikethrough" for="checklist3">
                        Security and Privacy Considerations
                    </label>
                </div>
                <!-- end sub tasks/checklists -->
            </div>
        </div><!-- end card -->
        <div class="card">
            <div class="card-body">
                <div class="float-end">
                    <select class="form-select form-select-sm">
                        <option selected="">Recent</option>
                        <option value="1">Most Helpful</option>
                        <option value="2">High to Low</option>
                        <option value="3">Low to High</option>
                    </select>
                </div>
                <!-- end dropdown-->

                <h4 class="mb-4 mt-0 fs-16">Comments (51)</h4>

                <div class="clerfix"></div>

                <div class="d-flex align-items-start">
                    <img class="me-2 rounded-circle" src="/img/user-3.jpg" alt="Generic placeholder image" height="32">
                    <div class="w-100">
                        <h5 class="mt-0">Jeremy Tomlinson <small class="text-muted fs-11 float-end">5 hours ago</small></h5>
                        Just wanted to check to see if you had any questions

                        <br>
                        <a href="javascript: void(0);" class="text-muted fs-13 d-inline-block mt-2"><i class="bi bi-reply"></i> Reply</a>

                        <div class="d-flex align-items-start mt-3">
                            <a class="pe-2" href="#">
                                <img src="/img/user-4.jpg" class="rounded-circle" alt="Generic placeholder image" height="32">
                            </a>
                            <div class="w-100">
                                <h5 class="mt-0">Thelma Fridley <small class="text-muted fs-11 float-end">3 hours ago</small></h5>
                                No sir i have no question for now Nadeem brother explained me

                                <br>
                                <a href="javascript: void(0);" class="text-muted fs-13 d-inline-block mt-2"> <i class="bi bi-reply"></i> Reply </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-start mt-3">
                    <img class="me-2 rounded-circle" src="/img/user-5.jpg" alt="Generic placeholder image" height="32">
                    <div class="w-100">
                        <h5 class="mt-0">Kevin Martinez <small class="text-muted fs-11 float-end">1 day ago</small></h5>
                        It would be very nice to have.
                        <br>
                        <a href="javascript: void(0);" class="text-muted fs-13 d-inline-block mt-2"><i class="bi bi-reply"></i> Reply</a>
                    </div>
                </div>

                <div class="text-center mt-2">
                    <a href="javascript:void(0);" class="text-danger"><i class="bi bi-arrow-clockwise spinner me-1"></i> Load more </a>
                </div>

                <div class="border rounded mt-4">
                    <form action="#" class="comment-area-box">
                        <textarea rows="3" class="form-control rounded-top card-bg border-0 resize-none" placeholder="Your comment..."></textarea>
                        <div class="p-2 bg-light d-flex justify-content-between align-items-center">
                            <div>
                                <a href="#" class="btn btn-sm px-1 btn-light"><i class="bi bi-upload"></i></a>
                                <a href="#" class="btn btn-sm px-1 btn-light"><i class="bi bi-at"></i></a>
                            </div>
                            <button type="submit" class="btn btn-sm btn-success"><i class="bi bi-send-fill me-1"></i>Submit</button>
                        </div>
                    </form>
                </div>
                <!-- end .border-->
            </div>
        </div>
    </div>
</div>

