<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Lists</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Base UI</a></li>
                    <li class="breadcrumb-item active">Lists</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row">
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Basic List</h5>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Active List</h5>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true">An active item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Disabled List</h5>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item disabled" aria-disabled="true">
                        <span class="avatar-xs rounded border d-inline-flex ax-flex-center-0 me-2">
                            <i class="bi-person"></i>
                        </span> A disabled item
                    </li>
                    <li class="list-group-item">
                        <span class="avatar-xs rounded border d-inline-flex ax-flex-center-0 me-2">
                            <i class="bi-map"></i>
                        </span>
                        12/5 New Sky Viewer Road New Delhi
                    </li>
                    <li class="list-group-item">
                        <span class="avatar-xs rounded border d-inline-flex ax-flex-center-0 me-2">
                            <i class="bi-phone"></i>
                        </span>
                        +1 123 456 78
                    </li>
                    <li class="list-group-item">
                        <span class="avatar-xs rounded border d-inline-flex ax-flex-center-0 me-2">
                            <i class="bi-check"></i>
                        </span>
                        A fourth item
                    </li>

                </ul>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">List with Links & Buttons</h5>
            </div>
            <div class="card-body">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                        The current link item
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                    <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                    <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                    <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Flush</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-md-6 col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Numbered</h5>
            </div>
            <div class="card-body">
                <ol class="list-group list-group-bg-secondary list-group-numbered">
                    <li class="list-group-item active">A list item</li>
                    <li class="list-group-item">A list item</li>
                    <li class="list-group-item">A list item</li>
                    <li class="list-group-item">A list item</li>
                    <li class="list-group-item">A list item</li>
                </ol>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-md-12 col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Horizontal</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                        <ul class="list-group list-group-horizontal-lg">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="list-group list-group-horizontal-sm">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                        <ul class="list-group list-group-horizontal-xl">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                    </div>
                    <div class="col-lg-4">
                        <ul class="list-group list-group-horizontal-md">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                        <ul class="list-group list-group-horizontal-xxl">
                            <li class="list-group-item">An item</li>
                            <li class="list-group-item">A second item</li>
                            <li class="list-group-item">A third item</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-md-12 col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Contextual classes</h5>
            </div>
            <div class="card-body">
                <p>Use contextual classes to style list items with a stateful background and color.</p>
                <ul class="list-group">
                    <li class="list-group-item">A simple default list group item</li>

                    <li class="list-group-item list-group-item-primary">A simple primary list group item</li>
                    <li class="list-group-item list-group-item-secondary">A simple secondary list group item</li>
                    <li class="list-group-item list-group-item-success">A simple success list group item</li>
                    <li class="list-group-item list-group-item-danger">A simple danger list group item</li>
                    <li class="list-group-item list-group-item-warning">A simple warning list group item</li>
                    <li class="list-group-item list-group-item-info">A simple info list group item</li>
                    <li class="list-group-item list-group-item-light">A simple light list group item</li>
                    <li class="list-group-item list-group-item-dark">A simple dark list group item</li>
                </ul>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-md-12 col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Contextual classes with Active item</h5>
            </div>
            <div class="card-body">
                <p>Contextual classes also work with
                    <code>.list-group-item-action</code>.
                    Note the addition of the hover styles here not present in the previous example.
                    Also supported is the <code>.active</code> state; apply it to indicate an active selection on a
                    contextual list group item.
                </p>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>

                    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">A simple primary
                        list group item</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">A simple
                        secondary list group item</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-success">A simple success
                        list group item</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">A simple danger
                        list group item</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">A simple warning
                        list group item</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-info">A simple info list
                        group item</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-light">A simple light list
                        group item</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">A simple dark list
                        group item</a>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-md-12 col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Color list</h5>
            </div>
            <div class="card-body">
                <p>Use <code>.list-group-bg-</code>. with modifier class to style list items with background and color.

                </p>
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">A simple default list group item</a>

                    <a href="#" class="list-group-item list-group-bg-primary">A simple primary list group item</a>
                    <a href="#" class="list-group-item list-group-bg-secondary">A simple secondary list group item</a>
                    <a href="#" class="list-group-item list-group-bg-success">A simple success list group item</a>
                    <a href="#" class="list-group-item list-group-bg-danger">A simple danger list group item</a>
                    <a href="#" class="list-group-item list-group-bg-warning">A simple warning list group item</a>
                    <a href="#" class="list-group-item list-group-bg-info">A simple info list group item</a>
                    <a href="#" class="list-group-item list-group-bg-light">A simple light list group item</a>
                    <a href="#" class="list-group-item list-group-bg-dark">A simple dark list group item</a>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-md-12 col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">With Badges</h5>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        New item arrived
                        <span class="badge bg-primary rounded-pill">New</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Notification
                        <span class="badge bg-danger rounded-pill">120</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Item in bag
                        <span class="badge bg-primary rounded-pill">2</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Task is pending
                        <span class="badge bg-warning rounded-pill">pending</span>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-md-12 col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">With Checkboxs</h5>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" checked>
                        <label class="form-check-label" for="firstCheckbox">First checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                        <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox" checked>
                        <label class="form-check-label" for="thirdCheckbox">Second checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="fourthCheckbox">
                        <label class="form-check-label" for="fourthCheckbox">Third checkbox</label>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-md-12 col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">With Checkboxs</h5>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox" checked>
                        <label class="form-check-label" for="firstCheckbox">First checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                        <label class="form-check-label" for="secondCheckbox">Second checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox" checked>
                        <label class="form-check-label" for="thirdCheckbox">Second checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="fourthCheckbox">
                        <label class="form-check-label" for="fourthCheckbox">Third checkbox</label>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-md-12 col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">With Radios</h5>
            </div>
            <div class="card-body">
                <p>You can use <code>.stretched-link</code> on <code>&lt;label&gt;</code>s to make the whole list group
                    item clickable.</p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckboxStretched">
                        <label class="form-check-label stretched-link" for="firstCheckboxStretched">First
                            checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckboxStretched"
                            checked>
                        <label class="form-check-label stretched-link" for="secondCheckboxStretched">Second
                            checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckboxStretched">
                        <label class="form-check-label stretched-link" for="thirdCheckboxStretched">Third
                            checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="fourthCheckboxStretched">
                        <label class="form-check-label stretched-link" for="fourthCheckboxStretched">Fourth
                            checkbox</label>
                    </li>
                    <li class="list-group-item">
                        <input class="form-check-input me-1" type="checkbox" value="" id="fifthCheckboxStretched">
                        <label class="form-check-label stretched-link" for="fifthCheckboxStretched">Fifth
                            checkbox</label>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-md-12 col-xl-8">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Custom List</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush list-group-bg-success">
                    <li class="list-group-item py-3 pe-2">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div>
                                    <img src="/img/dog-md-1.jpg" alt="blog img" class="avatar-sm h-auto rounded">
                                </div>
                            </div>
                            <div class="flex-grow-1 overflow-hidden">
                                <h5 class="fs-14 mb-1 text-truncate"><a href="#" class="text-defa">Lorem upsum dummy
                                        text</a></h5>
                                <ul class="list-inline fs-13">
                                    <li class="list-inline-item">
                                        <a href="#" class="">
                                            <i class="bi-person me-1"></i> Tanya
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="bi-calendar me-1"></i> 12 June
                                    </li>
                                </ul>
                            </div>
                            <div class="flex-shrink-0 ms-2">
                                <div class="dropdown">
                                    <a class="btn btn-link text-dark fs-16 p-1 dropdown-link shadow-none" href="#"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi-three-dots"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Action 2</a></li>
                                        <li><a class="dropdown-item" href="#">Other</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item active py-3">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div>
                                    <img src="/img/dog-md-2.jpg" alt="blog img" class="avatar-sm h-auto rounded">
                                </div>
                            </div>
                            <div class="flex-grow-1 overflow-hidden">
                                <h5 class="fs-14 mb-1 text-truncate">
                                    <a href="#" class="">
                                        There are many variations of passages of Lorem Ipsum available
                                    </a>
                                </h5>
                                <ul class="list-inline fs-13">
                                    <li class="list-inline-item">
                                        <a href="#" class="">
                                            <i class="bi-person me-1"></i> Tanya
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="bi-calendar me-1"></i> 24 Apr
                                    </li>
                                </ul>
                            </div>
                            <div class="flex-shrink-0 ms-2">
                                <div class="dropdown">
                                    <a class="btn btn-link fs-16 p-1 dropdown-link shadow-none" href="#" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi-three-dots"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Action 2</a></li>
                                        <li><a class="dropdown-item" href="#">Other</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item py-3">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0 me-3">
                                <div>
                                    <img src="/img/dog-md-3.jpg" alt="blog img" class="avatar-sm h-auto rounded">
                                </div>
                            </div>
                            <div class="flex-grow-1 overflow-hidden">
                                <h5 class="fs-14 mb-1 text-truncate">
                                    <a href="#" class="">I took a selify with my dog</a>
                                </h5>
                                <ul class="list-inline fs-13 ">
                                    <li class="list-inline-item">
                                        <a href="#" class="">
                                            <i class="bi-person me-1"></i> Tanya
                                        </a>
                                    </li>
                                    <li class="list-inline-item">
                                        <i class="bi-calendar me-1"></i> 12 Apr
                                    </li>
                                </ul>
                            </div>
                            <div class="flex-shrink-0 ms-2">
                                <div class="dropdown">
                                    <a class="btn btn-link text-dark fs-16 p-1 dropdown-link shadow-none" href="#"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi-three-dots"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Other</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div><!-- end col -->
</div>