<div class="auth-cover-bg">
    <div id="particles-js"></div>
    <div class="container-fluid h-100 d-flex">
        <div class="row align-items-center pt-5">
            <div class="col-xl-8 mx-auto">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-xxl-6 col-lg-6">
                            <div class="card cover-card-bg h-100">
                                <div class="card-header pt-4 pb-4 text-center bg-transparent">
                                    <a href="/">
                                        <span><img src="/img/logo-light-lg.png" alt="" height="40"></span>
                                    </a>
                                </div>
                                <div class="card-img-overlay"></div>
                                <div class="card-body">
                                    <div class="icon-box-style rounded-circle">
                                        <i class="bi-shield-lock"></i>
                                    </div>
                                    <div class="mt-4 px-4 text-center">
                                        <p class="text-white">There are many variations of passages of Lorem Ipsum
                                            available,
                                            but the majority have suffered alteration in some form.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-lg-6">
                            <div class="card-body p-4">
                                <form action="#">
                                    <div class="d-flex justify-content-center mb-3">
                                        <lord-icon src="https://cdn.lordicon.com/pithnlch.json" trigger="loop"
                                            class="avatar-lg"></lord-icon>
                                    </div>
                                    <div class="text-center p-4 m-auto">
                                        <h4 class="text-heading text-center pb-0 fw-bold">You are logged out</h4>
                                        <p class="text-muted mb-4">Thank you for using my Dashboard</p>
                                    </div>
                                    <div class="mb-3 mb-0 text-center">
                                        <button class="btn btn-primary w-100" type="submit">Sign In</button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>