<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Navbars</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Base UI</a></li>
                    <li class="breadcrumb-item active">Navbars</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header card-bg">
                <div class="card-title"> Navbar with sub-component </div>
            </div>
            <div class="card-body">
                <nav class="navbar navbar-expand-lg bg-light">
                    <div class="container-fluid"> <a aria-label="anchor" class="navbar-brand" href="javascript:void(0);"> <img src="./img/logo-dark-sm.png" alt="" class="d-inline-block align-text-top h-30-px"> </a> 
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item"> <a class="nav-link active" aria-current="page" href="javascript:void(0);">Home</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Link</a> </li>
                                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false"> Dropdown </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Another action</a> </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"> <a class="nav-link disabled">Disabled</a> </li>
                            </ul>
                            <form class="d-flex" role="search"> <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-primary" type="submit">Search</button> </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div><!-- end row -->

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header card-bg">
                <div class="card-title"> Nav with lists, links and dropdowns </div>
            </div>
            <div class="card-body">
                <nav class="navbar navbar-expand-lg bg-light mb-3">
                    <div class="container-fluid"> <a aria-label="anchor" class="navbar-brand" href="javascript:void(0);"><img src="./img/logo-dark-sm.png" alt="" class="d-inline-block align-text-top h-30-px"></a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item"> <a class="nav-link active" aria-current="page" href="javascript:void(0);">Home</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">About</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Blog</a> </li>
                                <li class="nav-item"> <a class="nav-link disabled">Disabled</a> </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg bg-light mb-3">
                    <div class="container-fluid"> <a aria-label="anchor" class="navbar-brand" href="javascript:void(0);"><img src="./img/logo-dark-sm.png" alt="" class="d-inline-block align-text-top h-30-px"></a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav"> <a class="nav-link active" aria-current="page" href="javascript:void(0);">Home</a> <a class="nav-link" href="javascript:void(0);">About</a> <a class="nav-link" href="javascript:void(0);">Blog</a> <a class="nav-link disabled">Disabled</a> </div>
                        </div>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg bg-light">
                    <div class="container-fluid"> <a aria-label="anchor" class="navbar-brand" href="javascript:void(0);"><img src="./img/logo-dark-sm.png" alt="" class="d-inline-block align-text-top h-30-px"></a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav">
                                <li class="nav-item"> <a class="nav-link active" aria-current="page" href="javascript:void(0);">Home</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">About</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Blog</a> </li>
                                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false"> Dropdown link </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="javascript:void(0);">Action</a></li>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Another action</a> </li>
                                        <li><a class="dropdown-item" href="javascript:void(0);">Something else here</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header card-bg">
                <div class="card-title"> Forms In Navbar </div>
            </div>
            <div class="card-body">
                <nav class="navbar bg-light mb-3">
                    <div class="container-fluid">
                        <form class="d-flex" role="search"> <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-primary" type="submit">Search</button> </form>
                    </div>
                </nav>
                <nav class="navbar bg-light mb-3">
                    <div class="container-fluid"> <a aria-label="anchor" class="navbar-brand"><img src="./img/logo-dark-sm.png" alt="" class="d-inline-block align-text-top h-30-px"></a>
                        <form class="d-flex" role="search"> <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-primary" type="submit">Search</button> </form>
                    </div>
                </nav>
                <h6 class="mb-3 fw-semibold">Input groups in navbar forms</h6>
                <nav class="navbar bg-light mb-3">
                    <div class="container-fluid">
                        <div class="input-group"> <span class="input-group-text" id="basic-addon1">@</span> <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1"> </div>
                    </div>
                </nav>
                <h6 class="mb-3 fw-semibold"> Variation buttons are supported as part of the navbar forms</h6>
                <nav class="navbar bg-light">
                    <form class="container-fluid justify-content-start"> <button class="btn btn-primary m-1" type="submit">Main button</button> <button class="btn btn-sm btn-outline-secondary m-1" type="button">Smaller button</button> </form>
                </nav>
            </div>
        </div>
    </div>
</div><!-- end row -->

<div class="row">
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title"> Transparent Color Schemes </div>
            </div>
            <div class="card-body">
                <nav class="navbar navbar-expand-lg navbar-rgba-primary mb-3">
                    <div class="container-fluid"> <a aria-label="anchor" class="navbar-brand" href="javascript:void(0);"> <img src="./img/logo-dark-sm.png" alt="" class="d-inline-block align-text-top h-30-px"> </a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbarColor01">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item"> <a class="nav-link active" aria-current="page" href="javascript:void(0);">Home</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Features</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Pricing</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">About</a> </li>
                            </ul>
                            <form class="d-flex" role="search"> <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-primary" type="submit">Search</button> </form>
                        </div>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg navbar-rgba-success mb-3">
                    <div class="container-fluid"> <a aria-label="anchor" class="navbar-brand" href="javascript:void(0);"><img src="./img/logo-dark-sm.png" alt="" class="d-inline-block align-text-top h-30-px"></a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbarColor02">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item"> <a class="nav-link active" aria-current="page" href="javascript:void(0);">Home</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Features</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Pricing</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">About</a> </li>
                            </ul>
                            <form class="d-flex" role="search"> <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-secondary" type="submit">Search</button> </form>
                        </div>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg navbar-rgba-danger">
                    <div class="container-fluid"> <a aria-label="anchor" class="navbar-brand" href="javascript:void(0);"><img src="./img/logo-dark-sm.png" alt="" class="d-inline-block align-text-top h-30-px"></a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbarColor03">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item"> <a class="nav-link active" aria-current="page" href="javascript:void(0);">Home</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Features</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Pricing</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">About</a> </li>
                            </ul>
                            <form class="d-flex" role="search"> <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-dark" type="submit">Search</button> </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="col-xl-12">
        <div class="card custom-card">
            <div class="card-header">
                <div class="card-title"> Solid Color Schemes </div>
            </div>
            <div class="card-body">
                <nav class="navbar navbar-expand-lg navbar-primary mb-3">
                    <div class="container-fluid"> <a aria-label="anchor" class="navbar-brand" href="javascript:void(0);"> <img src="./img/logo-dark-sm.png" alt="" class="d-inline-block align-text-top h-30-px"> </a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbarColor04">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item"> <a class="nav-link active" aria-current="page" href="javascript:void(0);">Home</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Features</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Pricing</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">About</a> </li>
                            </ul>
                            <form class="d-flex" role="search"> <input class="form-control me-2 border-0" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-light" type="submit">Search</button> </form>
                        </div>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg navbar-secondary mb-3">
                    <div class="container-fluid"> <a aria-label="anchor" class="navbar-brand" href="javascript:void(0);"><img src="./img/logo-dark-sm.png" alt="" class="d-inline-block align-text-top h-30-px"></a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor05" aria-controls="navbarColor05" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbarColor05">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item"> <a class="nav-link active" aria-current="page" href="javascript:void(0);">Home</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Features</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Pricing</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">About</a> </li>
                            </ul>
                            <form class="d-flex" role="search"> <input class="form-control me-2 border-0" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-light" type="submit">Search</button> </form>
                        </div>
                    </div>
                </nav>
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <div class="container-fluid"> <a aria-label="anchor" class="navbar-brand" href="javascript:void(0);"><img src="./img/logo-dark-sm.png" alt="" class="d-inline-block align-text-top h-30-px"></a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor06" aria-controls="navbarColor06" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                        <div class="collapse navbar-collapse" id="navbarColor06">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item"> <a class="nav-link active" aria-current="page" href="javascript:void(0);">Home</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Features</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">Pricing</a> </li>
                                <li class="nav-item"> <a class="nav-link" href="javascript:void(0);">About</a> </li>
                            </ul>
                            <form class="d-flex" role="search"> <input class="form-control me-2 border-0" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-light" type="submit">Search</button> </form>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>