<div class="auth-bg">
    <div class="container-fluid h-100">

        <div class="row  flex-grow-1 justify-content-center align-items-center pt-5">
            <div class="col-xl-4 col-lg-5">
                <div class="card">

                    <!-- Logo -->
                    <div class="card-header pt-4 pb-4 text-center bg-light">
                        <a href="/">
                            <span><img src="/img/logo-dark-lg.png" alt="" height="40"></span>
                        </a>
                    </div>
                    <div class="card-body p-4">
                        <div class="text-center p-4 m-auto">
                            <h4 class="text-heading text-center pb-0 fw-bold">Create New Password</h4>
                            <p class="text-muted mb-4">Your new password must be different</p>
                        </div>
                        <form action="#">
                            <div class="mb-3">
                                <label class="form-label">New Password</label>
                                <input class="form-control" type="password" required=""
                                    placeholder="Enter new password">
                                <div class="small mt-1">msut be at least 8 characters.</div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Confirm Password</label>
                                <input class="form-control" type="password" required=""
                                    placeholder="Enter confirm password">
                            </div>
                            <div class="mb-3 mb-0 text-center">
                                <button class="btn btn-primary" type="submit">Reset Password </button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12 text-center">
                        <p class="text-muted">Remember password?<a href="signin-basic.html"
                                class="text-muted ms-1"><b>Log In</b></a></p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>