<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Placeholders</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Base UI</a></li>
                    <li class="breadcrumb-item active">Placeholders</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row">

    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header bg-transparent p-3">
                    <h5 class="mb-0">Placeholder Example</h5>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-xl-6">
                            <div class="row justify-content-evenly">
                                <div class="cl-xl-5 col-sm-6">
                                    <div class="card">
                                        <div class="card-img-h-2 position-relative">
                                            <img src="/img/dog-md-1.jpg" class="img-inset" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="cl-xl-5 col-sm-6">
                                    <div class="card" aria-hidden="true">
                                        <div class="card-img-h-2 position-relative">
                                            <img src="/img/dog-md-2.jpg" class="img-inset" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title placeholder-glow">
                                                <span class="placeholder col-6"></span>
                                            </h5>
                                            <p class="card-text placeholder-glow">
                                                <span class="placeholder col-7"></span>
                                                <span class="placeholder col-4"></span>
                                                <span class="placeholder col-4"></span>
                                                <span class="placeholder col-6"></span>
                                                <span class="placeholder col-8"></span>
                                            </p>
                                            <a href="#" tabindex="-1"
                                                class="btn btn-primary disabled placeholder col-6"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header bg-transparent p-3">
                    <h5 class="mb-0">Width</h5>
                </div>
                <div class="card-body">
                    <span class="placeholder col-6"></span>
                    <span class="placeholder w-75"></span>
                    <span class="placeholder" style="width: 25%;"></span>
                    <span class="placeholder col-12"></span>
                </div>
            </div>
        </div><!-- end col -->
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header bg-transparent p-3">
                    <h5 class="mb-0">Sizing</h5>
                </div>
                <div class="card-body">
                    <span class="placeholder col-12 placeholder-lg"></span>
                    <span class="placeholder col-12"></span>
                    <span class="placeholder col-12 placeholder-sm"></span>
                    <span class="placeholder col-12 placeholder-xs"></span>
                </div>
            </div>
        </div><!-- end col -->
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header bg-transparent p-3">
                    <h5 class="mb-0">Color</h5>
                </div>
                <div class="card-body">
                    <span class="placeholder col-12"></span>

                    <span class="placeholder col-12 bg-primary"></span>
                    <span class="placeholder col-12 bg-secondary"></span>
                    <span class="placeholder col-12 bg-success"></span>
                    <span class="placeholder col-12 bg-danger"></span>
                    <span class="placeholder col-12 bg-warning"></span>
                    <span class="placeholder col-12 bg-info"></span>
                    <span class="placeholder col-12 bg-light"></span>
                    <span class="placeholder col-12 bg-dark"></span>
                </div>
            </div>
        </div><!-- end col -->
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header bg-transparent p-3">
                    <h5 class="mb-0">Animation</h5>
                </div>
                <div class="card-body">
                    <p class="placeholder-glow">
                        <span class="placeholder col-12"></span>
                    </p>

                    <p class="placeholder-wave">
                        <span class="placeholder col-12"></span>
                    </p>
                </div>
            </div>
        </div><!-- end col -->
    </div>

</div>