<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Pricing</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Page</a></li>
                    <li class="breadcrumb-item active">Pricing</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-xxl-10">
        <div class="text-center pt-3">
            <h3 class="mb-2">Our Plans and Pricing</h3>
            <p class="text-muted w-50 m-auto">
                We have plans and prices that fit your business perfectly. Make your client site a success with our
                products.
            </p>
        </div>
        <div class="row mt-sm-5 mt-3 mb-3">
            <div class="col-sm-6 col-lg-4">
                <div class="card ax-pricing-card">
                    <div class="card-body">
                        <p class="ax-pricing-title fw-bold text-uppercase">Professional Pack</p>
                        <div class="avatar-sm bg-light ax-flex-center-0 d-none d-lg-flex rounded-2">
                            <i class="bi-person"></i>
                        </div>
                        <h2 class="ax-pricing-price">$19 <span>/ Month</span></h2>
                        <ul class="ax-pricing-wrap p-0">
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-check-circle-fill text-success me-1"></div>
                                </div>
                                10 GB Storage
                            </li>
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-check-circle-fill text-success me-1"></div>
                                </div>
                                500 GB Bandwidth
                            </li>
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-check-circle-fill text-success me-1"></div>
                                </div>
                                No Domain
                            </li>
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-x-circle-fill text-danger me-1"></div>
                                </div>
                                1 User
                            </li>
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-x-circle-fill text-danger me-1"></div>
                                </div>
                                Email Support
                            </li>
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-x-circle-fill text-danger me-1"></div>
                                </div>
                                24x7 Support
                            </li>
                        </ul>
                        <button class="btn btn-primary mt-4 mb-2 rounded-3">Choose Plan</button>
                    </div>
                </div> <!-- end Pricing_card -->
            </div> <!-- end col -->

            <div class="col-sm-6 col-lg-4">
                <div class="card ax-pricing-card">
                    <div class="card-header bg-rgba-danger border-0 text-center ax-pricing-plan-tag">Recommended</div>
                    <div class="card-body">

                        <p class="ax-pricing-title fw-bold text-uppercase">Business Pack</p>
                        <div class="avatar-sm bg-light ax-flex-center-0 d-none d-lg-flex rounded-2">
                            <i class="bi-briefcase"></i>
                        </div>
                        <h2 class="ax-pricing-price">$29 <span>/ Month</span></h2>
                        <ul class="ax-pricing-wrap p-0">
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-check-circle-fill text-success me-1"></div>
                                </div>
                                50 GB Storage
                            </li>
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-check-circle-fill text-success me-1"></div>
                                </div>
                                900 GB Bandwidth
                            </li>
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-check-circle-fill text-success me-1"></div>
                                </div>
                                2 Domain
                            </li>
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-check-circle-fill text-success me-1"></div>
                                </div>
                                10 User
                            </li>
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-x-circle-fill text-danger me-1"></div>
                                </div>
                                Email Support
                            </li>
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-x-circle-fill text-danger me-1"></div>
                                </div>
                                24x7 Support
                            </li>
                        </ul>
                        <button class="btn btn-primary mt-4 mb-2 rounded-3">Choose Plan</button>
                    </div>
                </div> <!-- end Pricing_card -->
            </div> <!-- end col -->

            <div class="col-sm-6 col-lg-4">
                <div class="card ax-pricing-card">
                    <div class="card-body">
                        <div class="ribbon4 bg-warning float-end">
                    <span class="band text-white text-center">Trending</span>
                </div>
                        <p class="ax-pricing-title fw-bold text-uppercase">Enterprise Pack</p>
                        <div class="avatar-sm bg-light ax-flex-center-0  d-none d-lg-flex rounded-2">
                            <i class="bi-shop"></i>
                        </div>
                        <h2 class="ax-pricing-price">$39 <span>/ Month</span></h2>
                        <ul class="ax-pricing-wrap p-0">
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-check-circle-fill text-success me-1"></div>
                                </div>
                                100 GB Storege
                            </li>
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-check-circle-fill text-success me-1"></div>
                                </div>
                                Unlimited Bandwidth
                            </li>
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-check-circle-fill text-success me-1"></div>
                                </div>
                                10 Domain
                            </li>
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-check-circle-fill text-success me-1"></div>
                                </div>
                                Unlimited User
                            </li>
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-check-circle-fill text-success me-1"></div>
                                </div>
                                Email Support
                            </li>
                            <li>
                                <div class="flex-shrink-0">
                                    <div class="bi-check-circle-fill text-success me-1"></div>
                                </div>
                                24x7 Support
                            </li>
                        </ul>
                        <button class="btn btn-primary mt-4 mb-2 rounded-3">Choose Plan</button>
                    </div>
                </div> <!-- end Pricing_card -->
            </div> <!-- end col -->

        </div>
    </div>
</div>