<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Project List</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Projects</a></li>
                    <li class="breadcrumb-item active">Project List</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-6">
        <div class="mb-3">
            <a href="project-create.html" class="btn btn-success"><i class="bi-plus me-2"></i>Create Project</a>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-inline float-md-end mb-3">
            <div class="search-box ms-2">
                <div class="position-relative">
                    <input type="text" class="form-control rounded border-0" placeholder="Search...">
                </div>
            </div>

        </div>
    </div>


</div>

<div class="row">
    <div class="col-md-6 col-xxl-3">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-body">
                <div class="dropdown card-option-menu">
                    <a href="#" class="dropdown-toggle-btn text-muted arrow-none" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item"><i class="bi-pencil me-2"></i>Edit</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="bi-trash me-2"></i>Delete</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="bi-envelope me-2"></i>Invite</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i
                                class="bi-box-arrow-right me-2"></i>Leave</a>
                    </div>
                </div>
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-heading">Web design and development</a>
                </h4>
                <div class="badge bg-success">Finished</div>

                <p class="text-muted fs-13 my-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It
                    has roots in a
                    piece of classical Latin literature from...
                    <a href="javascript:void(0);" class="fw-bold text-muted">view more</a>
                </p>

                <!-- project detail-->
                <p class="mb-1">
                    <span class="pe-3 text-nowrap mb-2 d-inline-block">
                        <i class="bi-list-ul text-muted"></i>
                        <b>12</b> Tasks
                    </span>
                    <span class="text-nowrap mb-2 d-inline-block">
                        <i class="bi-chat-dots text-muted"></i>
                        <b>174</b> Comments
                    </span>
                </p>
                <div class="mb-0">
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="John Doe">
                        <img src="/img/image-john.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="Michael Jacshon">
                        <img src="/img/dog-001.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="Tanya">
                        <img src="/img/image-tanya.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" class="d-inline-block text-muted fw-bold ms-2">
                        +7 more
                    </a>
                </div>
            </div> <!-- end card-body-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">

                    <p class="mb-2 fw-bold">
                        Progress
                        <span class="float-end">100%</span>
                    </p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> <!-- col end-->
    <div class="col-md-6 col-xxl-3">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-body">
                <div class="dropdown card-option-menu">
                    <a href="#" class="dropdown-toggle-btn text-muted arrow-none" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item"><i class="bi-pencil me-2"></i>Edit</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="bi-trash me-2"></i>Delete</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="bi-envelope me-2"></i>Invite</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i
                                class="bi-box-arrow-right me-2"></i>Leave</a>
                    </div>
                </div>
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-heading">UI/UX design</a>
                </h4>
                <div class="badge bg-success">Finished</div>

                <p class="text-muted fs-13 my-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It
                    has roots in a
                    piece of classical Latin literature from...
                    <a href="javascript:void(0);" class="fw-bold text-muted">view more</a>
                </p>

                <!-- project detail-->
                <p class="mb-1">
                    <span class="pe-3 text-nowrap mb-2 d-inline-block">
                        <i class="bi-list-ul text-muted"></i>
                        <b>12</b> Tasks
                    </span>
                    <span class="text-nowrap mb-2 d-inline-block">
                        <i class="bi-chat-dots text-muted"></i>
                        <b>174</b> Comments
                    </span>
                </p>
                <div class="mb-0">
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="John Doe">
                        <img src="/img/image-john.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="Tanya">
                        <img src="/img/image-tanya.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" class="d-inline-block text-muted fw-bold ms-2">
                        +1 more
                    </a>
                </div>
            </div> <!-- end card-body-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">

                    <p class="mb-2 fw-bold">
                        Progress
                        <span class="float-end">100%</span>
                    </p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> <!-- col end-->
    <div class="col-md-6 col-xxl-3">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-body">
                <div class="dropdown card-option-menu">
                    <a href="#" class="dropdown-toggle-btn text-muted arrow-none" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item"><i class="bi-pencil me-2"></i>Edit</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="bi-trash me-2"></i>Delete</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="bi-envelope me-2"></i>Invite</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i
                                class="bi-box-arrow-right me-2"></i>Leave</a>
                    </div>
                </div>
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-heading">Graphics & Advertisement design</a>
                </h4>
                <div class="badge bg-success">Finished</div>

                <p class="text-muted fs-13 my-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It
                    has roots in a
                    piece of classical Latin literature from...
                    <a href="javascript:void(0);" class="fw-bold text-muted">view more</a>
                </p>

                <!-- project detail-->
                <p class="mb-1">
                    <span class="pe-3 text-nowrap mb-2 d-inline-block">
                        <i class="bi-list-ul text-muted"></i>
                        <b>12</b> Tasks
                    </span>
                    <span class="text-nowrap mb-2 d-inline-block">
                        <i class="bi-chat-dots text-muted"></i>
                        <b>174</b> Comments
                    </span>
                </p>
                <div class="mb-0">
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="John Doe">
                        <img src="/img/image-john.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="Michael Jacshon">
                        <img src="/img/dog-001.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="Tanya">
                        <img src="/img/image-tanya.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" class="d-inline-block text-muted fw-bold ms-2">
                        +7 more
                    </a>
                </div>
            </div> <!-- end card-body-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">

                    <p class="mb-2 fw-bold">
                        Progress
                        <span class="float-end">100%</span>
                    </p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> <!-- col end-->
    <div class="col-md-6 col-xxl-3">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-body">
                <div class="dropdown card-option-menu">
                    <a href="#" class="dropdown-toggle-btn text-muted arrow-none" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="bi-three-dots-vertical"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end">
                        <a href="javascript:void(0);" class="dropdown-item"><i class="bi-pencil me-2"></i>Edit</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="bi-trash me-2"></i>Delete</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i class="bi-envelope me-2"></i>Invite</a>
                        <a href="javascript:void(0);" class="dropdown-item"><i
                                class="bi-box-arrow-right me-2"></i>Leave</a>
                    </div>
                </div>
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-heading">Web design and development</a>
                </h4>
                <div class="badge bg-success">Finished</div>

                <p class="text-muted fs-13 my-3">Contrary to popular belief, Lorem Ipsum is not simply random text. It
                    has roots in a
                    piece of classical Latin literature from...
                    <a href="javascript:void(0);" class="fw-bold text-muted">view more</a>
                </p>

                <!-- project detail-->
                <p class="mb-1">
                    <span class="pe-3 text-nowrap mb-2 d-inline-block">
                        <i class="bi-list-ul text-muted"></i>
                        <b>12</b> Tasks
                    </span>
                    <span class="text-nowrap mb-2 d-inline-block">
                        <i class="bi-chat-dots text-muted"></i>
                        <b>174</b> Comments
                    </span>
                </p>
                <div class="mb-0">
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="John Doe">
                        <img src="/img/image-john.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="Michael Jacshon">
                        <img src="/img/dog-001.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="Tanya">
                        <img src="/img/image-tanya.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" class="d-inline-block text-muted fw-bold ms-2">
                        +7 more
                    </a>
                </div>
            </div> <!-- end card-body-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">

                    <p class="mb-2 fw-bold">
                        Progress
                        <span class="float-end">100%</span>
                    </p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> <!-- col end-->
</div><!-- row end-->
<div class="row">
    <div class="col-md-6 col-xxl-3">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-img-h">
                <img class="card-img-top" src="/img/pattern-1.jpg" alt="">
            </div>
            <div class="card-img-overlay">
                <div class="badge bg-secondary">Ongoing</div>
            </div>
            <div class="card-body">
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-heading">Web development</a>
                </h4>
                <!-- project detail-->
                <p class="mb-1">
                    <span class="pe-3 text-nowrap mb-2 d-inline-block">
                        <i class="bi-list-ul text-muted"></i>
                        <b>12</b> Tasks
                    </span>
                    <span class="text-nowrap mb-2 d-inline-block">
                        <i class="bi-chat-dots text-muted"></i>
                        <b>174</b> Comments
                    </span>
                </p>
                <div class="mb-0">
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="John Doe">
                        <img src="/img/image-john.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="Michael Jacshon">
                        <img src="/img/dog-001.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="Tanya">
                        <img src="/img/image-tanya.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" class="d-inline-block text-muted fw-bold ms-2">
                        +7 more
                    </a>
                </div>
            </div> <!-- end card-body-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">

                    <p class="mb-2 fw-bold">
                        Progress
                        <span class="float-end">60%</span>
                    </p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" style="width: 60%;">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> <!-- col end-->
    <div class="col-md-6 col-xxl-3">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-img-h">
                <img class="card-img-top" src="/img/pattern-2.jpg" alt="">
            </div>

            <div class="card-img-overlay">
                <div class="badge bg-warning">Pending</div>
            </div>
            <div class="card-body">
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-heading">IOS App development</a>
                </h4>
                <!-- project detail-->
                <p class="mb-1">
                    <span class="pe-3 text-nowrap mb-2 d-inline-block">
                        <i class="bi-list-ul text-muted"></i>
                        <b>12</b> Tasks
                    </span>
                    <span class="text-nowrap mb-2 d-inline-block">
                        <i class="bi-chat-dots text-muted"></i>
                        <b>174</b> Comments
                    </span>
                </p>
                <div class="mb-0">
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="John Doe">
                        <img src="/img/image-john.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="Michael Jacshon">
                        <img src="/img/dog-001.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="Tanya">
                        <img src="/img/image-tanya.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" class="d-inline-block text-muted fw-bold ms-2">
                        +7 more
                    </a>
                </div>
            </div> <!-- end card-body-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">

                    <p class="mb-2 fw-bold">
                        Progress
                        <span class="float-end">10%</span>
                    </p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" style="width: 10%;">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> <!-- col end-->
    <div class="col-md-6 col-xxl-3">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-img-h">
                <img class="card-img-top" src="/img/pattern-3.jpg" alt="">
            </div>

            <div class="card-img-overlay">
                <div class="badge bg-success">Finished</div>
            </div>
            <div class="card-body">
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-heading">Admin Design</a>
                </h4>
                <!-- project detail-->
                <p class="mb-1">
                    <span class="pe-3 text-nowrap mb-2 d-inline-block">
                        <i class="bi-list-ul text-muted"></i>
                        <b>12</b> Tasks
                    </span>
                    <span class="text-nowrap mb-2 d-inline-block">
                        <i class="bi-chat-dots text-muted"></i>
                        <b>174</b> Comments
                    </span>
                </p>
                <div class="mb-0">
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="John Doe">
                        <img src="/img/image-john.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="Michael Jacshon">
                        <img src="/img/dog-001.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="Tanya">
                        <img src="/img/image-tanya.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" class="d-inline-block text-muted fw-bold ms-2">
                        +7 more
                    </a>
                </div>
            </div> <!-- end card-body-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <p class="mb-2 fw-bold">
                        Progress
                        <span class="float-end">100%</span>
                    </p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> <!-- col end-->
    <div class="col-md-6 col-xxl-3">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-img-h">
                <img class="card-img-top" src="/img/pattern-4.jpg" alt="">
            </div>

            <div class="card-img-overlay">
                <div class="badge bg-success">Finished</div>
            </div>
            <div class="card-body">
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-heading">Product Design</a>
                </h4>
                <!-- project detail-->
                <p class="mb-1">
                    <span class="pe-3 text-nowrap mb-2 d-inline-block">
                        <i class="bi-list-ul text-muted"></i>
                        <b>12</b> Tasks
                    </span>
                    <span class="text-nowrap mb-2 d-inline-block">
                        <i class="bi-chat-dots text-muted"></i>
                        <b>174</b> Comments
                    </span>
                </p>
                <div class="mb-0">
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="John Doe">
                        <img src="/img/image-john.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="Michael Jacshon">
                        <img src="/img/dog-001.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block" title="Tanya">
                        <img src="/img/image-tanya.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" class="d-inline-block text-muted fw-bold ms-2">
                        +7 more
                    </a>
                </div>
            </div> <!-- end card-body-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <p class="mb-2 fw-bold">
                        Progress
                        <span class="float-end">100%</span>
                    </p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> <!-- col end-->
</div>