<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Ribbons</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Base UI</a></li>
                    <li class="breadcrumb-item active">Ribbons</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="ribbon1 bg-danger float-start">
                    <span class="text-white text-center">Ribbon 1</span>
                </div>
                <h5 class="mt-4">Where can I get some?</h5>
                <p>There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by injected humour,
                    or randomised words which don't look even slightly believable. </p>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="ribbon1 bg-dark float-start">
                    <span class="text-white text-center">Ribbon 1</span>
                </div>
                <h5 class="mt-4">Where can I get some?</h5>
                <p>There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by injected humour,
                    or randomised words which don't look even slightly believable. </p>
            </div>
        </div>
    </div><!-- end col -->


    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="ribbon2 bg-warning float-start">
                    <span class="text-white text-center">Ribbon 2</span>
                </div>
                <h5 class="mt-4">Where can I get some?</h5>
                <p>There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by injected humour,
                    or randomised words which don't look even slightly believable. </p>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="ribbon2 bg-success float-end">
                    <span class="text-white text-center">Ribbon 2</span>
                </div>
                <h5 class="mt-4">Where can I get some?</h5>
                <p>There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by injected humour,
                    or randomised words which don't look even slightly believable. </p>
            </div>
        </div>
    </div><!-- end col -->


    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="ribbon3 bg-info float-start">
                    <span class="text-white text-center">Ribbon 3</span>
                </div>
                <h5 class="mt-4">Where can I get some?</h5>
                <p>There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by injected humour,
                    or randomised words which don't look even slightly believable. </p>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="ribbon3 bg-success float-end">
                    <span class="text-white text-center">Ribbon 3 <i class="bi-arrow-left fs-16 ms-2"></i></span>
                </div>
                <h5 class="mt-4">Where can I get some?</h5>
                <p>There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by injected humour,
                    or randomised words which don't look even slightly believable. </p>
            </div>
        </div>
    </div><!-- end col -->


    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="ribbon4 bg-secondary float-start">
                    <span class="band text-white text-center">Ribbon 4</span>
                </div>
                <h5 class="mt-4">Where can I get some?</h5>
                <p>There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by injected humour,
                    or randomised words which don't look even slightly believable. </p>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <div class="ribbon4 bg-warning float-end">
                    <span class="band text-white text-center">Ribbon 4</span>
                </div>
                <h5 class="mt-4">Where can I get some?</h5>
                <p>There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration in some form, by injected humour,
                    or randomised words which don't look even slightly believable. </p>
            </div>
        </div>
    </div><!-- end col -->
</div>