<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Scrollspy</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Advanced UI</a></li>
                    <li class="breadcrumb-item active">Scrollspy</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Scrollspy With Header</h5>
            </div>
            <div class="card-body">
                <nav id="navbar-example2" class="navbar bg-light px-3 mb-3">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyHeading1">First</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#scrollspyHeading2">Second</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                                aria-expanded="false">Dropdown</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
                                <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%"
                    data-bs-smooth-scroll="true" class="scrollspy-example scrollspy-content bg-light p-3 rounded-2"
                    tabindex="0">
                    <h4 id="scrollspyHeading1">First heading</h4>
                    <div class="d-flex mt-4">
                        <div class="flex-shrink-0">
                            <img class="avatar-md me-3" src="/img/image-john.jpg" alt="">
                        </div>
                        <div class="flex-grow-0">
                            <h5>John doe</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </p>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book. </p>
                        </div>
                    </div>
                    <h4 id="scrollspyHeading2">Second heading</h4>
                    <div class="d-flex mt-4">
                        <div class="flex-shrink-0">
                            <img class="avatar-md rounded-circle me-3" src="/img/image-tanya.jpg" alt="">
                        </div>
                        <div class="flex-grow-0">
                            <h5>John doe</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </p>
                        </div>
                    </div>
                    <h4 id="scrollspyHeading3">Third heading</h4>
                    <div class="d-flex mt-4">
                        <div class="flex-shrink-0">
                            <div class="avatar-md ax-flex-center-0 fs-22 bg-rgba-warning me-3">Z</div>
                        </div>
                        <div class="flex-grow-0">
                            <h5>John doe</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </p>
                        </div>
                    </div>
                    <h4 id="scrollspyHeading4">Fourth heading</h4>
                    <div class="d-flex mt-4">
                        <div class="flex-shrink-0">
                            <div class="avatar-md ax-flex-center-0 fs-22 bg-rgba-success me-3">A</div>
                        </div>
                        <div class="flex-grow-0">
                            <h5>John doe</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </p>
                        </div>
                    </div>
                    <h4 id="scrollspyHeading5">Fifth heading</h4>
                    <div class="d-flex mt-4">
                        <div class="flex-shrink-0">
                            <div class="avatar-md ax-flex-center-0 fs-22 bg-rgba-info me-3">H</div>
                        </div>
                        <div class="flex-grow-0">
                            <h5>John doe</h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and scrambled it to make a type specimen
                                book.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Scrollspy With Nested Nav</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                            <nav class="nav nav-pills flex-column">
                                <a class="nav-link" href="#item-1">Item 1</a>
                                <nav class="nav nav-pills flex-column">
                                    <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                                    <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
                                </nav>
                                <a class="nav-link" href="#item-2">Item 2</a>
                                <a class="nav-link" href="#item-3">Item 3</a>
                                <nav class="nav nav-pills flex-column">
                                    <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
                                    <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
                                </nav>
                            </nav>
                        </nav>
                    </div>

                    <div class="col-8">
                        <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true"
                            class="scrollspy-content scrollspy-example-2" tabindex="0">
                            <div id="item-1">
                                <h4>Item 1</h4>
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <div
                                            class="avatar-sm rounded-circle fs-22 ax-flex-center-0 bg-rgba-primary me-3">
                                            L</div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p>What is Lorem Ipsum?</p>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Lorem Ipsum has been the industry's standard dummy text ever since the
                                            1500s,
                                            when an unknown printer took a galley of type and scrambled it
                                            to make a type specimen book.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="item-1-1">
                                <h5>Item 1-1</h5>
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <div
                                            class="avatar-sm rounded-circle fs-22 ax-flex-center-0 bg-rgba-secondary me-3">
                                            W</div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p>Why do we use it?</p>
                                        <p>It is a long established fact that a reader will be distracted by the
                                            readable
                                            content of a page when looking at its layout. The point of using Lorem Ipsum
                                            is that it has a more-or-less normal distribution of letters
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="item-1-2">
                                <h5>Item 1-2</h5>
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <div
                                            class="avatar-sm rounded-circle fs-22 ax-flex-center-0 bg-rgba-secondary me-3">
                                            I</div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p>Why do we use it?</p>
                                        <p>It is a long established fact that a reader will be distracted by the
                                            readable
                                            content of a page when looking at its layout. The point of using Lorem Ipsum
                                            is that it has a more-or-less normal distribution of letters
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="item-2">
                                <h4>Item 2</h4>
                                <p>It has survived not only five centuries, but also the leap into electronic
                                    typesetting,
                                    remaining essentially unchanged. It was popularised in the 1960s with the release of
                                    Letraset sheets
                                    containing Lorem Ipsum passages, and more recently with desktop publishing
                                    software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                            <div id="item-3">
                                <h4>Item 3</h4>
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <div
                                            class="avatar-sm rounded-circle fs-22 ax-flex-center-0 bg-rgba-warning me-3">
                                            W</div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p>Where does it come from?</p>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.
                                            It has roots in a piece of classical Latin literature from 45 BC,
                                            making it over 2000 years old.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="item-3-1">
                                <h5>Item 3-1</h5>
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <div
                                            class="avatar-sm rounded-circle fs-22 ax-flex-center-0 bg-rgba-success me-3">
                                            K</div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p>Where does it come from?</p>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.
                                            It has roots in a piece of classical Latin literature from 45 BC,
                                            making it over 2000 years old.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div id="item-3-2">
                                <h5>Item 3-2</h5>
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <div
                                            class="avatar-sm rounded-circle fs-22 ax-flex-center-0 bg-rgba-danger me-3">
                                            M</div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <p>Where does it come from?</p>
                                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text.
                                            It has roots in a piece of classical Latin literature from 45 BC,
                                            making it over 2000 years old.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Scrollspy With List Group</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <div id="list-example" class="list-group list-group-bg-info">
                            <a class="list-group-item list-group-item-action" href="#list-item-1">Item 1</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-2">Item 2</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-3">Item 3</a>
                            <a class="list-group-item list-group-item-action" href="#list-item-4">Item 4</a>
                        </div>
                    </div>
                    <div class="col-8">
                        <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-smooth-scroll="true"
                            class="scrollspy-content scrollspy-example" tabindex="0">
                            <h4 id="list-item-1">Item 1</h4>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <div
                                        class="avatar-sm rounded-circle fs-22 ax-flex-center-0 bg-primary text-white me-3">
                                        L</div>
                                </div>
                                <div class="flex-grow-1">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book.
                                    </p>
                                </div>
                            </div>
                            <h4 id="list-item-2">Item 2</h4>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img class="avatar-sm rounded-circle me-3" src="/img/dog-006.jpg" alt="">
                                </div>
                                <div class="flex-grow-1">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book.
                                    </p>
                                </div>
                            </div>
                            <h4 id="list-item-3">Item 3</h4>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img class="avatar-sm rounded-circle me-3" src="/img/dog-005.jpg" alt="">
                                </div>
                                <div class="flex-grow-1">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book.
                                    </p>
                                </div>
                            </div>
                            <h4 id="list-item-4">Item 4</h4>
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0">
                                    <img class="avatar-sm rounded-circle me-3" src="/img/dog-004.jpg" alt="">
                                </div>
                                <div class="flex-grow-1">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                        when an unknown printer took a galley of type and scrambled it
                                        to make a type specimen book.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div>