<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Timeline</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Page</a></li>
                    <li class="breadcrumb-item active">Timeline</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <form action="#" class="py-4">
                            <div class="form-group d-flex">
                                <input type="text" class="form-control" placeholder="Search Here" value="Search here..">
                                <button type="submit" class="btn btn-primary ms-3">Search</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 mb-5">
                        <h2>Search Result For<u class="ms-2">"Backgrounds"</u></h2>
                        <p class="text-muted">About 12,100 results (0.52 seconds)</p>
                    </div>
                    <div class="col-12 results">
                        <div class="pt-4 border-bottom">
                            <a class="d-block h4" href="#">Unsplash</a>
                            <a class="page-url text-primary" href="#">https://unsplash.com/s/photos/background</a>
                            <p class="page-description mt-1 w-75 text-muted">Lorem Ipsum is simply dummy text of the
                                printing and typesetting industry.
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 results">
                        <div class="pt-4 border-bottom">
                            <a class="d-block h4" href="#">Unsplash Fgma</a>
                            <a class="page-url text-primary" href="#">https://figma.com</a>
                            <p class="page-description mt-1 w-75 text-muted">It has survived not only five centuries,
                                but also the
                                leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                    <div class="col-12 results">
                        <div class="pt-4 border-bottom">
                            <a class="d-block h4" href="#">Unsplash · GitHub</a>
                            <a class="page-url text-primary" href="#">https://github.com/Unsplash</a>
                            <p class="page-description mt-1 w-75 text-muted">Unsplash has 1 repository available. Follow
                                their code on GitHub.</p>
                        </div>
                    </div>
                    <div class="col-12 results">
                        <div class="pt-4 border-bottom">
                            <a class="d-block h4" href="#">Unsplash.com - Home | Facebook</a>
                            <a class="page-url text-primary" href="#">https://unsplash.com/</a>
                            <p class="page-description mt-1 w-75 text-muted">It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining essentially unchanged...</p>
                        </div>
                    </div>
                    <div class="col-12 results">
                        <div class="pt-4 border-bottom">
                            <a class="d-block h4" href="#">Unsplash – App</a>
                            <a class="page-url text-primary" href="#">https://unsplash.com/</a>
                            <p class="page-description mt-1 w-75 text-muted">It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                    <div class="col-12 results">
                        <div class="pt-4 border-bottom">
                            <a class="d-block h4" href="#">Unsplash | Crunchbase</a>
                            <a class="page-url text-primary"
                                href="#">https://www.crunchbase.com/organization/Unsplash</a>
                            <p class="page-description mt-1 w-75 text-muted">
                                There are many variations of passages of Lorem Ipsum available
                                It has survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged.</p>
                        </div>
                    </div>
                    <div class="col-12 results">
                        <div class="pt-4 border-bottom">
                            <a class="d-block h4" href="#">Unsplash • Instagram photos and videos</a>
                            <a class="page-url text-primary" href="#">https://www.instagram.com/unsplash/?hl=en</a>
                            <p class="page-description mt-1 w-75 text-muted">It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                    <div class="col-12 results">
                        <div class="pt-4 border-bottom">
                            <a class="d-block h4" href="#">Unsplash on Twitter</a>
                            <a class="page-url text-primary"
                                href="#">https://twitter.com/unsplash?utm_source=unsplash&utm_medium=referral</a>
                            <p class="page-description mt-1 w-75 text-muted">It has survived not only five centuries,
                                but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                    <nav class="col-12" aria-label="Page navigation">
                        <ul class="pagination mt-5">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item  active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>