<div class="auth-cover-bg">
    <div id="particles-js"></div>
    <div class="container">
        <div class="row pt-5">
            <div class="col-xl-8 mx-auto">
                <div class="card">
                    <div class="row g-0">
                        <div class="col-xxl-6 col-lg-6">
                            <div class="card cover-card-bg h-100">
                                <div class="card-header pt-4 pb-4 text-center bg-transparent">
                                    <a href="/">
                                        <span><img src="/img/logo-light-lg.png" alt="" height="40"></span>
                                    </a>
                                </div>
                                <div class="card-img-overlay"></div>
                                <div class="card-body">
                                    <div class="icon-box-style rounded-circle">
                                        <i class="bi-shield-lock"></i>
                                    </div>
                                    <div class="mt-4 px-4 text-center">
                                        <p class="text-white">There are many variations of passages of Lorem Ipsum
                                            available,
                                            but the majority have suffered alteration in some form.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-lg-6">
                            <div class="card shadow-none mb-0">

                                <!-- Logo -->


                                <div class="card-body p-4">

                                    <div class="text-center w-75 m-auto">
                                        <h4 class="text-heading text-center pb-0 fw-bold">Sign In</h4>
                                        <p class="text-muted mb-4">Enter your credentials to access your account.</p>
                                    </div>

                                    <form action="#">

                                        <div class="mb-3">
                                            <label class="form-label">Email address</label>
                                            <input class="form-control" type="email" required=""
                                                placeholder="Enter your email">
                                        </div>

                                        <div class="mb-3">
                                            <a href="javascript: void(0)" class="text-muted float-end">
                                                <small>Forgot your password?</small>
                                            </a>
                                            <label class="form-label">Password</label>
                                            <div class="input-group input-group-merge">
                                                <input type="password" class="form-control"
                                                    placeholder="Enter your password">
                                                <div class="input-group-text">
                                                    <span class="bi-eye"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mb-3 d-flex justify-content-between align-items-center mb-3">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="checkbox-signin"
                                                    checked="">
                                                <label class="form-check-label" for="checkbox-signin">Remember
                                                    me</label>
                                            </div>
                                            <div class="mb-3 mb-0 text-center">
                                                <button class="btn btn-primary" type="submit"> Log In </button>
                                            </div>
                                        </div>


                                        <div class="mb-3 text-center signin-to-social">
                                            <div class="border-dashed-top position-relative my-4">
                                                <div class="legend">
                                                    <h5 class="fs-14 mb-0 title">Sign in with</h5>
                                                </div>

                                            </div>
                                            <ul class="list-inline">
                                                <li class="list-inline-item">
                                                    <a href="javascript:void()"
                                                        class="social-item rounded-circle bg-facebook text-white">
                                                        <i class="bi-facebook"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="javascript:void()"
                                                        class="social-item rounded-circle bg-twitter text-white">
                                                        <i class="bi-twitter"></i>
                                                    </a>
                                                </li>
                                                <li class="list-inline-item">
                                                    <a href="javascript:void()"
                                                        class="social-item rounded-circle bg-google text-white">
                                                        <i class="bi-google"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                    </form>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12 text-center">
                                    <p class="text-muted">Don't have an account?
                                        <a href="javascript: void(0)" class="text-muted ms-1">
                                            <b>Sign Up</b>
                                        </a>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>