<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Sweet Alerts</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Advanced UI</a></li>
                    <li class="breadcrumb-item active">Sweet Alerts</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row e-h">
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p>A basic message</p>
                    <div>
                        <button type="button" id="sa-basic" class="btn btn-secondary">Click Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p>A Title with a Text Under</p>
                    <div>
                        <button type="button" id="sa-title" class="btn btn-secondary">Click Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p>A Success Message</p>
                    <div>
                        <button type="button" id="sa-success" class="btn btn-secondary">Click Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p>A modal with a title, an error icon, a text, and a footer</p>
                    <div>
                        <button type="button" id="sa-warning" class="btn btn-secondary">Click Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p>A modal window with a long <br>content inside</p>
                    <div>
                        <button type="button" id="sa-long-content" class="btn btn-secondary">Click Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p>Custom HTML description and buttons with ARIA labels</p>
                    <div>
                        <button type="button" id="sa-custom-html" class="btn btn-secondary">Click Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p>A dialog with three buttons</p>
                    <div>
                        <button type="button" id="sa-three-btn" class="btn btn-secondary">Click Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p>A custom positioned dialog</p>
                    <div>
                        <button type="button" id="sa-position" class="btn btn-secondary">Click Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p>Custom animation with</p>
                    <div>
                        <button type="button" id="custom-animation" class="btn btn-secondary">Click Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p>A confirm dialog, with a function attached to the "Confirm"-button</p>
                    <div>
                        <button type="button" id="function-attached" class="btn btn-secondary">Click Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p>By passing a parameter, you can execute something else for "Cancel"</p>
                    <div>
                        <button type="button" id="pass-para" class="btn btn-secondary">Click Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p>A message with custom width, padding, background and animated Nyan Cat</p>
                    <div>
                        <button type="button" id="cb2" class="btn btn-secondary">Click Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p>A message with auto close timer</p>
                    <div>
                        <button type="button" id="autoclose" class="btn btn-secondary">Click Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p>Right-to-left support for Arabic, Persian, Hebrew, and other RTL languages</p>
                    <div>
                        <button type="button" id="rtl-swal" class="btn btn-secondary">Click Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->
    <div class="col-sm-6 col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <p>AJAX request example</p>
                    <div>
                        <button type="button" id="ajx-swal" class="btn btn-secondary">Click Me</button>
                    </div>
                </div>

            </div>
        </div>
    </div><!-- end col -->


</div>