<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Scrollspy</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Advanced UI</a></li>
                    <li class="breadcrumb-item active">Scrollspy</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row">
    <div class="col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Default</h5>
            </div>
            <div class="swiper default-swiper w-100">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-1.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-2.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-3.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-4.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-5.jpg" alt="" /></div>

                </div>
            </div>
        </div>
    </div><!-- end col-->
    <div class="col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Navigation</h5>
            </div>
            <div class="swiper navigation-swiper w-100">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-5.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-4.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-3.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-2.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-1.jpg" alt="" /></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Pagination</h5>
            </div>
            <div class="swiper pagination-swiper w-100">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-1.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-2.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-3.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-4.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-5.jpg" alt="" /></div>
                </div>
                <div class="swiper-pagination page-bg-overlay-l"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Pagination with Progress</h5>
            </div>
            <div class="swiper pagination-progress w-100">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-1.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-2.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-3.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-4.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-5.jpg" alt="" /></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Pagination Fraction</h5>
            </div>
            <div class="swiper pagination-fraction w-100">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-7.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-6.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-5.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-4.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-3.jpg" alt="" /></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination page-bg-overlay-d"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Pagination custom</h5>
            </div>
            <div class="swiper pagination-custom w-100">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-5.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-4.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-3.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-2.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-fluid" src="/img/g-6.jpg" alt="" /></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Vertical</h5>
            </div>
            <div class="swiper vertical-swiper w-100">
                <div class="swiper-wrapper card-img-h-4">
                    <div class="swiper-slide"><img class="img-inset" src="/img/pattern-1.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-inset" src="/img/pattern-2.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-inset" src="/img/pattern-3.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-inset" src="/img/pattern-4.jpg" alt="" /></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Keyboard Control</h5>
            </div>
            <div class="swiper keyboard-control w-100">
                <div class="swiper-wrapper card-img-h-4">
                    <div class="swiper-slide"><img class="img-inset" src="/img/g-4.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-inset" src="/img/g-3.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-inset" src="/img/g-2.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-inset" src="/img/g-2.jpg" alt="" /></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination page-bg-overlay-l"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Mousewheel Control</h5>
            </div>
            <div class="swiper mousewheel-control w-100">
                <div class="swiper-wrapper card-img-h-4">
                    <div class="swiper-slide"><img class="img-inset" src="/img/pattern-1.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-inset" src="/img/pattern-2.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-inset" src="/img/pattern-3.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-inset" src="/img/pattern-4.jpg" alt="" /></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent p-3">
                <h5 class="mb-0">Responsive Breakpoint</h5>
            </div>
            <div class="swiper responsive-breakpoint w-100">
                <div class="swiper-wrapper card-img-h-4">
                    <div class="swiper-slide"><img class="img-inset" src="/img/g-6.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-inset" src="/img/g-5.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-inset" src="/img/g-4.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-inset" src="/img/g-3.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-inset" src="/img/g-2.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-inset" src="/img/g-2.jpg" alt="" /></div>
                    <div class="swiper-slide"><img class="img-inset" src="/img/g-1.jpg" alt="" /></div>
                </div>
                <div class="swiper-pagination page-bg-overlay-l"></div>
            </div>
        </div>
    </div><!-- end col -->
</div>