<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-sm-0">Grid Table</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Table </a></li>
                    <li class="breadcrumb-item active">Grid Table</li>
                </ol>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="col-xl-12 mt-4">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="card-title mb-0 flex-grow-1">Base Example</h5>
            </div>
            <div class="card-body">
                <div id="table-gridjs"></div>

            </div>
        </div>
    </div>
    <!-- end col -->
    <div class="col-xl-12 mt-4">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="card-title mb-0 flex-grow-1">Card Table</h5>
            </div>
            <div class="card-body">
                <div id="table-card" class="table-card"></div>

            </div>
        </div>
    </div>
    <!-- end col -->
    <div class="col-xl-12 mt-4">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="card-title mb-0 flex-grow-1">Pagination Table</h5>
            </div>
            <div class="card-body">
                <div id="table-pagination"></div>

            </div>
        </div>
    </div>
    <!-- end col -->
    <div class="col-xl-12 mt-4">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="card-title mb-0 flex-grow-1">search Table</h5>
            </div>
            <div class="card-body">
                <div id="table-search"></div>

            </div>
        </div>
    </div>
    <!-- end col -->
    <div class="col-xl-12 mt-4">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="card-title mb-0 flex-grow-1">Sorting Table</h5>
            </div>
            <div class="card-body">
                <div id="table-sorting"></div>

            </div>
        </div>
    </div>
    <!-- end col -->
    <div class="col-xl-12 mt-4">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="card-title mb-0 flex-grow-1">loading Stat</h5>
            </div>
            <div class="card-body">
                <div id="table-loading-state"></div>

            </div>
        </div>
    </div>
    <!-- end col -->
    <div class="col-xl-12 mt-4">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="card-title mb-0 flex-grow-1">Fixed Heeader Table</h5>
            </div>
            <div class="card-body">
                <div id="table-fixed-header"></div>

            </div>
        </div>
    </div>
</div><!-- end row -->