<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Tabs</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Base UI</a></li>
                    <li class="breadcrumb-item active">Tabs</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Basic Tabs</h5>
            </div>
            <div class="card-body">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home-1" role="tab"
                            aria-controls="home-1" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile-1" role="tab"
                            aria-controls="profile-1" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact-1" role="tab"
                            aria-controls="contact-1" aria-selected="false">Contact</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="home-1" role="tabpanel" aria-labelledby="home-tab">
                        <div class="d-flex">
                            <img class="me-3 card-img-h-2 rounded" src="/img/dog-md-1.jpg" alt="sample image">
                            <div class="flex-grow-1">
                                <h4 class="mt-0">Why choose us?</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile-1" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="d-flex">
                            <img class="me-3 avatar-lg rounded" src="/img/image-john.jpg" alt="avatar image">
                            <div class="flex-grow-1">
                                <h4 class="mt-0">John Doe</h4>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                    when an unknown printer took a galley of type and scrambled it to make a type
                                    specimen book.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact-1" role="tabpanel" aria-labelledby="contact-tab">
                        <h4>Contact us </h4>
                        <p>
                            Feel free to contact us if you have any questions!
                        </p>
                        <p>
                            <i class="ti-headphone-alt text-info"></i>
                            +123456789
                        </p>
                        <p>
                            <i class="ti-email text-success"></i>
                            contactus@example.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Vertical Tabs</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-4">
                        <ul class="nav nav-tabs nav-tabs-v" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab-vertical" data-bs-toggle="tab" href="#home-2"
                                    role="tab" aria-controls="home-2" aria-selected="true">
                                    <i class="bi-house text-info me-2"></i>
                                    Home

                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab-vertical" data-bs-toggle="tab" href="#profile-2"
                                    role="tab" aria-controls="profile-2" aria-selected="false">
                                    <i class="bi-person text-danger me-2"></i>
                                    Profile

                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab-vertical" data-bs-toggle="tab" href="#contact-2"
                                    role="tab" aria-controls="contact-2" aria-selected="false">
                                    <i class="bi-envelope text-success me-2"></i>
                                    Contact

                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-8">
                        <div class="tab-content tab-content-vertical">
                            <div class="tab-pane fade active show" id="home-2" role="tabpanel"
                                aria-labelledby="home-tab-vertical">
                                <div class="text-center">
                                    <img class="me-3 avatar-xl mb-4"
                                        src="https://images.unsplash.com/photo-1476820865390-c52aeebb9891?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1770&amp;q=80"
                                        alt="sample image">
                                </div>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form, by injected humour,
                                </p>
                            </div>
                            <div class="tab-pane fade" id="profile-2" role="tabpanel"
                                aria-labelledby="profile-tab-vertical">
                                <div class="text-center">
                                    <img class="mb-3 avatar-lg rounded-circle" src="/img/image-john.jpg"
                                        alt="sample image">
                                    <h5 class="mt-0">John Doe</h5>
                                    <p class="mb-0">UX specialist</p>
                                    <p class="mb-0">New Delhi</p>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="contact-2" role="tabpanel"
                                aria-labelledby="contact-tab-vertical">
                                <h4>Contact us </h4>
                                <p>
                                    Feel free to contact us if you have any questions!
                                </p>
                                <p class="mb-0">
                                    <i class="bi-headset text-info"></i>
                                    +123456789
                                </p>
                                <p class="mb-0">
                                    <i class="bi-envelope text-success"></i>
                                    contactus@example.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Pills Tab</h5>
            </div>
            <div class="card-body">
                <ul class="nav nav-pills nav-pills-success" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" href="#pills-home"
                            role="tab" aria-controls="pills-home" aria-selected="true">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile"
                            role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" href="#pills-contact"
                            role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-home" role="tabpanel"
                        aria-labelledby="pills-home-tab">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img class="me-3 card-img-h-2 rounded" src="/img/dog-001.jpg" alt="sample image">
                            </div>

                            <div class="flex-grow-1">
                                <h5 class="mt-0">I'm UI/UX Designer.</h5>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content
                                    of a page when looking at its layout.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img class="me-3 card-img-h-2 rounded" src="/img/dog-002.jpg" alt="sample image">
                            </div>

                            <div class="flex-grow-1">
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content
                                    of a page when looking at its layout.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img class="me-3 card-img-h-2 rounded" src="/img/dog-003.jpg" alt="sample image">
                            </div>

                            <div class="flex-grow-1">
                                <p>
                                    It is a long established fact that a reader will be distracted by the
                                    readable content of a page when looking at its layout.
                                </p>
                                <p>
                                    The point of using Lorem Ipsum is that it has a more-or-less normal distribution of
                                    letters,
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Pills Vertical Tab</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-4">
                        <ul class="nav nav-pills flex-column nav-pills-success" id="pills-tab-vertical" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-home-tab" data-bs-toggle="pill"
                                    href="#pills-home-v" role="tab" aria-controls="pills-home-v"
                                    aria-selected="true">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" href="#pills-profile-v"
                                    role="tab" aria-controls="pills-profile-v" aria-selected="false">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" href="#pills-contact-v"
                                    role="tab" aria-controls="pills-contact-v" aria-selected="false">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-8">
                        <div class="tab-content" id="pills-tabContent-vertical">
                            <div class="tab-pane fade active show" id="pills-home-v" role="tabpanel"
                                aria-labelledby="pills-home-tab">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img class="me-3 card-img-h-2 rounded" src="/img/dog-001.jpg"
                                            alt="sample image">
                                    </div>

                                    <div class="flex-grow-1">
                                        <h5 class="mt-0">I'm UI/UX Designer.</h5>
                                        <p>It is a long established fact that a reader will be distracted by the
                                            readable content
                                            of a page when looking at its layout.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-profile-v" role="tabpanel"
                                aria-labelledby="pills-profile-tab">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img class="me-3 card-img-h-2 rounded" src="/img/dog-002.jpg"
                                            alt="sample image">
                                    </div>

                                    <div class="flex-grow-1">
                                        <p>It is a long established fact that a reader will be distracted by the
                                            readable content
                                            of a page when looking at its layout.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pills-contact-v" role="tabpanel"
                                aria-labelledby="pills-contact-tab">
                                <div class="d-flex">
                                    <div class="flex-shrink-0">
                                        <img class="me-3 card-img-h-2 rounded" src="/img/dog-003.jpg"
                                            alt="sample image">
                                    </div>

                                    <div class="flex-grow-1">
                                        <p>
                                            It is a long established fact that a reader will be distracted by the
                                            readable content of a page when looking at its layout.
                                        </p>
                                        <p>
                                            The point of using Lorem Ipsum is that it has a more-or-less normal
                                            distribution of letters,
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-8">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Steper Tab</h5>
            </div>
            <div class="card-body">
                <div class="form-stepper" action="#">
                    <div class="mb-4">

                        <ul class="nav nav-pills steps-nav nav-justified" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="stepper-billing-info" data-bs-toggle="pill"
                                    data-bs-target="#billing-info" type="button" role="tab"
                                    aria-controls="steparrow-gen-info" aria-selected="true" data-position="0">
                                    <i class="bi-receipt-cutoff me-2"></i>
                                    Billing Info</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="stepper-shipping-info" data-bs-toggle="pill"
                                    data-bs-target="#shipping-info" type="button" role="tab"
                                    aria-controls="stepper-shipping-info" aria-selected="false" data-position="1"
                                    tabindex="-1">
                                    <i class="bi-truck me-2"></i>
                                    Shipping Info</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="stepper-payment-info-tab" data-bs-toggle="pill"
                                    data-bs-target="#payment-info" type="button" role="tab" aria-controls="payment-info"
                                    aria-selected="false" data-position="2" tabindex="-1">
                                    <i class="bi-credit-card me-2"></i>
                                    Payment Info</button>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="billing-info" role="tabpanel"
                            aria-labelledby="stepper-billing-info">
                            <div class="feed-item-list">
                                <div>
                                    <h5 class="fs-16 mb-1">Billing Info</h5>
                                    <p class="text-muted text-truncate mb-4">Sed ut perspiciatis unde omnis iste</p>
                                    <div class="mb-3">

                                        <div>
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="billing-name">Name</label>
                                                        <input type="text" class="form-control" id="billing-name"
                                                            placeholder="Enter name">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="billing-email-address">Email
                                                            Address</label>
                                                        <input type="email" class="form-control"
                                                            id="billing-email-address" placeholder="Enter email">
                                                    </div>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="mb-3">
                                                        <label class="form-label" for="billing-phone">Phone</label>
                                                        <input type="text" class="form-control" id="billing-phone"
                                                            placeholder="Enter Phone no.">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label" for="billing-address">Address</label>
                                                <textarea class="form-control" id="billing-address" rows="3"
                                                    placeholder="Enter full address"></textarea>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <div class="mb-4 mb-lg-0">
                                                        <label class="form-label">Country</label>
                                                        <select class="form-control form-select" title="Country">
                                                            <option value="0">Select Country</option>
                                                            <option value="AF">Afghanistan</option>
                                                            <option value="AL">Albania</option>
                                                            <option value="DZ">Algeria</option>
                                                            <option value="AS">American Samoa</option>

                                                            <option value="ZW">Zimbabwe</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-lg-4">
                                                    <div class="mb-4 mb-lg-0">
                                                        <label class="form-label" for="billing-city">City</label>
                                                        <input type="text" class="form-control" id="billing-city"
                                                            placeholder="Enter City">
                                                    </div>
                                                </div>

                                                <div class="col-lg-4">
                                                    <div class="mb-0">
                                                        <label class="form-label" for="zip-code">Zip / Postal
                                                            code</label>
                                                        <input type="text" class="form-control" id="zip-code"
                                                            placeholder="Enter Postal code">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-start gap-3 mt-4">
                                <button type="button" class="btn btn-success btn-label right ms-auto nexttab"
                                    data-nexttab="stepper-shipping-info">
                                    Shipping Info <i class="bi bi-arrow-right align-middle  ms-2"></i></button>
                            </div>
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="shipping-info" role="tabpanel"
                            aria-labelledby="stepper-shipping-info">
                            <div class="feed-item-list">
                                <div>
                                    <h5 class="fs-16 mb-1">Shipping Info</h5>
                                    <p class="text-muted text-truncate mb-4">Neque porro quisquam est</p>
                                    <div class="mb-3">
                                        <div class="row">
                                            <div class="col-lg-4 col-sm-6">
                                                <label class="card-radiocheck-label mb-0">
                                                    <input type="radio" name="address" id="info-address1"
                                                        class="card-radiocheck-input" checked="">
                                                    <div class="card-radiocheck text-truncate p-3">
                                                        <span class="fs-14 mb-4 d-block">Address 1</span>
                                                        <span class="fs-14 mb-2 d-block">John Doe</span>
                                                        <span class="text-muted fw-normal text-wrap mb-1 d-block">E3/47
                                                            Victoria Park Road Ind, KO 85901</span>

                                                        <span class="text-muted fw-normal d-block">Mo. 012 345 67
                                                            89</span>
                                                    </div>
                                                </label>
                                                <div
                                                    class="edit-address-btn avatar-xs d-flex align-items-center justify-content-center bg-light rounded-circle">
                                                    <a class="previestab" href="#" data-bs-toggle="tooltip"
                                                        data-previous="stepper-billing-info">
                                                        <i class="bi-pencil fs-16"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-sm-6">
                                                <label class="card-radiocheck-label mb-0">
                                                    <input type="radio" name="address" id="info-address1"
                                                        class="card-radiocheck-input" checked="">
                                                    <div class="card-radiocheck text-truncate p-3">
                                                        <span class="fs-14 mb-4 d-block">Address 2</span>
                                                        <span class="fs-14 mb-2 d-block">John Doe</span>
                                                        <span class="text-muted fw-normal text-wrap mb-1 d-block">E3/47
                                                            Victoria Park Road Ind, KO 85901</span>

                                                        <span class="text-muted fw-normal d-block">Mo. 012 345 67
                                                            89</span>
                                                    </div>
                                                </label>
                                                <div
                                                    class="edit-address-btn avatar-xs d-flex align-items-center justify-content-center bg-light rounded-circle">
                                                    <a class="previestab" href="#" data-bs-toggle="tooltip"
                                                        data-previous="stepper-billing-info">
                                                        <i class="bi-pencil fs-16"></i>
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-start gap-3 mt-4">
                                <button type="button" class="btn btn-light btn-label previestab"
                                    data-previous="stepper-billing-info">
                                    <i class="bi bi-arrow-left  align-middle  me-2"></i> Back</button>
                                <button type="button" class="btn btn-success btn-label right ms-auto nexttab"
                                    data-nexttab="stepper-payment-info-tab">
                                    Payment Info <i class="bi bi-arrow-right  align-middle  ms-2"></i>
                                </button>
                            </div>
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="payment-info" role="tabpanel"
                            aria-labelledby="#stepper-payment-info-tab">
                            <div class="mb-4">
                                <h5 class="fs-16 mb-1">Payment info</h5>
                                <p class="text-muted text-truncate mb-4">Lorem ipsum dummy text</p>
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="fs-13 mb-3">Payment Method:</h5>
                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <label class="card-radiocheck-label mb-0">
                                            <input type="radio" name="payment" id="paymentMethod1"
                                                class="card-radiocheck-input" checked="">
                                            <span class="card-radiocheck text-center text-truncate p-3">
                                                <h1>
                                                    <i class="bi-credit-card mb-3"></i>
                                                </h1>
                                                Credit/Debit Card

                                            </span></label>

                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <label class="card-radiocheck-label mb-0">
                                            <input type="radio" name="payment" id="paymentMethod1"
                                                class="card-radiocheck-input" checked="">
                                            <span class="card-radiocheck text-center text-truncate p-3">
                                                <h1>
                                                    <i class="bi-paypal mb-3"></i>
                                                </h1>
                                                Paypal

                                            </span></label>

                                    </div>
                                    <div class="col-lg-4 col-sm-6">
                                        <label class="card-radiocheck-label mb-0">
                                            <input type="radio" name="payment" id="paymentMethod1"
                                                class="card-radiocheck-input" checked="">
                                            <span class="card-radiocheck text-center text-truncate p-3">
                                                <h1>
                                                    <i class="bi-wallet2 mb-3"></i>
                                                </h1>
                                                Cash On Delivery

                                            </span></label>

                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-start gap-3 mt-4">
                                <a rhef="product-details.html" class="btn btn-light btn-label">
                                    <i class="bi bi-arrow-left  align-middle  me-2"></i> Continue Shopping</a>
                                <button type="button" class="btn btn-success btn-label right ms-auto nexttab"
                                    data-nexttab="stepper-payment-info-tab">
                                    Proceeed <i class="bi-cart  align-middle  ms-2"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-4">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Steper Tab</h5>
            </div>
            <div class="card-body">
                <div class="pt-3">

                    <div id="custom-progress-bar" class="progress-nav mb-4">
                        <div class="progress" style="height: 1px;">
                            <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <ul class="nav nav-pills progress-bar-tab custom-nav" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill done active" data-progressbar="custom-progress-bar"
                                    id="pills-gen-info-tab" data-bs-toggle="pill" data-bs-target="#pills-gen-info"
                                    type="button" role="tab" aria-controls="pills-gen-info" aria-selected="true"
                                    data-position="0">1</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill done" data-progressbar="custom-progress-bar"
                                    id="pills-info-desc-tab" data-bs-toggle="pill" data-bs-target="#pills-info-desc"
                                    type="button" role="tab" aria-controls="pills-info-desc" aria-selected="false"
                                    data-position="1">2</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link rounded-pill done" data-progressbar="custom-progress-bar"
                                    id="pills-success-tab" data-bs-toggle="pill" data-bs-target="#pills-success"
                                    type="button" role="tab" aria-controls="pills-success" aria-selected="false"
                                    data-position="2">3</button>
                            </li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="pills-gen-info" role="tabpanel"
                            aria-labelledby="pills-gen-info-tab">
                            <div>
                                <div class="mb-4">
                                    <div>
                                        <h5 class="mb-1">General Information</h5>
                                        <p class="text-muted">Fill all Information as below</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="gen-info-email-input">Email</label>
                                            <input type="text" class="form-control" id="gen-info-email-input"
                                                placeholder="Enter Email">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3">
                                            <label class="form-label" for="gen-info-username-input">User Name</label>
                                            <input type="text" class="form-control" id="gen-info-username-input"
                                                placeholder="Enter User Name">
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="gen-info-password-input">Password</label>
                                    <input type="password" class="form-control" id="gen-info-password-input"
                                        placeholder="Enter Password">
                                </div>
                            </div>
                            <div class="d-flex align-items-start gap-3 mt-4">
                                <button type="button" class="btn btn-success btn-label right ms-auto nexttab"
                                    data-nexttab="pills-info-desc-tab"><i
                                        class="bi bi-arrow-right label-icon align-middle  ms-2"></i>Go to more
                                    info</button>
                            </div>
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="pills-info-desc" role="tabpanel"
                            aria-labelledby="pills-info-desc-tab">
                            <div>
                                <div class="text-center">
                                    <div class="profile-user position-relative d-inline-block mx-auto mb-2">
                                        <img src="/img/image-tanya.jpg"
                                            class="rounded-circle avatar-lg img-thumbnail user-profile-image"
                                            alt="user-profile-image">

                                    </div>
                                    <h5 class="">Tanya</h5>

                                </div>
                                <div>
                                    <label class="form-label" for="gen-info-description-input">Description</label>
                                    <textarea class="form-control" placeholder="Enter Description"
                                        id="gen-info-description-input" rows="2"></textarea>
                                </div>
                            </div>
                            <div class="d-flex align-items-start gap-3 mt-4">
                                <button type="button" class="btn btn-link text-decoration-none btn-label previestab"
                                    data-previous="pills-gen-info-tab">
                                    <i class="bi bi-arrow-left label-icon align-middle me-2"></i> Back to
                                    General</button>
                                <button type="button" class="btn btn-success btn-label right ms-auto nexttab nexttab"
                                    data-nexttab="pills-success-tab">
                                    <i class="bi bi-arrow-right label-icon align-middle  ms-2"></i>Submit</button>
                            </div>
                        </div>
                        <!-- end tab pane -->

                        <div class="tab-pane fade" id="pills-success" role="tabpanel"
                            aria-labelledby="pills-success-tab">
                            <div>
                                <div class="text-center">

                                    <div class="mb-4">
                                        <lord-icon src="https://cdn.lordicon.com/lupuorrc.json" trigger="loop"
                                            colors="primary:#121331,secondary:#42a705" class="avatar-lg"></lord-icon>
                                    </div>
                                    <h5>Well Done !</h5>
                                    <p class="text-muted">You have Successfully Signed Up</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Custoom Pills Tab</h5>
            </div>
            <div class="card-body">

                <ul class="nav nav-tabs nav-pills bg-warning custom-nav-bg rounded-5" id="nav-tab" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active" id="custom-pill-home-tab" data-bs-toggle="tab"
                            data-bs-target="#custom-pill-home" type="button" role="tab" aria-controls="custom-pill-home"
                            aria-selected="true">Home</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="custom-pill-profile-tab" data-bs-toggle="tab"
                            data-bs-target="#custom-pill-profile" type="button" role="tab"
                            aria-controls="custom-pill-profile" aria-selected="false">Profile</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="custom-pill-contact-tab" data-bs-toggle="tab"
                            data-bs-target="#custom-pill-contact" type="button" role="tab"
                            aria-controls="custom-pill-contact" aria-selected="false">Contact</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="custom-pill-disabled-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled"
                            aria-selected="false" disabled>Disabled</button>
                    </li>
                </ul>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="custom-pill-home" role="tabpanel"
                        aria-labelledby="custom-pill-home-tab" tabindex="0">
                        <div class="d-flex pt-3">
                            <div class="flex-shrink-0">
                                <div class="avatar-md rounded ax-flex-center-0 bg-rgba-warning me-3">
                                    <i class="bi-house fs-30"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="">My Home Address</h5>
                                <p class="mb-0">123/44 Seltax Road New Delhi</p>
                                <p class="mb-0"><b>Email: </b>example@gmail.com</p>
                                <p class=""><b>Phone:</b> 123456789</p>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="custom-pill-profile" role="tabpanel"
                        aria-labelledby="custom-pill-profile-tab" tabindex="0">
                        <div class="d-flex pt-3">
                            <div class="flex-shrink-0">
                                <img src="/img/image-john.jpg" alt="" class="avatar-md rounded me-3">
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="">John Doe</h5>
                                <p class="">Frontend Developer</p>
                                <ul class="list-unstyled d-flex justify-content-start">
                                    <a href="javascript: void(0)" class="linkedin-text me-3 ax-flex-center-0 fs-20"><i
                                            class="bi-linkedin"></i></a>
                                    <a href="javascript: void(0)" class="facebook-text me-3 ax-flex-center-0 fs-20"><i
                                            class="bi-facebook"></i></a>
                                </ul>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="custom-pill-contact" role="tabpanel"
                        aria-labelledby="custom-pill-contact-tab" tabindex="0">
                        <div class="d-flex pt-3">
                            <div class="flex-shrink-0">
                                <div class="avatar-md rounded ax-flex-center-0 bg-rgba-secondary me-3">
                                    <i class="bi-map fs-30"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="">Address</h5>
                                <p class="mb-0">123/44 Seltax Road New Delhi</p>
                                <p class="mb-0"><b>Email: </b>example@gmail.com</p>
                                <p class=""><b>Phone:</b> 123456789</p>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-disabled" role="tabpanel"
                        aria-labelledby="custom-pill-disabled-tab" tabindex="0">...</div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="p-3 border-bottom border-0">
                <h5 class="mb-0">Custoom Pills Tab</h5>
            </div>
            <div class="card-body">

                <ul class="nav nav-tabs nav-justified border-tab" id="nav-tab" role="tablist">
                    <li class="nav-item">
                        <button class="nav-link active" id="bdr-home-tab" data-bs-toggle="tab"
                            data-bs-target="#bdr-home" type="button" role="tab" aria-controls="bdr-home"
                            aria-selected="true">Home</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="bdr-profile-tab" data-bs-toggle="tab" data-bs-target="#bdr-profile"
                            type="button" role="tab" aria-controls="bdr-profile" aria-selected="false">Profile</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="bdr-contact-tab" data-bs-toggle="tab" data-bs-target="#bdr-contact"
                            type="button" role="tab" aria-controls="bdr-contact" aria-selected="false">Contact</button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" id="bdr-disabled-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-disabled" type="button" role="tab" aria-controls="nav-disabled"
                            aria-selected="false" disabled>Disabled</button>
                    </li>
                </ul>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="bdr-home" role="tabpanel" aria-labelledby="bdr-home-tab"
                        tabindex="0">
                        <div class="d-flex pt-3">
                            <div class="flex-shrink-0">
                                <div class="avatar-md rounded ax-flex-center-0 bg-rgba-secondary me-3">
                                    <i class="bi-house fs-30"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="">My Home Address</h5>
                                <p class="mb-0">123/44 Seltax Road New Delhi</p>
                                <p class="mb-0"><b>Email: </b>example@gmail.com</p>
                                <p class=""><b>Phone:</b> 123456789</p>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="bdr-profile" role="tabpanel" aria-labelledby="bdr-profile-tab"
                        tabindex="0">
                        <div class="d-flex pt-3">
                            <div class="flex-shrink-0">
                                <img src="/img/image-john.jpg" alt="" class="avatar-md rounded me-3">
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="">John Doe</h5>
                                <p class="">Frontend Developer</p>
                                <ul class="list-unstyled d-flex justify-content-start">
                                    <a href="javascript: void(0)" class="linkedin-text me-3 ax-flex-center-0 fs-20"><i
                                            class="bi-linkedin"></i></a>
                                    <a href="javascript: void(0)" class="facebook-text me-3 ax-flex-center-0 fs-20"><i
                                            class="bi-facebook"></i></a>
                                </ul>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="bdr-contact" role="tabpanel" aria-labelledby="bdr-contact-tab"
                        tabindex="0">
                        <div class="d-flex pt-3">
                            <div class="flex-shrink-0">
                                <div class="avatar-md rounded ax-flex-center-0 bg-rgba-secondary me-3">
                                    <i class="bi-map fs-30"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <h5 class="">Address</h5>
                                <p class="mb-0">123/44 Seltax Road New Delhi</p>
                                <p class="mb-0"><b>Email: </b>example@gmail.com</p>
                                <p class=""><b>Phone:</b> 123456789</p>
                                <p>It is a long established fact that a reader will be distracted by the readable
                                    content of a page when looking at its layout.</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-disabled" role="tabpanel" aria-labelledby="bdr-disabled-tab"
                        tabindex="0">...</div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div>