<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Team</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Page</a></li>
                    <li class="breadcrumb-item active">Team</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="card team-card">
            <div class="card-img-overlay-before rounded">
                <img src="/img/pattern-3.jpg" class="card-img-h-2 rounded-top w-100" />
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-check d-inline-flex">
                            <input class="star-checkbox" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-end dropdown">
                            <a class="text-white dropdown-toggle-btn" type="button" id="dropdownMenu"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu">
                                <li><a class="dropdown-item" href="#"><i class="bi-eye me-1"></i> View</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-star me-1"></i> Favourite</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-trash me-1"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="text-center profile-pic">
                    <a href="javascript: void(0)">
                        <img src="/img/image-john.jpg" class="avatar-lg img-thumbnail rounded-circle" />
                    </a>
                </div>
                <div class="text-center my-4">
                    <h5 class="mb-0">John Doe</h5>
                    <p>Web Designer</p>
                </div>
                <div class="row text-muted text-center">
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">17</h5>
                        <p class="text-muted mb-0">Projects</p>
                    </div>
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">30</h5>
                        <p class="text-muted mb-0">Task</p>
                    </div>
                    <div class="col-4">
                        <div class="badge bg-rgba-success mb-1">completed</div>
                        <p class="text-muted mb-0">Status</p>
                    </div>
                </div>
                <div class="mt-4 mb-2 text-center">
                    <a href="profile.html" class="btn bg-rgba-primary fs-13 w-100">View Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="card team-card">
            <div class="card-img-overlay-before rounded">
                <img src="/img/pattern-2.jpg" class="card-img-h-2 rounded-top w-100" />
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-check d-inline-flex">
                            <input class="star-checkbox" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-end dropdown">
                            <a class="text-white dropdown-toggle-btn" type="button" id="dropdownMenu"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu">
                                <li><a class="dropdown-item" href="#"><i class="bi-eye me-1"></i> View</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-star me-1"></i> Favourite</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-trash me-1"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="text-center profile-pic">
                    <a href="javascript: void(0)">
                        <img src="/img/dog-001.jpg" class="avatar-lg img-thumbnail rounded-circle" />
                    </a>
                </div>
                <div class="text-center my-4">
                    <h5 class="mb-0">John Doe</h5>
                    <p>Web Designer</p>
                </div>
                <div class="row text-muted text-center">
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">17</h5>
                        <p class="text-muted mb-0">Projects</p>
                    </div>
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">30</h5>
                        <p class="text-muted mb-0">Task</p>
                    </div>
                    <div class="col-4">
                        <div class="badge bg-rgba-success mb-1">completed</div>
                        <p class="text-muted mb-0">Status</p>
                    </div>
                </div>
                <div class="mt-4 mb-2 text-center">
                    <a href="profile.html" class="btn bg-rgba-primary fs-13 w-100">View Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="card team-card">
            <div class="card-img-overlay-before rounded">
                <img src="/img/pattern-3.jpg" class="card-img-h-2 rounded-top w-100" />
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-check d-inline-flex">
                            <input class="star-checkbox" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-end dropdown">
                            <a class="text-white dropdown-toggle-btn" type="button" id="dropdownMenu"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu">
                                <li><a class="dropdown-item" href="#"><i class="bi-eye me-1"></i> View</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-star me-1"></i> Favourite</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-trash me-1"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="text-center profile-pic">
                    <a href="javascript: void(0)">
                        <img src="/img/image-tanya.jpg" class="avatar-lg img-thumbnail rounded-circle" />
                    </a>
                </div>
                <div class="text-center my-4">
                    <h5 class="mb-0">Tanya </h5>
                    <p>Web Designer</p>
                </div>
                <div class="row text-muted text-center">
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">17</h5>
                        <p class="text-muted mb-0">Projects</p>
                    </div>
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">30</h5>
                        <p class="text-muted mb-0">Task</p>
                    </div>
                    <div class="col-4">
                        <div class="badge bg-secondary mb-1">ongoing</div>
                        <p class="text-muted mb-0">Status</p>
                    </div>
                </div>
                <div class="mt-4 mb-2 text-center">
                    <a href="profile.html" class="btn bg-rgba-primary fs-13 w-100">View Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="card team-card">
            <div class="card-img-overlay-before rounded">
                <img src="/img/pattern-3.jpg" class="card-img-h-2 rounded-top w-100" />
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-check d-inline-flex">
                            <input class="star-checkbox" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-end dropdown">
                            <a class="text-white dropdown-toggle-btn" type="button" id="dropdownMenu"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu">
                                <li><a class="dropdown-item" href="#"><i class="bi-eye me-1"></i> View</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-star me-1"></i> Favourite</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-trash me-1"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="text-center profile-pic">
                    <a href="javascript: void(0)">
                        <img src="/img/dog-006.jpg" class="avatar-lg img-thumbnail rounded-circle" />
                    </a>
                </div>
                <div class="text-center my-4">
                    <h5 class="mb-0">John Doe</h5>
                    <p>Web Developer</p>
                </div>
                <div class="row text-muted text-center">
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">17</h5>
                        <p class="text-muted mb-0">Projects</p>
                    </div>
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">30</h5>
                        <p class="text-muted mb-0">Task</p>
                    </div>
                    <div class="col-4">
                        <div class="badge bg-rgba-warning mb-1">pending</div>
                        <p class="text-muted mb-0">Status</p>
                    </div>
                </div>
                <div class="mt-4 mb-2 text-center">
                    <a href="profile.html" class="btn bg-rgba-primary fs-13 w-100">View Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="card team-card">
            <div class="card-img-overlay-before rounded">
                <img src="/img/pattern-3.jpg" class="card-img-h-2 rounded-top w-100" />
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-check d-inline-flex">
                            <input class="star-checkbox" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-end dropdown">
                            <a class="text-white dropdown-toggle-btn" type="button" id="dropdownMenu"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu">
                                <li><a class="dropdown-item" href="#"><i class="bi-eye me-1"></i> View</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-star me-1"></i> Favourite</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-trash me-1"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="text-center profile-pic">
                    <a href="javascript: void(0)">
                        <img src="/img/image-john.jpg" class="avatar-lg img-thumbnail rounded-circle" />
                    </a>
                </div>
                <div class="text-center my-4">
                    <h5 class="mb-0">John Doe</h5>
                    <p>Web Designer</p>
                </div>
                <div class="row text-muted text-center">
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">17</h5>
                        <p class="text-muted mb-0">Projects</p>
                    </div>
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">30</h5>
                        <p class="text-muted mb-0">Task</p>
                    </div>
                    <div class="col-4">
                        <div class="badge bg-rgba-success mb-1">completed</div>
                        <p class="text-muted mb-0">Status</p>
                    </div>
                </div>
                <div class="mt-4 mb-2 text-center">
                    <a href="profile.html" class="btn bg-rgba-primary fs-13 w-100">View Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="card team-card">
            <div class="card-img-overlay-before rounded">
                <img src="/img/pattern-2.jpg" class="card-img-h-2 rounded-top w-100" />
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-check d-inline-flex">
                            <input class="star-checkbox" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-end dropdown">
                            <a class="text-white dropdown-toggle-btn" type="button" id="dropdownMenu"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu">
                                <li><a class="dropdown-item" href="#"><i class="bi-eye me-1"></i> View</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-star me-1"></i> Favourite</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-trash me-1"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="text-center profile-pic">
                    <a href="javascript: void(0)">
                        <img src="/img/dog-001.jpg" class="avatar-lg img-thumbnail rounded-circle" />
                    </a>
                </div>
                <div class="text-center my-4">
                    <h5 class="mb-0">John Doe</h5>
                    <p>Web Designer</p>
                </div>
                <div class="row text-muted text-center">
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">17</h5>
                        <p class="text-muted mb-0">Projects</p>
                    </div>
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">30</h5>
                        <p class="text-muted mb-0">Task</p>
                    </div>
                    <div class="col-4">
                        <div class="badge bg-rgba-success mb-1">completed</div>
                        <p class="text-muted mb-0">Status</p>
                    </div>
                </div>
                <div class="mt-4 mb-2 text-center">
                    <a href="profile.html" class="btn bg-rgba-primary fs-13 w-100">View Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="card team-card">
            <div class="card-img-overlay-before rounded">
                <img src="/img/pattern-3.jpg" class="card-img-h-2 rounded-top w-100" />
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-check d-inline-flex">
                            <input class="star-checkbox" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-end dropdown">
                            <a class="text-white dropdown-toggle-btn" type="button" id="dropdownMenu"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu">
                                <li><a class="dropdown-item" href="#"><i class="bi-eye me-1"></i> View</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-star me-1"></i> Favourite</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-trash me-1"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="text-center profile-pic">
                    <a href="javascript: void(0)">
                        <img src="/img/image-tanya.jpg" class="avatar-lg img-thumbnail rounded-circle" />
                    </a>
                </div>
                <div class="text-center my-4">
                    <h5 class="mb-0">Tanya </h5>
                    <p>Web Designer</p>
                </div>
                <div class="row text-muted text-center">
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">17</h5>
                        <p class="text-muted mb-0">Projects</p>
                    </div>
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">30</h5>
                        <p class="text-muted mb-0">Task</p>
                    </div>
                    <div class="col-4">
                        <div class="badge bg-secondary mb-1">ongoing</div>
                        <p class="text-muted mb-0">Status</p>
                    </div>
                </div>
                <div class="mt-4 mb-2 text-center">
                    <a href="profile.html" class="btn bg-rgba-primary fs-13 w-100">View Profile</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="card team-card">
            <div class="card-img-overlay-before rounded">
                <img src="/img/pattern-1.jpg" class="card-img-h-2 rounded-top w-100" />
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="form-check d-inline-flex">
                            <input class="star-checkbox" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault"></label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-end dropdown">
                            <a class="text-white dropdown-toggle-btn" type="button" id="dropdownMenu"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu">
                                <li><a class="dropdown-item" href="#"><i class="bi-eye me-1"></i> View</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-star me-1"></i> Favourite</a></li>
                                <li><a class="dropdown-item" href="#"><i class="bi-trash me-1"></i> Delete</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="text-center profile-pic">
                    <a href="javascript: void(0)">
                        <img src="/img/dog-006.jpg" class="avatar-lg img-thumbnail rounded-circle" />
                    </a>
                </div>
                <div class="text-center my-4">
                    <h5 class="mb-0">John Doe</h5>
                    <p>Web Developer</p>
                </div>
                <div class="row text-muted text-center">
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">17</h5>
                        <p class="text-muted mb-0">Projects</p>
                    </div>
                    <div class="col-4 border-end border-end-dashed">
                        <h5 class="mb-1">30</h5>
                        <p class="text-muted mb-0">Task</p>
                    </div>
                    <div class="col-4">
                        <div class="badge bg-rgba-warning mb-1">pending</div>
                        <p class="text-muted mb-0">Status</p>
                    </div>
                </div>
                <div class="mt-4 mb-2 text-center">
                    <a href="profile.html" class="btn bg-rgba-primary fs-13 w-100">View Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>