<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Timeline</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Page</a></li>
                    <li class="breadcrumb-item active">Timeline</li>
                </ol>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <ul class="timeline tl-style-1">
            <li class="tl-month">
                <span>Jully, 2022</span>
            </li>
            <li class="tl-item right">
                <div class="tl-content tl-type file">
                    <div class="tl-icon bg-primary">
                        <i class="icon bi-file-earmark"></i>
                    </div>
                    <div class="row g-0">
                        <div class="custom-col">
                            <div class="tl-avatar">
                                <img class="avatar-sm rounded-circle" src="/img/image-john.jpg" alt="Avatar">
                            </div>
                        </div>
                        <div class="col">
                            <div class="tl-header">
                                <span class="tl-author">John Doe</span>
                                <p class="tl-activity">It is a long established fact that a
                                    <a href="#">reader will be distracted </a>
                                    by the readable.
                                </p>
                                <span class="tl-time">July 16, 2022 - 4:34 PM</span>
                            </div>
                        </div>
                    </div>


                </div>
            </li>
            <li class="tl-item tl-item-detailed left">
                <div class="tl-content tl-type comment">
                    <div class="tl-icon bg-warning">
                        <i class="icon bi-chat-dots"></i>
                    </div>
                    <div class="row g-0">
                        <div class="custom-col">
                            <div class="tl-avatar">
                                <img class="avatar-sm rounded-circle" src="/img/image-tanya.jpg" alt="Avatar">
                            </div>
                        </div>
                        <div class="col">
                            <div class="tl-header">
                                <span class="tl-author">Tanya </span>
                                <p class="tl-activity">There is no one who loves pain itself
                                    <a href="#">my website</a>.
                                </p>
                                <span class="tl-time">September 13, 2022 - 9:54 AM</span>
                            </div>
                        </div>
                        <div class="col-sm-12 border-dashed-bottom my-3"></div>

                        <div class="col-md-12">
                            <div class="tl-summary">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</p>
                            </div>
                        </div>

                    </div>

                </div>
            </li>
            <li class="tl-month">
                <span>August, 2022</span>
            </li>
            <li class="tl-item tl-item-detailed tl-item-gallery right">
                <div class="tl-content tl-type gallery">
                    <div class="tl-icon">
                        <i class="icon bi-image"></i>
                    </div>
                    <div class="row g-0">
                        <div class="custom-col">
                            <div class="tl-avatar">
                                <img class="avatar-sm rounded-circle" src="/img/image-john.jpg" alt="Avatar">
                            </div>
                        </div>
                        <div class="col">
                            <div class="tl-header">
                                <span class="tl-author">John Doe </span>
                                <p class="tl-activity">pellentesque tortor <a href="#">enim</a>. </p>
                                <span class="tl-time">August 23, 2022 - 10:42 AM</span>
                            </div>
                        </div>
                        <div class="col-sm-12 border-dashed-bottom my-3"></div>
                        <div class="col-md-12">
                            <div class="tl-gallery">
                                <div class="tl-gallery-item"><img class="gallery-thumbnail" src="/img/dog-001.jpg"
                                        alt="Thumbnail"></div>
                                <div class="tl-gallery-item"><img class="gallery-thumbnail" src="/img/dog-002.jpg"
                                        alt="Thumbnail"></div>
                                <div class="tl-gallery-item"><img class="gallery-thumbnail" src="/img/dog-003.jpg"
                                        alt="Thumbnail"></div>
                                <div class="tl-gallery-item"><img class="gallery-thumbnail" src="/img/dog-004.jpg"
                                        alt="Thumbnail"></div>
                            </div>
                        </div>
                    </div>



                </div>
            </li>
            <li class="tl-item tl-item-detailed left">
                <div class="tl-content tl-type comment">
                    <div class="tl-icon bg-danger">
                        <i class="icon bi-chat-dots"></i>
                    </div>
                    <div class="row g-0">
                        <div class="custom-col">
                            <div class="tl-avatar">
                                <img class="avatar-sm rounded-circle" src="/img/image-tanya.jpg" alt="Avatar">
                            </div>
                        </div>
                        <div class="col">
                            <div class="tl-header">
                                <span class="tl-author">Prachi Goel</span>
                                <p class="tl-activity">but the majority have suffered <a href="#">alteration in some
                                        form</a>. </p>
                                <span class="tl-time">August 19, 2022 - 7:15 PM</span>
                            </div>
                        </div>
                        <div class="col-sm-12 border-dashed-bottom my-3"></div>
                        <div class="col-md-12">
                            <div class="tl-summary">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form</p>
                            </div>
                        </div>
                    </div>



                </div>
            </li>
            <li class="tl-item right">
                <div class="tl-content tl-type file">
                    <div class="tl-icon bg-info">
                        <i class="icon bi-file-earmark"></i>
                    </div>
                    <div class="row g-0">
                        <div class="custom-col">
                            <div class="tl-avatar">
                                <img class="avatar-sm rounded-circle" src="/img/image-john.jpg" alt="Avatar">
                            </div>
                        </div>
                        <div class="col">
                            <div class="tl-header">
                                <span class="tl-author">John Doe </span>
                                <p class="tl-activity">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                    accusantium <a href="#"> doloremque laudantium,</a>. </p>
                                <span class="tl-time">August 6, 2022 - 12:02 PM</span>
                            </div>
                        </div>


                    </div>


                </div>
            </li>
            <li class="tl-item tl-item-detailed left">
                <div class="tl-content tl-type quote">
                    <div class="tl-icon bg-warning">
                        <i class="icon bi-quote"></i>
                    </div>
                    <div class="row g-0">
                        <div class="custom-col">
                            <div class="tl-avatar">
                                <img class="avatar-sm rounded-circle" src="/img/image-john.jpg" alt="Avatar">
                            </div>
                        </div>
                        <div class="col">
                            <div class="tl-header">
                                <span class="tl-author">John Doe </span>
                                <p class="tl-activity">Contrary to popular belief, Lorem Ipsum is not <a href="#">simply
                                        random text</a>. </p>
                                <span class="tl-time">August 1, 2022 - 6:25 AM</span>
                            </div>
                        </div>
                        <div class="col-md-12 border-dashed-bottom my-3"></div>
                        <div class="col-md-12">
                            <blockquote class="blockquote tl-blockquote fs-14 mb-0">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some form, by injected humour, </p>
                                <footer class="blockquote-footer">Lorem Ipsum text.</footer>
                            </blockquote>
                        </div>
                    </div>



                </div>
            </li>
            <li class="tl-item tl-loadmore">
                <a class="btn btn-secondary btn-sm load-more-btn" href="#">Load more</a>
            </li>
        </ul>
    </div>
</div>