<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Tree</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Page</a></li>
                    <li class="breadcrumb-item active">Tree</li>
                </ol>
            </div>

        </div>
    </div>

    <div class="col-xl-12">
        <div class="card">
            <div class="p-3 border border-bottom">
                <h5 class="mb-0">Horizontal Tree</h5>
            </div>
            <div class="card-body">
                <div class="horizontal-tree">
                    <ul class="list-unstyled">
                        <li class="main-title">
                            <a href="javascript:void(0)" class="tree-title">Main Title</a>
                        </li>
                        <li>
                            <ul class="row g-0 pt-0 list-unstyled inner-list-group">
                                <li class="col-sm-3">
                                    <a href="javascript:void(0)" class="tree-title">Cargo</a>
                                    <ul class="row g-0 list-unstyled inner-list-group">
                                        <li class="col-sm-6">
                                            <a href="javascript:void(0)"> Air Cargo</a>
                                        </li>
                                        <li class="col-sm-6">
                                            <a href="javascript:void(0)">Ship Cargo</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="col-sm-3">
                                    <a href="javascript:void(0)" class="tree-title">INformation Technology</a>
                                    <ul class="list-unstyled inner-list-group pt-0">
                                        <li>
                                            <a href="javascript:void(0)">UI/UX Designer</a>
                                            <a href="javascript:void(0)">Web Designer</a>
                                            <a href="javascript:void(0)">Java Developer</a>
                                            <a href="javascript:void(0)">Fullstack Developer</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="col-sm-3">
                                    <a href="javascript:void(0)" class="tree-title">Fashion</a>
                                    <ul class="row g-0 list-unstyled sub-list-group">
                                        <li class="col-sm-6">
                                            <a href="javascript:void(0)">Men's Wear</a>
                                        </li>
                                        <li class="col-sm-6">
                                            <a href="javascript:void(0)">Women's Wear</a>
                                            <ul class="list-unstyled inner-list-group pt-0">
                                                <li>
                                                    <a href="javascript:void(0)">Jeans</a>
                                                    <a href="javascript:void(0)">T-Shirts</a>
                                                    <a href="javascript:void(0)">Blazers</a>
                                                    <a href="javascript:void(0)">Footwears</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="col-sm-3">
                                    <a href="javascript:void(0)" class="tree-title">Home Appliances</a>
                                    <ul class="row g-0 list-unstyled inner-list-group">
                                        <li class="col-sm-6">
                                            <a href="javascript:void(0)">Home Decor</a>
                                        </li>
                                        <li class="col-sm-6">
                                            <a href="javascript:void(0)">Kitchen & Dining</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="card">
            <div class="p-3 border-bottom border">
                <h5>vertical</h5>
            </div>
            <div class="card-body">
                <div class="vertical-tree">
                    <ul class="list-unstyled">
                        <li class="main-title">
                            <a href="javascript:void(0)" class="tree-title">Main Title</a>
                        </li>
                        <li>
                            <div class="tree-list-group">
                                <div class="list-container">
                                    <a href="javascript:void(0)" class="tree-link">Transports</a>
                                </div>
                                <ul class="list-unstyled inner-list-group">
                                    <li>
                                        <a href="javascript:void(0)">Air Cargo</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Ship Cargo</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tree-list-group">
                                <div class="list-container">
                                    <a href="javascript:void(0)" class="tree-link">Electronics</a>
                                </div>
                                <ul class="list-unstyled inner-list-group">
                                    <li>
                                        <a href="javascript:void(0)">Telivision - Electronic</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Washing MAchine - Electronic</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Smart Phone - Electronic</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">KItchen Appliances -Electronic </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Air Coolers - Electronic</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tree-list-group">
                                <div class="list-container">
                                    <a href="javascript:void(0)" class="tree-link">Beauty,Toy</a>
                                </div>
                                <ul class="list-unstyled inner-list-group">
                                    <li>
                                        <a href="javascript:void(0)">Beauty</a>
                                        <ul class="list-unstyled inner-list-group-2">
                                            <li>
                                                <a href="javascript:void(0)">Washing MAchine - Electronic</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">KItchen Appliances -Electronic </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Air Coolers - Electronic</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                            <div class="tree-list-group">
                                <div class="list-container">
                                    <a href="javascript:void(0)" class="tree-link">More Item</a>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="p-3 border-bottom border">
                <h5>vertical</h5>
            </div>
            <div class="card-body">
                <div class="vertical-tree">
                    <ul class="list-unstyled">
                        <li class="main-title">
                            <a href="javascript:void(0)" class="tree-title">Main Title</a>
                        </li>
                        <li>
                            <div class="tree-list-group">
                                <div class="list-container">
                                    <a href="javascript:void(0)" class="tree-link">
                                        <span class="avatar-xs rounded bg-light ax-flex-center-0 d-inline-flex">
                                            <i class="bi-truck fs-18"></i></span>
                                        Transports</a>
                                </div>
                                <ul class="list-unstyled inner-list-group">
                                    <li>
                                        <a href="javascript:void(0)">Air Cargo</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Ship Cargo</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tree-list-group">
                                <div class="list-container">
                                    <a href="javascript:void(0)" class="tree-link">
                                        <span class="avatar-xs rounded bg-light ax-flex-center-0 d-inline-flex">
                                            <i class="bi-plug fs-18"></i></span>
                                        Electronics</a>
                                </div>
                                <ul class="list-unstyled inner-list-group">
                                    <li>
                                        <a href="javascript:void(0)">Telivision - Electronic</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Washing MAchine - Electronic</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">KItchen Appliances -Electronic </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">Air Coolers - Electronic</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tree-list-group">
                                <div class="list-container">
                                    <a href="javascript:void(0)" class="tree-link">
                                        <span class="avatar-xs rounded bg-light ax-flex-center-0 d-inline-flex">
                                            <i class="bi-brush fs-18"></i></span>
                                        Beauty,Toy</a>
                                </div>
                                <ul class="list-unstyled inner-list-group">
                                    <li>
                                        <a href="javascript:void(0)">Beauty</a>
                                        <ul class="list-unstyled inner-list-group-2">
                                            <li>
                                                <a href="javascript:void(0)">Washing MAchine - Electronic</a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">KItchen Appliances -Electronic </a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)">Air Coolers - Electronic</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                            <div class="tree-list-group">
                                <div class="list-container">
                                    <a href="javascript:void(0)" class="tree-link">More Item</a>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>