{{!-- <div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Dashboard</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>

        </div>
    </div>
</div> --}}

<div class="row">
    <div class="h-100">
        <div class="card">
            <div class="card-header bg-white">
                <h5 class="mb-0">Border</h5>
            </div>
            <div class="card-body">
                <h6 class="w-100 fs-14">Additive</h6>
                <div class="bd-example-utils">
                <div class="bd-example-utils-item">
                    <span class="border"></span>
                    <code>.border</code>
                </div>
                <div class="bd-example-utils-item">
                    <span class="border-top"></span>
                    <code>.border-top</code>
                </div>
                <div class="bd-example-utils-item">
                    <span class="border-end"></span>
                    <code>.border-end</code>
                </div>
                <div class="bd-example-utils-item">
                    <span class="border-bottom"></span>
                    <code>.border-bottom</code>
                </div>
                <div class="bd-example-utils-item">
                    <span class="border-start"></span>
                    <code>.border-start</code>
                </div>
                </div><!--- end border additive exaple -->
                
                <hr>

                <h6 class="w-100 fs-14">Subtractive</h6>
                <div class="bd-example-utils">
                    <div class="bd-example-utils-item">
                        <span class="border border-0"></span>
                        <code>.border-0</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-top-0"></span>
                        <code>.border-top-0</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-end-0"></span>
                        <code>.border-end-0</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-bottom-0"></span>
                        <code>.border-bottom-0</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-start-0"></span>
                        <code>.border-start-0</code>
                    </div>
                </div><!--- end border substractive exaple -->

                <hr>
                <h6 class="w-100 fs-14">Border Color</h6>
                <div class="bd-example-utils">
                    <div class="bd-example-utils-item">
                        <span class="border border-primary"></span>
                        <code>.border-primary</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-primary-subtle"></span>
                        <code>.border-primary-subtle</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-secondary"></span>
                        <code>.border-secondary</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-secondary-subtle"></span>
                        <code>.border-secondary-subtle</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-warning"></span>
                        <code>.border-warning</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-warning-subtle"></span>
                        <code>.border-warning-subtle</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-danger"></span>
                        <code>.border-danger</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-danger-subtle"></span>
                        <code>.border-danger-subtle</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-info"></span>
                        <code>.border-info</code>
                    </div><div class="bd-example-utils-item">
                        <span class="border border-info-subtle"></span>
                        <code>.border-info-subtle</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-dark"></span>
                        <code>.border-dark</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-dark-subtle"></span>
                        <code>.border-dark-subtle</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-light"></span>
                        <code>.border-light</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-light-subtle"></span>
                        <code>.border-light-subtle</code>
                    </div>
                </div><!--- end border color exaple -->

                 

                <hr>
                <h6 class="w-100 fs-14">Border Width</h6>
                 <div class="bd-example-utils">
                    <div class="bd-example-utils-item">
                        <span class="border border-1"></span>
                        <code>.border-1</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-2"></span>
                        <code>.border-2</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-3"></span>
                        <code>.border-3</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-4"></span>
                        <code>.border-4</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border border-5"></span>
                        <code>.border-5</code>
                    </div>
                 </div><!--- end border width exaple -->
                 <hr>
                <h6 class="w-100 fs-14">Border Radius</h6>
                 <div class="bd-example-utils">
                    <div class="bd-example-utils-item">
                        <span class="border rounded"></span>
                        <code>.rounded</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border rounded-top"></span>
                        <code>.rounded-top</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border rounded-end"></span>
                        <code>.rounded-end</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border rounded-bottom"></span>
                        <code>.rounded-bottom</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border rounded-start"></span>
                        <code>.rounded-start</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border rounded-circle"></span>
                        <code>.rounded-circle</code>
                    </div>
                    <div class="bd-example-utils-item">
                        <span class="border rounded-pill w-100"></span>
                        <code>.rounded-pill</code>
                    </div>
                 </div><!--- end border radius exaple -->
            </div>
        </div><!-- end card -->  

        <div class="card">
            <div class="card-header bg-white">
                <h5 class="mb-0">Colors</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class="fs-14">Text Color</h6>
                        <p class="text-primary">.text-primary</p>
                        <p class="text-primary-emphasis">.text-primary-emphasis</p>
                        <p class="text-secondary">.text-secondary</p>
                        <p class="text-secondary-emphasis">.text-secondary-emphasis</p>
                        <p class="text-success">.text-success</p>
                        <p class="text-success-emphasis">.text-success-emphasis</p>
                        <p class="text-danger">.text-danger</p>
                        <p class="text-danger-emphasis">.text-danger-emphasis</p>
                        <p class="text-warning bg-dark">.text-warning</p>
                        <p class="text-warning-emphasis">.text-warning-emphasis</p>
                        <p class="text-info bg-dark">.text-info</p>
                        <p class="text-info-emphasis">.text-info-emphasis</p>
                        <p class="text-light bg-dark">.text-light</p>
                        <p class="text-light-emphasis">.text-light-emphasis</p>
                        <p class="text-dark bg-white">.text-dark</p>
                        <p class="text-dark-emphasis">.text-dark-emphasis</p>

                        

                        <p class="text-black bg-white">.text-black</p>
                        <p class="text-white bg-dark">.text-white</p>
                        <p class="text-black-50 bg-white">.text-black-50</p>
                        <p class="text-white-50 bg-dark">.text-white-50</p>
                    </div>
                    <div class="col-sm-6">
                        <h6 class="fs-14">Text Opacity</h6>
                        <div class="text-primary">This is default primary text</div>
                        <div class="text-primary text-opacity-75">This is 75% opacity primary text</div>
                        <div class="text-primary text-opacity-50">This is 50% opacity primary text</div>
                        <div class="text-primary text-opacity-25">This is 25% opacity primary text</div>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->

        <div class="card">
            <div class="card-header bg-white">Nation</div>
            <div class="card-body">
                <p>Display utility classes that apply to all breakpoints, from <code>xs </code>to <code>xxl </code>, have no breakpoint abbreviation in them. This is because those classes are applied from <code>min-width: 0;</code>and up, and thus are not bound by a media query. The remaining breakpoints, however, do include a breakpoint abbreviation.</p>
            <div class="row">
                <div class="col-sm-6">
                    <p>As such, the classes are named using the format:</p>
                    <ul>
                        <li><code>.d-{value}</code> for <code>xs</code></li>
                        <li><code>.d-{breakpoint}-{value}</code> for <code>sm</code>, <code>md</code>, <code>lg</code>, <code>xl</code>, and <code>xxl</code>.</li>
                    </ul>
                    <p>Where <em>value</em> is one of:</p>

                    <ul>
                        <li><code>none</code></li>
                        <li><code>inline</code></li>
                        <li><code>inline-block</code></li>
                        <li><code>block</code></li>
                        <li><code>grid</code></li>
                        <li><code>inline-grid</code></li>
                        <li><code>table</code></li>
                        <li><code>table-cell</code></li>
                        <li><code>table-row</code></li>
                        <li><code>flex</code></li>
                        <li><code>inline-flex</code></li>
                    </ul>
                </div><!-- end col -->
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-inline p-2 text-bg-primary">d-inline</div>
                            <div class="d-inline p-2 text-bg-dark">d-inline</div>
                        </div>
                        <div class="card-footer">
<pre><code class="language-html">
    <div class="d-inline p-2 text-bg-primary">d-inline</div>
</code></pre>
                            <code><div class="d-inline p-2 text-bg-dark">d-inline</div></code>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="col-sm-12">
                    <h4 id="hiding-elements">Hiding elements <a class="anchor-link" href="#hiding-elements" aria-label="Link to this section: Hiding elements"></a></h4>
                    <p>To show an element only on a given interval of screen sizes you can combine one <code>.d-*-none</code> class with a <code>.d-*-*</code> class, for example <code>.d-none .d-md-block .d-xl-none .d-xxl-none</code> will hide the element for all screen sizes except on medium and large devices.</p>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                        <th>Screen size</th>
                        <th>Class</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>Hidden on all</td>
                        <td><code>.d-none</code></td>
                        </tr>
                        <tr>
                        <td>Hidden only on xs</td>
                        <td><code>.d-none .d-sm-block</code></td>
                        </tr>
                        <tr>
                        <td>Hidden only on sm</td>
                        <td><code>.d-sm-none .d-md-block</code></td>
                        </tr>
                        <tr>
                        <td>Hidden only on md</td>
                        <td><code>.d-md-none .d-lg-block</code></td>
                        </tr>
                        <tr>
                        <td>Hidden only on lg</td>
                        <td><code>.d-lg-none .d-xl-block</code></td>
                        </tr>
                        <tr>
                        <td>Hidden only on xl</td>
                        <td><code>.d-xl-none .d-xxl-block</code></td>
                        </tr>
                        <tr>
                        <td>Hidden only on xxl</td>
                        <td><code>.d-xxl-none</code></td>
                        </tr>
                        <tr>
                        <td>Visible on all</td>
                        <td><code>.d-block</code></td>
                        </tr>
                        <tr>
                        <td>Visible only on xs</td>
                        <td><code>.d-block .d-sm-none</code></td>
                        </tr>
                        <tr>
                        <td>Visible only on sm</td>
                        <td><code>.d-none .d-sm-block .d-md-none</code></td>
                        </tr>
                        <tr>
                        <td>Visible only on md</td>
                        <td><code>.d-none .d-md-block .d-lg-none</code></td>
                        </tr>
                        <tr>
                        <td>Visible only on lg</td>
                        <td><code>.d-none .d-lg-block .d-xl-none</code></td>
                        </tr>
                        <tr>
                        <td>Visible only on xl</td>
                        <td><code>.d-none .d-xl-block .d-xxl-none</code></td>
                        </tr>
                        <tr>
                        <td>Visible only on xxl</td>
                        <td><code>.d-none .d-xxl-block</code></td>
                        </tr>
                        </tbody>
                        </table>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-white">Flex</div>
            <div class="card-body">
                <h4>Enable flex behaviors <a class="anchor-link" href="#enable-flex-behaviors" aria-label="Link to this section: Enable flex behaviors"></a></h4>
                <p><p>Apply <code>display</code> utilities to create a flexbox container and transform <strong>direct children elements</strong> into flex items. Flex containers and items are able to be modified further with additional flex properties.</p></p>
                <p>Responsive variations also exist for <code>.d-flex</code> and <code>.d-inline-flex</code>.</p>
                <div class="row">
                    <div class="col-sm-6">
                        <ul>
                        <li><code>.d-flex</code></li>
                        <li><code>.d-inline-flex</code></li>
                        <li><code>.d-sm-flex</code></li>
                        <li><code>.d-sm-inline-flex</code></li>
                        <li><code>.d-md-flex</code></li>
                        <li><code>.d-md-inline-flex</code></li>
                        <li><code>.d-lg-flex</code></li>
                        <li><code>.d-lg-inline-flex</code></li>
                        <li><code>.d-xl-flex</code></li>
                        <li><code>.d-xl-inline-flex</code></li>
                        <li><code>.d-xxl-flex</code></li>
                        <li><code>.d-xxl-inline-flex</code></li>
                        </ul>

                        <p>Responsive variations also exist for <code>flex-direction</code>.</p>
                        <ul>
                        <li><code>.flex-row</code></li>
                        <li><code>.flex-row-reverse</code></li>
                        <li><code>.flex-column</code></li>
                        <li><code>.flex-column-reverse</code></li>
                        <li><code>.flex-sm-row</code></li>
                        <li><code>.flex-sm-row-reverse</code></li>
                        <li><code>.flex-sm-column</code></li>
                        <li><code>.flex-sm-column-reverse</code></li>
                        <li><code>.flex-md-row</code></li>
                        <li><code>.flex-md-row-reverse</code></li>
                        <li><code>.flex-md-column</code></li>
                        <li><code>.flex-md-column-reverse</code></li>
                        <li><code>.flex-lg-row</code></li>
                        <li><code>.flex-lg-row-reverse</code></li>
                        <li><code>.flex-lg-column</code></li>
                        <li><code>.flex-lg-column-reverse</code></li>
                        <li><code>.flex-xl-row</code></li>
                        <li><code>.flex-xl-row-reverse</code></li>
                        <li><code>.flex-xl-column</code></li>
                        <li><code>.flex-xl-column-reverse</code></li>
                        <li><code>.flex-xxl-row</code></li>
                        <li><code>.flex-xxl-row-reverse</code></li>
                        <li><code>.flex-xxl-column</code></li>
                        <li><code>.flex-xxl-column-reverse</code></li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h5>Direction</h5>
                        <p>Use <code>.flex-row</code> to set a horizontal direction (the browser default), or <code>.flex-row-reverse</code> to start the horizontal direction from the opposite side.</p>
                        <div class="bs-example-flex m-0 border-0 mt-3">
                        <div class="d-flex flex-row mb-3">
                        <div class="p-2">Flex item 1</div>
                        <div class="p-2">Flex item 2</div>
                        <div class="p-2">Flex item 3</div>
                        </div>
                        <div class="d-flex flex-row-reverse">
                        <div class="p-2">Flex item 1</div>
                        <div class="p-2">Flex item 2</div>
                        <div class="p-2">Flex item 3</div>
                        </div>
                        </div>

                        <div class="bs-example-flex m-0 border-0 mt-3">
                        <div class="d-flex flex-column mb-3">
                        <div class="p-2">Flex item 1</div>
                        <div class="p-2">Flex item 2</div>
                        <div class="p-2">Flex item 3</div>
                        </div>
                        <div class="d-flex flex-column-reverse">
                        <div class="p-2">Flex item 1</div>
                        <div class="p-2">Flex item 2</div>
                        <div class="p-2">Flex item 3</div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>