<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between mb-3">
            <h4 class="mb-sm-0">Vector Maps</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Js-Vector-Map </a></li>
                    <li class="breadcrumb-item active">Vector Maps</li>
                </ol>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">Markers</h5>
            </div>
            <div class="card-body">
                <div id="map" class="mapboard"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">World Vector Map With Circle Marker</h5>
            </div>
            <div class="card-body">
                <div id="circlemarker" class="mapboard"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    World Vector Map With Image Marker
                </h5>
            </div>
            <div class="card-body">
                <div id="img-marker" class="mapboard"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Vector USA Map
                </h5>
            </div>
            <div class="card-body">
                <div id="mapUSA" class="mapboard"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Vector Spain Map
                </h5>
            </div>
            <div class="card-body">
                <div id="mapSpain" class="mapboard"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Vector Russia Map
                </h5>
            </div>
            <div class="card-body">
                <div id="mapRussia" class="mapboard"></div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h5 class="mb-0">
                    Vector Canada Map
                </h5>
            </div>
            <div class="card-body">
                <div id="mapCanada" class="mapboard"></div>
            </div>
        </div>
    </div><!-- end col -->


</div><!-- end row -->