<div class="row">
    <div class="col-12">
        <div class="page-title-wrap d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Widgets</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Advanced UI</a></li>
                    <li class="breadcrumb-item active">Widgets</li>
                </ol>
            </div>

        </div>
    </div>
</div><!-- row end -->
<div class="row">
    <!-- col end -->
    <div class="col-xl-3 col-md-6">
        <div class="card p-3">
            <div class="d-flex justify-content-between">
                <div>
                    <h4>$36712</h4>
                    <p class="text-muted mb-0">Total Revenue</p>
                </div>
                <div id="total-revenue-chart"></div>
            </div>
            <p class="text-mutedt mt-3 mb-0">
                <span class="text-success me-1">
                    <i class="bi-arrow-up"></i>
                    3.5% </span> since last week
            </p>
        </div>
    </div>
    <!-- col end -->
    <div class="col-xl-3 col-md-6">
        <div class="card p-3">
            <div class="d-flex justify-content-between">
                <div>
                    <h4>3612</h4>
                    <p class="text-muted mb-0">Order</p>
                </div>
                <div id="orders-chart"></div>

            </div>
            <p class="text-mutedt mt-3 mb-0">
                <span class="text-danger me-1">
                    <i class="bi-arrow-down"></i>
                    3.5% </span> since last week
            </p>
        </div>
    </div>
    <!-- col end -->
    <div class="col-xl-3 col-md-6">
        <div class="card p-3">
            <div class="d-flex justify-content-between">
                <div>
                    <h4>23612</h4>
                    <p class="text-muted mb-0">Customers</p>
                </div>
                <div id="customers-chart"></div>
            </div>
            <p class="text-mutedt mt-3 mb-0">
                <span class="text-danger me-1">
                    <i class="bi-arrow-down"></i>
                    7.5% </span> since last week
            </p>
        </div>
    </div>
    <!-- col end -->
    <div class="col-xl-3 col-md-6">
        <div class="card p-3">
            <div class="d-flex justify-content-between">
                <div>
                    <h4>23612</h4>
                    <p class="text-muted mb-0">Growth</p>
                </div>
                <div id="growth-chart"></div>
            </div>
            <p class="text-mutedt mt-3 mb-0">
                <span class="text-danger me-1">
                    <i class="bi-arrow-up"></i>
                    10.5% </span> since last week
            </p>
        </div>
    </div>
    <!-- col end -->

</div><!-- end row -->
<div class="row">
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar-sm ax-flex-center-0 bg-rgba-primary text-primary rounded-circle">
                            <div class="fs-18">
                                <i class="bi-list"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="mb-1 text-truncate text-muted">Tasks</p>
                        <h5 class="fs-16 mb-0">21</h5>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar-sm ax-flex-center-0 bg-rgba-primary text-primary rounded-circle">
                            <div class="fs-18">
                                <i class="bi-check-circle"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="mb-1 text-truncate text-muted">Tasks Completed</p>
                        <h5 class="fs-16 mb-0">14</h5>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar-sm ax-flex-center-0 bg-rgba-primary text-primary rounded-circle">
                            <div class="fs-18">
                                <i class="bi-people"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="mb-1 text-truncate text-muted">Team Members</p>
                        <h5 class="fs-16 mb-0">14</h5>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-3 col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar-sm ax-flex-center-0 bg-rgba-primary text-primary rounded-circle">
                            <div class="fs-18">
                                <i class="bi-clock"></i>
                            </div>
                        </div>
                    </div>
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="mb-1 text-truncate text-muted">Hours</p>
                        <h5 class="fs-16 mb-0">1489</h5>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
</div><!-- end row -->

<div class="row">
    <div class="col-xl-4">
        <div class="card">
            <div class="d-flex justify-content-between p-3">
                <h5 class="card-title mb-0">Top Users</h5>
                <div class="dropdown">
                    <a class=" dropdown-toggle" href="#" id="dropdownMenu2" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="text-muted">All Members</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                        <a class="dropdown-item" href="#">Locations</a>
                        <a class="dropdown-item" href="#">Revenue</a>
                        <a class="dropdown-item" href="#">Join Date</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ol class="activity-list-wrap mb-0 ps-2 pe-2" data-simplebar>
                    <li class="act-item">
                        <div class="act-item-list">
                            <p class="text-muted mb-1 fs-13">Today<small class="d-inline-block ms-1">12:20 pm</small>
                            </p>
                            <p class="mb-0">Andrei Coman magna sed porta finibus, risus
                                posted a new article: <span class="text-primary">Forget UX
                                    Rowland</span></p>
                        </div>
                    </li>
                    <li class="act-item">
                        <p class="text-muted mb-1 fs-13">22 Jul, 2020 <small class="d-inline-block ms-1">12:36
                                pm</small></p>
                        <p class="mb-0">Andrei Coman posted a new article: <span class="text-primary">Designer
                                Alex</span></p>
                    </li>
                    <li class="act-item">
                        <p class="text-muted mb-1 fs-13">18 Jul, 2020 <small class="d-inline-block ms-1">07:56
                                am</small></p>
                        <p class="mb-0">Zack Wetass, sed porta finibus, risus Chris Wallace
                            Commented <span class="text-primary"> Developer Moreno</span></p>
                    </li>
                    <li class="act-item">
                        <p class="text-muted mb-1 fs-13">10 Jul, 2020 <small class="d-inline-block ms-1">08:42
                                pm</small></p>
                        <p class="mb-0">Zack Wetass, Chris combined Commented <span class="text-primary">UX
                                Murphy</span></p>
                    </li>

                    <li class="act-item">
                        <p class="text-muted mb-1 fs-13">23 Jun, 2020 <small class="d-inline-block ms-1">12:22
                                am</small></p>
                        <p class="mb-0">Zack Wetass, sed porta finibus, risus Chris Wallace
                            Commented <span class="text-primary"> Developer Moreno</span></p>
                    </li>
                    <li class="act-item pb-1">
                        <p class="text-muted mb-1 fs-13">20 Jun, 2020 <small class="d-inline-block ms-1">09:48
                                pm</small></p>
                        <p class="mb-0">Zack Wetass, Chris combined Commented <span class="text-primary">UX
                                Murphy</span></p>
                    </li>

                </ol>
            </div>
        </div>
    </div> <!-- col end -->
    <div class="col-xl-4">
        <div class="card">
            <div class="d-flex justify-content-between p-3">
                <h5 class="card-title mb-0">Project Status</h5>
                <div class="dropdown">
                    <a class=" dropdown-toggle" href="#" id="project-status" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <span class="text-muted">Sort by</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="project-status">
                        <a class="dropdown-item" href="#">Daily</a>
                        <a class="dropdown-item" href="#">Weekly</a>
                        <a class="dropdown-item" href="#">Monthly</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div id="donut-chart"></div>
                <div class="d-flex justify-content-center align-items-center mt-3 mb-4">
                    <h2 class="me-3 ff-secondary mb-0">258</h2>
                    <div>
                        <p class="text-muted mb-0">Total Projects</p>
                        <p class="text-success fw-medium mb-0">
                            <span class="badge bg-rgba-success p-1 rounded-circle">
                                <i class="bi-arrow-90deg-up"></i></span> +3 New
                        </p>
                    </div>
                </div>
                <div class="border-top ">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="d-inline-flex align-items-center py-2">
                                <span class="p-1 rounded-circle bg-success justify-content-center me-1"></span>
                                <h6 class="mb-0">Competed </h6>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="d-inline-flex align-items-center py-2">
                                <span class="p-1 rounded-circle bg-warning justify-content-center me-1"></span>
                                <h6 class="mb-0">Pending </h6>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="d-inline-flex align-items-center py-2">
                                <span class="p-1 rounded-circle bg-danger justify-content-center me-1"></span>
                                <h6 class="mb-0">Pending </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end col -->
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <div id="worldmap-markers" class="w-100" style="height: 240px"></div>

                <div class="pt-3 px-2 pb-2">
                    <p class="mb-1 fw-medium">USA <span class="float-end">75%</span></p>
                    <div class="progress progress-sm mt-2">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="75">
                        </div>
                    </div>

                    <p class="mt-4 mb-1 fw-medium">Russia <span class="float-end">55%</span></p>
                    <div class="progress progress-sm mt-2">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                            style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="55">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-bg">
                <div class="d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">All Task</h5>
                    <div>
                        <button class="btn btn-sm btn-primary"><i class="bi bi-plus"></i> Create Task</button>
                        <div class="dropdown d-inline"> <a aria-label="anchor" href="javascript: void(0);" class="btn btn-sm btn-rgba-info" data-bs-toggle="dropdown" aria-expanded="false"> <i class="bi-three-dots-vertical"></i> </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="javascript: void(0);">New Task</a></li>
                                <li><a class="dropdown-item" href="javascript: void(0);">On Going Task</a></li>
                                <li><a class="dropdown-item" href="javascript: void(0);">Completed Task</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table nowrap table-bordered align-middle">
                        <thead>
                            <tr>
                                <th><div class="form-check mb-0"><input type="checkbox" class="form-check-input"></div></th>
                                <th>Task</th>
                                <th>Task ID</th>
                                <th>Assigned To</th>
                                <th>Status</th>
                                <th>Assigned Date</th>
                                <th>Due Date</th>
                                <th>Preority</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check mb-0"><input type="checkbox" class="form-check-input"></div>
                                </td>
                                <td>Design a logo</td>
                                <td>ACT-07</td>
                                <td>
                                    <div id="tooltip-container" class="avatar-stacked">
                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 1">
                                            <img src="/img/user-1.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>

                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 2">
                                            <img src="/img/User-2.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>

                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 3">
                                            <img src="/img/user-3.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>
                                        <a href="javascript:void(0);" class="rounded-circle d-inline-flex text-white ax-flex-center-0 avatar-xs bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Team Member 4">
                                            +3
                                        </a>
                                    </div>
                                </td>
                                <td><div class="text-primary">New</div></td>
                                <td>04-08-2023</td>
                                <td>10-08-2023</td>
                                <td><span class="badge bg-rgba-info text-capitalize">medium</span></td>
                                <td>
                                    <button class="btn btn-sm btn-icon text-hover-primary"><i class="bi bi-pencil"></i></button>
                                    <button class="btn btn-sm btn-icon text-hover-danger"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check mb-0"><input type="checkbox" class="form-check-input"></div>
                                </td>
                                <td>Website SEO</td>
                                <td>ACT-01</td>
                                <td>
                                    <div id="tooltip-container" class="avatar-stacked">
                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 1">
                                            <img src="/img/user-4.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>

                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 3">
                                            <img src="/img/user-5.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>
                                        <a href="javascript:void(0);" class="rounded-circle d-inline-flex text-white ax-flex-center-0 avatar-xs bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Team Member 4">
                                            +3
                                        </a>
                                    </div>
                                </td>
                                <td><div class="text-info">Inprogress</div></td>
                                <td>04-08-2023</td>
                                <td>10-08-2023</td>
                                <td><span class="badge bg-rgba-success text-capitalize">low</span></td>
                                <td>
                                    <button class="btn btn-sm btn-icon text-hover-primary"><i class="bi bi-pencil"></i></button>
                                    <button class="btn btn-sm btn-icon text-hover-danger"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check mb-0"><input type="checkbox" class="form-check-input" checked=""></div>
                                </td>
                                <td>Create content for a website</td>
                                <td>ACT-12</td>
                                <td>
                                    <div id="tooltip-container" class="avatar-stacked">
                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 1">
                                            <img src="/img/user-6.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>

                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 2">
                                            <img src="/img/user-7.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>

                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 3">
                                            <img src="/img/user-8.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>
                                        <a href="javascript:void(0);" class="rounded-circle d-inline-flex text-white ax-flex-center-0 avatar-xs bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Team Member 4">
                                            +2
                                        </a>
                                    </div>
                                </td>
                                <td><div class="text-warning">Pending</div></td>
                                <td>04-08-2023</td>
                                <td>10-08-2023</td>
                                <td><span class="badge bg-rgba-danger text-capitalize">High</span></td>
                                <td>
                                    <button class="btn btn-sm btn-icon text-hover-primary"><i class="bi bi-pencil"></i></button>
                                    <button class="btn btn-sm btn-icon text-hover-danger"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check mb-0"><input type="checkbox" class="form-check-input"></div>
                                </td>
                                <td>Design a new landing page</td>
                                <td>ACT-01</td>
                                <td>
                                    <div id="tooltip-container" class="avatar-stacked">
                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 1">
                                            <img src="/img/user-1.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>

                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 2">
                                            <img src="/img/user-2.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>

                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 3">
                                            <img src="/img/user-3.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>
                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 3">
                                            <img src="/img/user-4.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>
                                        <a href="javascript:void(0);" class="rounded-circle d-inline-flex text-white ax-flex-center-0 avatar-xs bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Team Member 4">
                                            +1
                                        </a>
                                    </div>
                                </td>
                                <td><div class="text-success">Completed</div></td>
                                <td>04-08-2023</td>
                                <td>10-08-2023</td>
                                <td><span class="badge bg-rgba-info text-capitalize">medium</span></td>
                                <td>
                                    <button class="btn btn-sm btn-icon text-hover-primary"><i class="bi bi-pencil"></i></button>
                                    <button class="btn btn-sm btn-icon text-hover-danger"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check mb-0"><input type="checkbox" class="form-check-input" checked=""></div>
                                </td>
                                <td>Develop a android application for travel</td>
                                <td>ACT-03</td>
                                <td>
                                    <div id="tooltip-container" class="avatar-stacked">
                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 1">
                                            <img src="/img/user-5.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>

                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 2">
                                            <img src="/img/user-6.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>

                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 3">
                                            <img src="/img/user-7.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>
                                        <a href="javascript:void(0);" class="rounded-circle d-inline-flex text-white ax-flex-center-0 avatar-xs bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Team Member 4">
                                            +2
                                        </a>
                                    </div>
                                </td>
                                <td><div class="text-primary">New</div></td>
                                <td>04-08-2023</td>
                                <td>10-08-2023</td>
                                <td><span class="badge bg-rgba-danger text-capitalize">High</span></td>
                                <td>
                                    <button class="btn btn-sm btn-icon text-hover-primary"><i class="bi bi-pencil"></i></button>
                                    <button class="btn btn-sm btn-icon text-hover-danger"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check mb-0"><input type="checkbox" class="form-check-input"></div>
                                </td>
                                <td>Fixing some bug</td>
                                <td>ACT-16</td>
                                <td>
                                    <div id="tooltip-container" class="avatar-stacked">
                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 1">
                                            <img src="/img/user-1.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>

                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 3">
                                            <img src="/img/user-2.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>
                                        <a href="javascript:void(0);" class="rounded-circle d-inline-flex text-white ax-flex-center-0 avatar-xs bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Team Member 4">
                                            +3
                                        </a>
                                    </div>
                                </td>
                                <td><div class="text-warning">Pending</div></td>
                                <td>04-08-2023</td>
                                <td>10-08-2023</td>
                                <td><span class="badge bg-rgba-success text-capitalize">low</span></td>
                                <td>
                                    <button class="btn btn-sm btn-icon text-hover-primary"><i class="bi bi-pencil"></i></button>
                                    <button class="btn btn-sm btn-icon text-hover-danger"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                            {{!-- <tr>
                                <td>
                                    <div class="form-check mb-0"><input type="checkbox" class="form-check-input"></div>
                                </td>
                                <td>Change UI of old website</td>
                                <td>ACT-20</td>
                                <td>
                                    <div id="tooltip-container" class="avatar-stacked">
                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 1">
                                            <img src="/img/user-4.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>

                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" class="d-inline-block" title="Team Member 3">
                                            <img src="/img/user-5.jpg" class="rounded-circle avatar-xs" alt="friend">
                                        </a>
                                        <a href="javascript:void(0);" class="rounded-circle d-inline-flex text-white ax-flex-center-0 avatar-xs bg-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="Team Member 4">
                                            +3
                                        </a>
                                    </div>
                                </td>
                                <td><div class="text-info">Inprogress</div></td>
                                <td>04-08-2023</td>
                                <td>10-08-2023</td>
                                <td><span class="badge bg-rgba-info text-capitalize">medium</span></td>
                                <td>
                                    <button class="btn btn-sm btn-icon text-hover-primary"><i class="bi bi-pencil"></i></button>
                                    <button class="btn btn-sm btn-icon text-hover-danger"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr> --}}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="card">
           <div class="card-body p-0">
            <div class="p-3 d-flex border-bottom">
                <div class="avatar-sm ax-flex-center-0 bg-rgba-primary rounded me-4">
                    <i class="bi bi-file-earmark-medical fs-22"></i>
                </div>
                <div class="flex-grow-1">
                    <h6>New Task <span class="float-end badge bg-primary">324</span></h6>
                    <div class="mt-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <h4 class="mb-0">12</h4>
                            <span class="float-end text-muted fs-11">
                                <span class="text-success"><i class="bi bi-arrow-up"></i> 12%</span> This month
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3 d-flex border-bottom">
                <div class="avatar-sm ax-flex-center-0 bg-rgba-warning rounded me-4">
                    <i class="bi bi-file-earmark-text fs-22"></i>
                </div>
                <div class="flex-grow-1">
                    <h6>Pending Tasks <span class="float-end badge bg-warning">124</span></h6>
                    <div class="mt-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <h4 class="mb-0">19</h4>
                            <span class="float-end text-muted fs-11">
                                <span class="text-danger"><i class="bi bi-arrow-down"></i> 7.5%</span> This month
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3 d-flex border-bottom">
                <div class="avatar-sm ax-flex-center-0 bg-rgba-info rounded me-4">
                    <i class="bi bi-file-earmark-text fs-22"></i>
                </div>
                <div class="flex-grow-1">
                    <h6>Inprogress Tasks <span class="float-end badge bg-info">124</span></h6>
                    <div class="mt-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <h4 class="mb-0">16</h4>
                            <span class="float-end text-muted fs-11">
                                <span class="text-danger"><i class="bi bi-arrow-down"></i> 4.5%</span> This month
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3 d-flex border-bottom">
                <div class="avatar-sm ax-flex-center-0 bg-rgba-success rounded me-4">
                    <i class="bi bi-file-earmark-text fs-22"></i>
                </div>
                <div class="flex-grow-1">
                    <h6>Completed Tasks <span class="float-end badge bg-success">1324</span></h6>
                    <div class="mt-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <h4 class="mb-0">34</h4>
                            <span class="float-end text-muted fs-11">
                                <span class="text-danger"><i class="bi bi-arrow-down"></i> 2%</span> This month
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-3 d-flex border-bottom">
                <div class="avatar-sm ax-flex-center-0 bg-rgba-danger rounded me-4">
                    <i class="bi bi-file-earmark-x fs-22"></i>
                </div>
                <div class="flex-grow-1">
                    <h6>Removed Tasks <span class="float-end badge bg-danger">124</span></h6>
                    <div class="mt-0">
                        <div class="d-flex align-items-center justify-content-between">
                            <h4 class="mb-0">34</h4>
                            <span class="float-end text-muted fs-11">
                                <span class="text-danger"><i class="bi bi-arrow-down"></i> 2%</span> This month
                            </span>
                        </div>
                    </div>
                </div>
            </div>
           </div>
        </div><!-- end card -->
    </div>
    <div class="col-lg-3">
        <div class="card">
            <div class="card-body">
                <div class="dropdown float-end">
                <a href="#" class="dropdown-toggle arrow-none text-muted" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-horizontal fs-18"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end" data-popper-placement="bottom-end">
                        <!-- item-->
                        <a href="javascript:void(0);" class="dropdown-item"> <i class="bi bi-paperclip me-1"></i> Attachment </a>
                        <a href="javascript:void(0);" class="dropdown-item"> <i class="bi bi-pencil me-1"></i> Edit </a>
                        <a href="javascript:void(0);" class="dropdown-item"> <i class="bi bi-copy me-1"></i> Mark as Duplicate </a>
                        <div class="dropdown-divider"></div>
                        <a href="javascript:void(0);" class="dropdown-item text-danger"> <i class="bi bi-trash me-1"></i> Delete </a>
                    </div>
                </div>
                <!-- end dropdown-->

                <h5 class="card-title fs-16 mb-3">Attachments</h5>

                <div class="card mb-1 shadow-none border">
                <div class="p-2">
                    <div class="row align-items-center">
                    <div class="col-auto">
                        <div class="avatar-sm ax-flex-center-0 bg-rgba-primary rounded">
                        <span class=""> ZIP </span>
                        </div>
                    </div>
                    <div class="col ps-0">
                        <a href="javascript:void(0);" class="text-muted fw-bold">Ubold-figma-design.zip</a>
                        <p class="mb-0 fs-12">3.3 MB</p>
                    </div>
                    <div class="col-auto">
                        <!-- Button -->
                        <a href="javascript:void(0);" class="btn btn-link fs-16 text-muted">
                        <i class="bi bi-download"></i>
                        </a>
                    </div>
                    </div>
                </div>
                </div>

                <div class="card mb-1 shadow-none border">
                <div class="p-2">
                    <div class="row align-items-center">
                    <div class="col-auto">
                        <div class="avatar-sm ax-flex-center-0 bg-rgba-success rounded">
                        <span class=""> JPG </span>
                        </div>
                    </div>
                    <div class="col ps-0">
                        <a href="javascript:void(0);" class="text-muted fw-bold">Dashboard-design.jpg</a>
                        <p class="mb-0 fs-12">3.25 MB</p>
                    </div>
                    <div class="col-auto">
                        <!-- Button -->
                        <a href="javascript:void(0);" class="btn btn-link fs-16 text-muted">
                        <i class="bi bi-download"></i>
                        </a>
                    </div>
                    </div>
                </div>
                </div>

                <div class="card mb-1 shadow-none border">
                <div class="p-2">
                    <div class="row align-items-center">
                    <div class="col-auto">
                        <div class="avatar-sm ax-flex-center-0 bg-rgba-secondary rounded">
                        <span class=""> MP4 </span>
                        </div>
                    </div>
                    <div class="col ps-0">
                        <a href="javascript:void(0);" class="text-muted fw-bold">Admin-bug-report.mp4</a>
                        <p class="mb-0 fs-12">7.05 MB</p>
                    </div>
                    <div class="col-auto">
                        <!-- Button -->
                        <a href="javascript:void(0);" class="btn btn-link fs-16 text-muted">
                        <i class="bi bi-download"></i>
                        </a>
                    </div>
                    </div>
                </div>
                </div>
                <div class="card mb-0 shadow-none border">
                <div class="p-2">
                    <div class="row align-items-center">
                    <div class="col-auto">
                        <div class="avatar-sm ax-flex-center-0 bg-rgba-danger rounded">
                        <span class=""> MP3 </span>
                        </div>
                    </div>
                    <div class="col ps-0">
                        <a href="javascript:void(0);" class="text-muted fw-bold">Admin-msg.mp3</a>
                        <p class="mb-0 fs-12">3.05 MB</p>
                    </div>
                    <div class="col-auto">
                        <!-- Button -->
                        <a href="javascript:void(0);" class="btn btn-link fs-16 text-muted">
                        <i class="bi bi-download"></i>
                        </a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div><!-- end card -->
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-xxl-3">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-img-h">
                <img class="card-img-top" src="/img/pattern-1.jpg" alt="">
            </div>
            <div class="card-img-overlay">
                <div class="badge bg-secondary">Ongoing</div>
            </div>
            <div class="card-body">
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-heading">Web development</a>
                </h4>
                <!-- project detail-->
                <p class="mb-1">
                    <span class="pe-3 text-nowrap mb-2 d-inline-block">
                        <i class="bi-list-ul text-muted"></i>
                        <b>12</b> Tasks
                    </span>
                    <span class="text-nowrap mb-2 d-inline-block">
                        <i class="bi-chat-dots text-muted"></i>
                        <b>174</b> Comments
                    </span>
                </p>
                <div class="mb-0">
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/image-john.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/dog-001.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/image-tanya.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" class="d-inline-block text-muted fw-bold ms-2">
                        +7 more
                    </a>
                </div>
            </div> <!-- end card-body-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">

                    <p class="mb-2 fw-bold">
                        Progress
                        <span class="float-end">60%</span>
                    </p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" style="width: 60%;">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> <!-- col end-->
    <div class="col-md-6 col-xxl-3">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-img-h">
                <img class="card-img-top" src="/img/pattern-2.jpg" alt="">
            </div>

            <div class="card-img-overlay">
                <div class="badge bg-warning">Pending</div>
            </div>
            <div class="card-body">
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-heading">IOS App development</a>
                </h4>
                <!-- project detail-->
                <p class="mb-1">
                    <span class="pe-3 text-nowrap mb-2 d-inline-block">
                        <i class="bi-list-ul text-muted"></i>
                        <b>12</b> Tasks
                    </span>
                    <span class="text-nowrap mb-2 d-inline-block">
                        <i class="bi-chat-dots text-muted"></i>
                        <b>174</b> Comments
                    </span>
                </p>
                <div class="mb-0">
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/image-john.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/dog-001.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/image-tanya.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" class="d-inline-block text-muted fw-bold ms-2">
                        +7 more
                    </a>
                </div>
            </div> <!-- end card-body-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">

                    <p class="mb-2 fw-bold">
                        Progress
                        <span class="float-end">10%</span>
                    </p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" style="width: 10%;">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> <!-- col end-->
    <div class="col-md-6 col-xxl-3">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-img-h">
                <img class="card-img-top" src="/img/pattern-3.jpg" alt="">
            </div>

            <div class="card-img-overlay">
                <div class="badge bg-success">Finished</div>
            </div>
            <div class="card-body">
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-heading">Admin Design</a>
                </h4>
                <!-- project detail-->
                <p class="mb-1">
                    <span class="pe-3 text-nowrap mb-2 d-inline-block">
                        <i class="bi-list-ul text-muted"></i>
                        <b>12</b> Tasks
                    </span>
                    <span class="text-nowrap mb-2 d-inline-block">
                        <i class="bi-chat-dots text-muted"></i>
                        <b>174</b> Comments
                    </span>
                </p>
                <div class="mb-0">
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/image-john.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/dog-001.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/image-tanya.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" class="d-inline-block text-muted fw-bold ms-2">
                        +7 more
                    </a>
                </div>
            </div> <!-- end card-body-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <p class="mb-2 fw-bold">
                        Progress
                        <span class="float-end">100%</span>
                    </p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> <!-- col end-->
    <div class="col-md-6 col-xxl-3">
        <!-- project card -->
        <div class="card d-block">
            <div class="card-img-h">
                <img class="card-img-top" src="/img/pattern-4.jpg" alt="">
            </div>

            <div class="card-img-overlay">
                <div class="badge bg-success">Finished</div>
            </div>
            <div class="card-body">
                <h4 class="mt-0">
                    <a href="apps-projects-details.html" class="text-heading">Product Design</a>
                </h4>
                <!-- project detail-->
                <p class="mb-1">
                    <span class="pe-3 text-nowrap mb-2 d-inline-block">
                        <i class="bi-list-ul text-muted"></i>
                        <b>12</b> Tasks
                    </span>
                    <span class="text-nowrap mb-2 d-inline-block">
                        <i class="bi-chat-dots text-muted"></i>
                        <b>174</b> Comments
                    </span>
                </p>
                <div class="mb-0">
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/image-john.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/dog-001.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>

                    <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top"
                        class="d-inline-block">
                        <img src="/img/image-tanya.jpg" class="rounded-circle avatar-xs" alt="friend">
                    </a>
                    <a href="javascript:void(0);" class="d-inline-block text-muted fw-bold ms-2">
                        +7 more
                    </a>
                </div>
            </div> <!-- end card-body-->
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">
                    <p class="mb-2 fw-bold">
                        Progress
                        <span class="float-end">100%</span>
                    </p>
                    <div class="progress progress-sm">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                            aria-valuemax="100" style="width: 100%;">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div> <!-- col end-->
</div>