.kanban-row{
    display: flex;
    overflow-x: auto;
    >.kanban-col{
        min-width: 18rem;
        width: 100%;
        margin-inline-end: .75rem;
        
    }
}

.kb-task {
    max-height: 500px;
    position: relative;
    margin-bottom: .75rem;
    p{
        font-size: 13px;
        color: var(--#{$prefix}color-default);
    }
}
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
  }
  .gu-hide {
    display: none !important;
  }
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }