// pagination scss start

.pagination-circle{
    .page-item{
        &.active{
            .page-link{
                border-radius: 50%;
            }
        }
    }
    .page-link{
        border: 0;
        min-height: 2em;
        min-width: 2em;
        text-align: center;
        margin: 0;
        padding: .25rem .5rem;
        border-radius: 50%;
    }

    &.pagination-lg{
        .page-link{
            padding: .75em 1.25em;
        }   
    }
}
.pagination-seprated{
    .page-item{

        .page-link{
            margin: .25rem;
        }
    }
}